<footer>
    <div class="container main-footer">
        <div class="row flex-column top-footer text-center">
            <p class="rs">(*) Sản phẩm không phải là thuốc, không có tác dụng thay thế thuốc chữa bệnh</p>
            <p class="rs">(*) Hiệu quả cảm nhận tùy theo cơ địa từng người</p>
            <a rel="noopener" target="_blank" href="#" class="logo-ft"><img alt="Dược Phẩm Nhất Nhất" class="img-fluid lazy" width="380" height="83" data-original="assets/images/logo-ft.png"/></a>
            <p class="rs text-uppercase name-ft font-weight-bold">CÔNG TY TNHH PHÂN PHỐI TRỰC TUYẾN NHẤT NHẤT</p>
            <p class="rs add-ft">Địa chỉ: số 24, ngõ 22 phố Trung Kính, phường Trung Hòa, quận Cầu Giấy, thành phố Hà Nội</p>
        </div>
        <div class="row bottom-footer">
            <div class="col-6 col-sm-4 text-left">
                <div class="item-footer">
                    <h5 class="rs font-weight-bold">Chăm sóc khách hàng</h5>
                    <ul class="rs list-link">
                        <li><a rel="noopener" href="https://5nhatnhat.com/" target="_blank">Chính sách đổi trả</a></li>
                        <li><a rel="noopener" href="https://5nhatnhat.com/" target="_blank">Phương thức vận chuyển</a></li>
                        <li><a rel="noopener" href="https://5nhatnhat.com/" target="_blank">Chính sách bảo mật</a></li>
                        <li><a rel="noopener" href="https://5nhatnhat.com/" target="_blank">Chăm sóc sau bán hàng</a></li>
                        <li><a rel="noopener" href="https://5nhatnhat.com/" target="_blank">Hướng dẫn mua hàng</a></li>
                        <li><a rel="noopener" href="https://5nhatnhat.com/" target="_blank">Phương thức thanh toán</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-6 col-sm-4">
                <div class="item-footer">
                    <h5 class="rs text-center font-weight-bold">Phương thức thanh toán</h5>
                    <div class="list-method-pay">
                        <span class="visa"><img class="lazy" data-original="assets/images/icon-visa.png"/></span>
                        <span class="mscard"><img class="lazy" data-original="assets/images/icon-mscard.png"/></span>
                        <span class="payusd"><img class="lazy" data-original="assets/images/icon-usd.png"/></span>
                        <span class="ib-bank"><img class="lazy" data-original="assets/images/icon-ibbank.png"/></span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-footer-last">
                <div class="item-footer ">
                    <h5 class="rs text-right font-weight-bold">Thông tin liên hệ</h5>
                    <div class="list-contact text-right">
                        <a href="tel:19001122" class="hotline font-weight-bold">1900-1122</a>
                        <a href="mailto:hotro@5nhatnhat.com" target="_blank" class="email-support">hotro@5nhatnhat.com</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
<!--//$('#modal-order').modal();-->
<div class=" modal" tabindex="-1" role="dialog" id="modal-order">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase w-100 text-center ">Hoàn tất đặt hàng</h5>
                <button type="button" class="close" name="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="rs title-1">Cảm ơn khách hàng <span class="text-order full_name"></span> đã đặt mua <?php echo $siteName; ?></h4>
                <p class="rs">
                    Đơn hàng của quý khách đã được tiếp nhận. Số điện thoại <span class="hotline">0818.122.122</span> sẽ liên hệ để xác nhận đơn hàng.
                    5 Nhất  Nhất sẽ cập  nhật tình trạng đơn hàng bằng SMS qua số điện thoại  quý khách đã đăng ký
                </p>
                <div class="content">
                    <div class="item-content">
                        <span class=" text-label">Thông tin đặt hàng</span>
                        <div class="detail-content">
                            <p class="rs">Giá trị đơn: <span class="text-order total_amount">975,000 VND</span></p>
                        </div>
                    </div>
                    <div class="item-content">
                        <span class=" text-label">Địa chỉ giao hàng</span>
                        <div class="detail-content">
                            <p class="rs">Họ tên: <span class="text-order full_name">Nguyễn Văn A</span></p>
                            <p class="rs">Số điện thoại: <span class="text-order tele_phone">098x xxx xxx</span></p>
                            <p class="rs">Địa chỉ: <span class="text-order address">24 ngõ 22 Trung Kính, Trung Hòa, Cầu Giấy, Hà Nội</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-top-0 justify-content-end">
                <button type="button" name="continue" class="btn btn-continue" id="btn-more-1"  data-dismiss="modal">Xem thêm sản phẩm khác</button>
            </div>
        </div>
    </div>
</div>

<!--//$('#modal-success').modal();-->
<div class=" modal" tabindex="-1" role="dialog" id="modal-success">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase w-100 text-center ">Hoàn tất</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <h4 class="rs title-1 font-weight-bold">Thông tin đặt hàng của quý khách</h4>
                <p class="rs">đã được gửi đến <?php echo $siteName; ?></p>
                <div class="content">
                    Số điện thoại <span class="font-weight-bold">0818.122.122</span> sẽ liên hệ với quý khách trong thời gian sớm nhất.
                </div>
            </div>
            <div class="modal-footer border-top-0 flex-column align-items-center">
                <button type="button" class="btn btn-continue" id="btn-more-2" data-dismiss="modal">Tiếp tục tìm hiểu sản phẩm</button>
            </div>
        </div>
    </div>
</div>
<!--modal thông báo lỗi-->
<!--$('#modal-notif').modal();-->
<div class=" modal modal-notif" tabindex="-1" role="dialog" id="modal-notif">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase w-100 text-center">Thông báo</h5>
                <button type="button" name="close" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p class="rs font-weight-bold">Gửi yêu cầu thất bại!</p>
            </div>
        </div>
    </div>
</div>