<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://5nhatnhat.com/v3/styles/detail/text.min.css?v=66">
    <link rel="stylesheet" href="https://5nhatnhat.com/v3/styles/main.min.css?v=66">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="./assets/css/style-order.css" rel="stylesheet">
    <link href="./assets/css/button-receive-longform.css" rel="stylesheet">
    <link href="./assets/css/style-header-bar-fixbottom.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% block content %}{% endblock %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="https://5nhatnhat.com/v2/scripts/jquery-date-picker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="./assets/js/account.js"></script>
<script src="./assets/js/script-longform.js"></script>
</body>
</html>