<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <!-- <link href="./assets/css/css_lib/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="stylesheet" href="https://5nhatnhat.com/v3/styles/detail/text.min.css?v=66">
    <link rel="stylesheet" href="https://5nhatnhat.com/v3/styles/main.min.css?v=66">
    <link href="./assets/css/style-longform.css" rel="stylesheet">
    <link href="./assets/css/button-receive-longform.css" rel="stylesheet">

</head>
<body class="{{bodyClasses}}">
    {% block content %}{% endblock %}
</body>
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/script-longform.js"></script>
</html>