
<div class="order-listing-page">
    <div class="header-top header-account">
        <button class="btn-back"></button>
        <span class="title-header">Quản Lý Tài Khoản</span>
        <a rel="nofollow"  class="icon-header">
            <img alt="cart" src="assets/images/cart.svg">
            <span id="badge-cart" class="badge-cart">14</span>
        </a>
    </div>
    <div class="main-account">
        <div class="group">
            <a class="link avatar" href="order-info-account.html">
                <div class="link__char">Th</div>
                <!-- <div class="link__char"><img src="img-avatar.png"/></div> -->
                <div class="link__content">
                    <div class="link__name">Thùy Dương</div>
                    <div class="link__email">0818122122</div>
                    <div class="link__created-date">
                        <span>Thành viên từ:<!-- --> <!-- -->02/03/2016</span>
                    </div>
                </div>
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="link__arrow" size="20" height="20" width="20">
                    <path d="M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z"></path>
                </svg>
            </a>
        </div>

        <div class="group">
            <a class="link" href="order-thongbao-empty.html">
                <img src="assets/images/coupon_code.svg">
                <div class="link__content">
                    Mã giảm giá<span>(Bạn đang có <b>0</b> mã giảm giá)</span>
                </div>
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="link__arrow" size="20" height="20" width="20">
                    <path d="M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z"></path>
                </svg>
            </a>
        </div> 

        <div class="group">
            <a class="link" href="order-info-address.html">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="24" class="link__icon" height="24" width="24" ><path d="M19 2H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h4l3 3 3-3h4c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-7 3.3c1.49 0 2.7 1.21 2.7 2.7 0 1.49-1.21 2.7-2.7 2.7-1.49 0-2.7-1.21-2.7-2.7 0-1.49 1.21-2.7 2.7-2.7zM18 16H6v-.9c0-2 4-3.1 6-3.1s6 1.1 6 3.1v.9z"></path></svg>
                <div class="link__content">Danh sách địa chỉ</div>
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="link__arrow" size="20" height="20" width="20">
                    <path d="M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z"></path>
                </svg>
            </a>
        </div>

        <div class="group">
            <a class="link" href="order-thongbao-empty.html">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" size="24" class="link__icon" height="24" width="24" >
                    <path d="M256 464c22.779 0 41.411-18.719 41.411-41.6h-82.823c0 22.881 18.633 41.6 41.412 41.6zm134.589-124.8V224.8c0-63.44-44.516-117.518-103.53-131.041V79.2c0-17.682-13.457-31.2-31.059-31.2s-31.059 13.518-31.059 31.2v14.559c-59.015 13.523-103.53 67.601-103.53 131.041v114.4L80 380.8v20.8h352v-20.8l-41.411-41.6z"></path>
                </svg>
                <div class="link__content">Thông báo của tôi</div>
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="link__arrow" size="20" height="20" width="20" >
                    <path d="M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z"></path>
                </svg>
            </a>
            <a class="link" href="order.html">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" size="24" class="link__icon" height="24" width="24" >
                    <path d="M408 64H104c-22.091 0-40 17.908-40 40v304c0 22.092 17.909 40 40 40h304c22.092 0 40-17.908 40-40V104c0-22.092-17.908-40-40-40zM304 368H144v-48h160v48zm64-88H144v-48h224v48zm0-88H144v-48h224v48z"></path>
                </svg>
                <div class="link__content">Đơn hàng của tôi</div>
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="link__arrow" size="20" height="20" width="20" >
                    <path d="M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z"></path>
                </svg>
            </a>
            <a class="link" href="order-history.html">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="24" class="link__icon" height="24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 14v-2.47l6.88-6.88c.2-.2.51-.2.71 0l1.77 1.77c.2.2.2.51 0 .71L8.47 14H6zm12 0h-7.5l2-2H18v2z"></path></svg>
                <div class="link__content">Sổ theo dõi sản phẩm</div>
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="link__arrow" size="20" height="20" width="20" >
                    <path d="M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z"></path>
                </svg>
            </a>
            <a class="link" href="order-question.html">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" size="24" class="link__icon" height="24" width="24" >
                    <path d="M352 56h-1c-39.7 0-74.8 21-95 52-20.2-31-55.3-52-95-52h-1c-61.9.6-112 50.9-112 113 0 37 16.2 89.5 47.8 132.7C156 384 256 456 256 456s100-72 160.2-154.3C447.8 258.5 464 206 464 169c0-62.1-50.1-112.4-112-113z"></path>
                </svg>
                <div class="link__content">Câu hỏi của tôi</div>
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="link__arrow" size="20" height="20" width="20" >
                    <path d="M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z"></path>
                </svg>
            </a>
            <a class="link" href="order-baivietuathich.html">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" size="24" class="link__icon" height="24" width="24" >
                    <path d="M352 56h-1c-39.7 0-74.8 21-95 52-20.2-31-55.3-52-95-52h-1c-61.9.6-112 50.9-112 113 0 37 16.2 89.5 47.8 132.7C156 384 256 456 256 456s100-72 160.2-154.3C447.8 258.5 464 206 464 169c0-62.1-50.1-112.4-112-113z"></path>
                </svg>
                <div class="link__content">Bài viết yêu thích</div>
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="link__arrow" size="20" height="20" width="20" >
                    <path d="M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z"></path>
                </svg>
            </a>
        <div class="wrap-btn"><button class="wrap-btn__button">Đăng Xuất</button></div>
    </div>
</div>