<div class="main-company-content">
    <div class="banner-company">
        <picture class=" img-banner banner-1 active" id="tabmenu1">
            <source media="(max-width:750px)" srcset="assets/images/img-company/img-banner2mb.jpg">
            <img media="(min-width:751px)" class="w-100" src="assets/images/img-company/img-banner2.jpg"/>
        </picture>
        <picture class=" img-banner banner-2" id="tabmenu2">
            <source media="(max-width:750px)" srcset="assets/images/img-company/img-banner3mb.jpg">
            <img  media="(min-width:751px)" class="w-100" src="assets/images/img-company/img-banner3.jpg"/>
        </picture>
        <picture class=" img-banner banner-3 " id="tabmenu3">
            <source media="(max-width:750px)" srcset="assets/images/img-company/img-banner4mb.jpg">
            <img  media="(min-width:751px)" class="w-100" src="assets/images/img-company/img-banner4.jpg"/>
        </picture>
        <picture class=" img-banner banner-4 " id="tabmenu4">
            <source media="(max-width:750px)" srcset="assets/images/img-company/img-banner1mb.jpg">
            <img  media="(min-width:751px)" class="w-100" src="assets/images/img-company/img-banner1.jpg"/>
        </picture>
    </div>
    <div class="menu-nav fixCen">
        <ul class="rs lst-menu nav nav-tabs" id="menu-intro">
            <li><a class="active" data-toggle="tab" id="tabmenu1-tab" href="#menu1">Công ty<br/> TT nhất nhất</a></li>
            <li><a  data-toggle="tab" href="#menu2" id="tabmenu2-tab">Đông Y<br/> Thế Hệ 2</a></li>
            <li><a  data-toggle="tab" href="#menu3" id="tabmenu3-tab">Nhà Máy<br/> Dược Phẩm</a></li>
            <li ><a  data-toggle="tab" href="#menu4" id="tabmenu4-tab">Tập Đoàn<br/> Nhất Nhất </a></li>
        </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="menu1">
            <div class="fixCen box-info-2">
                <div class="item-info-2">
                    <h2 class="rs title-1">Công ty TT NHẤT NHẤT (5nhatnhat.com) - Thành viên <br/> mới nhất của NHẤT NHẤT GROUP</h2>
                    <p class="rs">
                        Thương mại điện tử phát triển như vũ bão, làm thay đổi hành vi mua sắm của khách hàng. Đó là lý do năm 2019, Nhất Nhất Group thành lập Công ty Phân phối Trực tuyến Nhất Nhất, chính thức ra mắt Trang thương mại điện tử (TMĐT) 5nhatnhat.com. 
                    </p>
                    <p class="rs">
                        Trang TMĐT 5nhatnhat.com cung cấp đến khách hàng dược phẩm và các sản phẩm chăm sóc sức khỏe sản xuất tại Nhà máy dược phẩm Nhất Nhất thông qua hình thức mua bán Online. Bạn sẽ được phục vụ mọi lúc, mọi nơi với dịch vụ mua sắm hiện đại, an toàn, đơn giản, nhanh chóng và tiện lợi nhất. 
                    </p>
                    <p class="rs">
                        Với việc mở rộng kinh doanh dược phẩm sang mua bán Online, Nhất Nhất Group sẽ sớm trở thành đơn vị dẫn đầu trên thị trường thuốc và sản phẩm chăm sóc sức khỏe tại Việt Nam.
                    </p>
                </div>
                <div class="item-info-2">
                    <img class="w-100" src="assets/images/img-company/img-4.jpg"/>
                    <div class="text-slogan box-quote">
                        <span class="text-small">Tại sao khách hàng nên lựa chọn</span>
                        mua sắm tại 5nhatnhat.com?
                    </div>
                </div>
            </div>
            <div class="fixCen box-info-2">
                <div class="item-info-2">
                    <h2 class="rs title-1">Sản phẩm chính hãng, <br/> hiệu quả thực sự, bảo quản tốt</h2>
                    <p class="rs">
                        Trang TMĐT 5nhatnhat.com phân phối độc quyền tới khách hàng dược phẩm, dược mỹ phẩm, sản phẩm bảo vệ sức khỏe, thiết bị y tế được sản xuất tại Nhà máy dược phẩm Nhất Nhất chuẩn GMP-WHO <a href="">(Xem thêm)</a>
                    </p>
                    <p class="rs">
                        Với việc mở rộng kinh doanh dược phẩm sang mua bán Online, Nhất Nhất Group sẽ sớm trở thành đơn vị dẫn đầu trên thị trường thuốc và sản phẩm chăm sóc sức khỏe tại Việt Nam.
                    </p>
                    <p class="rs">
                        Đặc biệt, trang TMĐT 5nhatnhat.com mang lại cho bạn cơ hội được dùng các sản phẩm Đông y thế hệ 2 <a href="">(Xem thêm)</a>, bào chế theo Ngự Y Mật Phương <a href="">(Xem thêm)</a>, cho hiệu quả thực sự, thậm chí vượt trội tân dược trong nhiều trường hợp <a href="">(Xem thêm)</a>
                    </p>
                </div>
                <div class="item-info-2">
                    <img class="w-100" src="assets/images/img-company/img-5.jpg"/>
                </div>
            </div>
            <div class="box-lst-benefit">
                <div class="fixCen">
                    <ul class="rs lst-benefit">
                        <li>
                            <span class="icon icon-1"></span>
                            <span class="content">Khách hàng tiết kiệm được nhiều thời gian, công sức tìm thông tin về bệnh lý, hiệu quả của các sản phẩm và nơi bán uy tín.</span>
                        </li>
                        <li>
                            <span class="icon icon-2"></span>
                            <span class="content">Được các dược sĩ đồng hành xuyên suốt, luôn sẵn sàng tư vấn và phục vụ nhu cầu trao đổi thông tin của khách hàng về sức khoẻ, bệnh lý.</span>
                        </li>
                        <li>
                            <span class="icon icon-3"></span>
                            <span class="content">Miễn phí giao hàng, được hoàn hàng nếu bao bì còn nguyên vẹn, được hưởng chính sách đổi trả rõ ràng cùng hệ thống Icheck, Barcode chứng minh.</span>
                        </li>
                        <li>
                            <span class="icon icon-4"></span>
                            <span class="content">Quy trình mua sắm, đặt hàng, giao nhận, thanh toán đơn giản, nhanh chóng, thuận tiện.</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="fixCen box-info-3">
                <h4 class="rs title-2 text-center">VĂN HÓA CÔNG TY</h4>
                <ul class="rs lst-info-3">
                    <li>
                        Đổi mới <span>sáng tạo</span> để luôn dẫn đầu. Nhanh chóng kịp thời, nắm bắt sự thay đổi để tạo dựng những giá trị đột phá, vượt trội.  
                    </li>
                    <li>
                        <span>Đoàn kết</span> là nền tảng tạo sức mạnh tập thể, tất cả vì mục tiêu chung, phát triển bền vững và thành công.
                    </li>
                    <li>
                        Nâng cao tinh thần <span>Học hỏi</span>, luôn tự đặt những mục tiêu cao để phát triển bản thân, cũng như đồng hành cùng sự phát triển của Công ty.
                    </li>
                </ul>
            </div>
            <div class="fixCen box-info-2">
                <div class="item-info-2">
                    <img class="w-100" src="assets/images/img-company/img-5.jpg"/>
                </div>
                <div class="item-info-2">
                    <h4 class="rs title-2">TẦM NHÌN</h4>
                    <p>
                        Với khát khao nâng cao chất lượng cuộc sống của người Việt, hội nhập với xu hướng tiêu dùng trên toàn Thế Giới, Website TMĐT 5nhatnhat.com trong tương lai sẽ trở thành cầu nối phân phối, mang các dòng sản phẩm sức khoẻ đẳng cấp Quốc tế về thị trường Việt Nam.
                    </p>
                    <h4 class="rs title-2">SỨ MỆNH</h4>
                    <p>
                        Cùng với nền tảng nghiên cứu lâu năm các sản phẩm Đông dược và ứng dụng khoa học công nghệ cao vào kinh doanh, 5 Nhất Nhất tự tin với kinh nghiệm phân phối các dòng sản phẩm chăm sóc sức khoẻ hàng đầu. Đồng thời sở hữu một lượng khách hàng thân thiết ổn định, 5 Nhất Nhất chắc chắn sẽ là đối tác chiến lược chuyên nghiệp đáng mơ ước của các nhà cung cấp trong nước và nước ngoài. 
                    </p>
                </div>
            </div>
            <div class="box-business fixCen">
                <h4 class="rs title-2 text-center">TRIẾT LÝ KINH DOANH</h4>
                <ul class="rs lst-business">
                    <li>
                    <span class="icon-business icon-star"></span> 
                    <p class="rs">
                            Luôn đặt Uy tín và Trách nhiệm theo tôn chỉ của lương y lên hàng đầu.
                    </p>
                    </li>
                    <li>
                        <span class="icon-business icon-heart"></span> 
                        <p class="rs">
                            Luôn đặt Uy tín và Trách nhiệm theo tôn chỉ của lương y lên hàng đầu.
                        </p>
                    </li>
                    <li>
                        <span class="icon-business icon-member"></span> 
                        <p class="rs">
                            Luôn đặt Uy tín và Trách nhiệm theo tôn chỉ của lương y lên hàng đầu.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="fixCen box-info-4">
                <div class="box-detail-4">
                    <h4 class="rs title-2">GIÁ TRỊ CỐT LÕI</h4>
                    <ul class="rs lst-detail-4">
                        <li>
                            Chuyên nghiệp trong hợp tác và hoạt động sản xuất kinh doanh.
                        </li>
                        <li>
                            Đề cao giá trị Nhân văn, lấy sự hài lòng của Khách hàng là thành công của công ty.
                        </li>
                        <li>
                            Không ngừng tìm kiếm, nâng cao Uy tín và Chất lượng sản phẩm.
                        </li>
                    </ul>
                </div>
                <div class="box-img-4">
                    <picture>
                        <source media="(max-width:1024px)" srcset="assets/images/img-company/img-company-1mb.jpg">
                        <img class="w-100" src="assets/images/img-company/img-company-1.jpg"/>
                    </picture>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="menu2">
            <div class="fixCen box-info-2">
                <div class="item-info-2">
                    <h2 class="rs title-1">Ngự Y Mật Phương là gì?</h2>
                    <p class="rs">
                        Ngự Y Mật Phương là phương pháp bào chế các bài thuốc hiệu nghiệm nhất, kết tinh tinh hoa y học cổ truyền dân gian và được các bậc Ngự y trong thái y viện dày công nghiên cứu,chọn lọc để  chọn lựa, gia giảm, tinh chỉnh thành phần, sử dụng các vị dược liệu quý hiếm nhất một cách phù hợp nhất để bào chế ra các bài thuốc hiệu nghiệm nhất, cho hiệu quả ngay cả với các bệnh mạn tính, nan y khó chữa.
                    </p>
                    <p class="rs">
                        Các bài thuốc trong Ngự Y Mật Phương luôn được coi là "quốc bảo", là những bài thuốc có giá trị nhất, chỉ dành riêng cho những bậc vương tôn quý tộc, đại thần tôn quý, chỉ được lưu giữ ở Thái y viện và cấm lưu truyền ra ngoài. <a href="">(Xem thêm)</a>
                    </p>
                    <p class="rs">
                        Trải qua những biến động thăng trầm của lịch sử, một số các phương thức bào chế đặc biệt trong Thái Y Viện bị thất truyền, nhưng không phải tất cả! Nhờ những nỗ lực phi thường và may mắn tột cùng của Nhất Nhất Group là đã tiếp cận được một số các bài thuốc trong Cung đình Ngự Y Mật Phương.
                    </p>
                </div>
                <div class="item-info-2">
                    <div class="box-video">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/f4BA_kyZbXY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <img src="assets/images/img-company/img-youtube.jpg"/>
                    </div>
                </div>
            </div>
            <div class="fixCen box-text-content">
                <p>
                    Nhờ đó, các chuyên gia của Nhất Nhất đã nỗ lực bào chế theo các bài gốc đã tiếp cận được, thử nghiệm lâm sàng đánh giá hiệu quả, nghiên cứu hiện đại hoá cách bào chế để có thể sản xuất quy mô công nghiệp cho ra các các sản phẩm phù hợp với cơ địa người Việt và có chất lượng, hiệu quả vượt trội. <a href="">(Xem thêm)</a>
                </p>
                <h2 class="rs title-1">Đông Y Thế Hệ 2 nghĩa là gì?</h2>
                <p>
                    Hội nghị quốc tế về thuốc thảo dược tại Seoul, năm 2013 định nghĩa: Thuốc Đông thế hệ 2 không phải hỗ trợ điều trị, mà là thuốc điều trị chủ đạo, dùng cho bệnh nặng, được nghiên cứu lâm sàng đầy đủ và cạnh tranh hiệu quả với tân dược
                </p>
            </div>
        
            <div class="fixCen">
                <div class="box-advantage">
                    <h2 class="rs title-1">Ưu điểm thuốc Đông y thế hệ 2 so với các thuốc Đông y thông thường</h2>
                    <div class="title ">
                        <span class="w-50">THUỐC ĐÔNG Y THẾ HỆ 1</span>
                        <span class="w-50">THUỐC ĐÔNG Y THẾ HỆ 2</span>
                    </div>
                    <div class="lst-item-advan">
                        <div class="item-advan">
                            <p class="rs">Sản xuất từ dược liệu thông thường, với những tiêu chuẩn về nguồn gốc nguyên liệu chưa cao</p>
                            <span class="number">1</span>
                            <p class="rs">Sản xuất từ nguồn nguyên liệu đạt những tiêu chuẩn chất lượng cao, tiên tiến</p>
                        </div>
                        <div class="item-advan">
                            <p class="rs">Chỉ hỗ trợ điều trị, và dùng cho các bệnh nhẹ</p>
                            <span class="number">2</span>
                            <p class="rs">Điều trị chủ đạo, dùng cho cả bệnh nặng</p>
                        </div>
                        <div class="item-advan">
                            <p class="rs">Đăng ký ở phân khúc OTC tại hầu hết các Quốc gia</p>
                            <span class="number">3</span>
                            <p class="rs">Cạnh tranh hiệu quả với thuốc hóa dược, nhất là trong điều trị bệnh mạn tính, ít nhờn, ít tác dụng phụ</p>
                        </div>
                        <div class="item-advan">
                            <p class="rs">Chưa có đầy đủ dữ liệu lâm sàng</p>
                            <span class="number">4</span>
                            <p class="rs">Thực hiện nghiên cứu lâm sàng trên diện rộng</p>
                        </div>
                    </div>
        
                </div>
            </div>
            <div class="fixCen box-info-2">
                <div class="item-info-2">
                    <h2 class="rs title-1 text-left">5 NHẤT NHẤT</h2>
                    <h4 class="rs title-2">Đơn vị duy nhất phân phối các sản phẩm Đạt chuẩn Đông Y Thế Hệ 2 bào chế theo phương thức Ngự Y Mật Phương</h4>
                    <p class="rs">
                        Với nỗ lực và sự đầu tư không ngừng nghỉ của mình, Nhất Nhất Group đã thành công trong phát huy tối đa giá trị của các bài thuốc trong Ngự Y Mật Phương, mang đến các sản phẩm Đạt chuẩn Đông Y Thế Hệ 2 thực sự hiệu quả, góp phần bảo vệ sức khỏe cho người Việt.
                    </p>
                </div>
                <div class="item-info-2">
                    <img class="w-100" src="assets/images/img-company/img-company-2.jpg"/>
                </div>
            </div> 
        </div>
        <div class="tab-pane" id="menu3">
            <div class="fixCen box-text-content">
                <h2 class="rs title-1 text-left">Nhà máy dược phẩm NHẤT NHẤT</h2>
                <h4 class="rs title-2">Giải vàng chất lượng quốc gia do thủ tướng chính phủ trao tặng</h4>
                <p>
                    Năm 2020, sau 15 năm hoạt động, Nhà máy Dược phẩm Nhất Nhất đã vinh dự được Thủ tướng Chính phủ trao tặng Giải vàng Chất lượng Quốc gia - Giải thưởng cao nhất trong hệ thống pháp luật về chất lượng sản phẩm hàng hóa tại Việt Nam. <a href="">(xem thêm)</a>. 
                </p>
            <p>
                Giải thưởng danh giá này đã khẳng định năng lực quản trị sản xuất của Nhà máy Dược phẩm Nhất Nhất, tạo đà để Nhất Nhất có thể phát triển hơn nữa, sớm đạt được mục tiêu trở thành công ty dẫn đầu Việt Nam trong lĩnh vực nghiên cứu và sản xuất dược phẩm, mỹ phẩm và các sản phẩm chăm sóc sức khỏe.
            </p>
            <div class="lst-nhamay">
                Nhà máy của Nhất Nhất Group có diện tích 10.500m2, đạt tiêu chuẩn GMP-WHO <a href="">(xem thêm)</a> gồm:
                <ul class="rs">
                    <li>Khu nghiên cứu, phát triển. </li>
                    <li>Các kho bảo quản.</li>
                    <li>Các khu vực sơ chế, chiết xuất khép kín.</li>
                    <li>Hệ thống dây chuyền sản xuất theo công nghệ tự động, tiên tiến nhất.</li>
                </ul>
            </div>
            <figure>
                    <picture>
                        <source media="(max-width:750px)" srcset="assets/images/img-company/img-nhamay-mb.jpg">
                        <img src="assets/images/img-company/img-nhamay.jpg"/>
                    </picture>
                    <figcaption>Nhà máy đạt tiêu chuẩn GMP – WHO trên diện tích 10,000m2 </figcaption>
                </figure>
            </div>
            <div class="fixCen box-info-2">
                <div class="item-info-2">
                    <h4 class="rs title-2">Nguồn dược liệu chất lượng cao, an toàn</h4>
                    <p class="rs mb-16">
                        Đầu vào của nhà máy là nguồn dược liệu mà quá trình nuôi trồng, chăm sóc, thu hái, vận chuyển, lưu kho, bảo quản được kiểm soát nghiêm ngặt theo tiêu chuẩn GACP, GCP, GSP. Tại đây, tất cả nguyên liệu đều được chọn lọc, thu mua, kiểm tra chất lượng khắt khe bởi phòng kiểm nghiệm đạt chuẩn GLP của Bộ Y tế, đảm bảo phải có nguồn gốc rõ ràng, dược tính cao và đạt tiêu chuẩn của Dược điển. Các thành phần của mọi sản phẩm của Nhất Nhất Group đều có nguồn gốc tự nhiên, an toàn. 
                    </p>
                    <figure>
                        <img src="assets/images/img-company/img-nhamay1.jpg" alt="Nhà máy dược phẩm Nhất Nhất" />
                        <figcaption>Kho bảo quản, khu vực sơ chế, chiết xuất khép kín </figcaption>
                    </figure>
                </div>
                <div class="item-info-2">
                    <h4 class="rs title-2">Chất lượng sản phẩm chuẩn và đồng đều</h4>
                    <p class="rs mb-16">
                        Các sản phẩm dưới dạng viên nén, viên nang, thuốc bột, cốm, thuốc nước, kem, gel, miếng dán…được sản xuất theo công nghệ bào chế hiện đại và hệ thống quản lý chất lượng chuẩn GMP-WHO. Nhờ đó, Nhất Nhất cam kết đạt chất lượng chuẩn và đồng đều giữa tất cả các lô sản phẩm.
                    </p>
                    <figure>
                        <img src="assets/images/img-company/img-nhamay2.jpg" alt="Nhà máy dược phẩm Nhất Nhất" />
                        <figcaption>Cùng dây chuyền sản xuất tiên tiến nhất</figcaption>
                    </figure>
                </div>
            </div>
        
            <div class="fixCen box-text-content">
                <h4 class="rs title-2">Hiệu quả thực sự, thậm chí vượt trội tân dược</h4>
                <p>
                    Tiếp cận được các bài thuốc Ngự y mật phương, bí truyền, Công ty tiến hành các thử nghiệm lâm sàng để đánh giá hiệu quả thực sự của bài thuốc trước khi sản xuất quy mô công nghiệp. Đó là lý do mà sản phẩm của Nhất Nhất Group hiệu quả thực sự. Công ty đồng thời tiến hành các đề án nghiên cứu lâm sàng được Bộ Y tế nghiệm thu tại các bệnh viện lớn để chứng minh hiệu quả vượt trội sản phẩm của mình so với các sản phẩm khác trên thị trường <a href="">(xem thêm)</a>.
                </p>
            <p>
                    Nhà máy dược phẩm Nhất Nhất cũng chính là đơn vị duy nhất phát triển dòng sản phẩm Đông y thế hệ 2 <a href="">(xem thêm)</a> – Sự kết hợp giữa các bài thuốc Ngự y mật phương, bí truyền kỳ diệu và công nghệ bào chế hiện đại, không phải hỗ trợ, bổ sung cho Tân dược, mà là thuốc điều trị chủ đạo, thuốc kê đơn, hiệu quả vượt trội, ít nhờn, ít tác dụng phụ, đã và đang nhanh chóng chiếm được sự quan tâm và tín nhiệm cao của nhiều chuyên gia và khách hàng.
            </p>
            </div>
        </div>
        <div class="tab-pane" id="menu4">
            <div class="box-info-top fixCen">
                <div class="info-detail-1">
                    <h2 class="rs title-1">Tập đoàn<br/> dược phẩm <span>Nhất Nhất </span></h2>
                    <p class="rs">
                        Thành lập năm 2006, Nhất Nhất Group không ngừng phát triển để trở thành Tập đoàn dược phẩm lớn và uy tín hàng đầu Việt Nam với gần 500 nhân viên.
                    </p>
                    <p class="rs">
                        Sự thành công và danh tiếng của Nhất Nhất Group có được ngày hôm nay là nhờ vào sự nỗ lực không ngừng, từ việc tiếp cận thành công các bài thuốc Ngự Y Mật Phương và nhiều bài thuốc bí truyền khác từ ngàn đời, nghiên cứu, hiện đại hoá cách bào chế để có thể sản xuất ở quy mô công nghiệp, áp dụng dây chuyền đạt chuẩn GMP–WHO, tiến hành nghiên cứu lâm sàng kiểm nghiệm chất lượng và đưa ra thị trường các sản phẩm với hiệu quả vượt trội, được phân phối rộng khắp trên toàn quốc.
                    </p>
                </div>
                <div class="info-detail-2">
                    <div class="top-info-2">
                        <h2 class="rs title-1">Các mảng hoạt động chính<br/> của NHẤT NHẤT GROUP</h2>
                        <ul class="rs lst-group">
                            <li>
                                <span class="icon icon-1"></span>
                                <div class="info-group">
                                    <h4 class="rs">Nhà máy dược phẩm Nhất Nhất</h4>
                                    <p class="rs">
                                        Nghiên cứu, sản xuất dược phẩm và các sản phẩm chăm sóc sức khỏe
                                    </p>
                                </div>
                            </li>
                            <li>
                                <span class="icon icon-2"></span>
                                <div class="info-group">
                                    <h4 class="rs">Công ty Phân phối Trực tuyến Nhất Nhất</h4>
                                    <p class="rs">
                                        Bán lẻ online thuốc và sản phẩm chăm sóc sức khỏe trực tiếp cho người dùng. 
                                    </p>
                                </div>
                            </li>
                            <li>
                                <span class="icon icon-3"></span>
                                <div class="info-group">
                                    <h4 class="rs">Công ty Nhất Nhất</h4>
                                    <p class="rs">
                                        Cung cấp thuốc và sản phẩm chăm sóc sức khỏe cho các đại lý, nhà thuốc trên toàn quốc. 
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tex-bottom-info box-quote">
                        Đặc biệt, Nhất Nhất Group là đơn vị duy nhất nghiên cứu, sản xuất và phân phối các sản phẩm Đông y thế hệ 2, hiệu quả thực sự, thậm chí vượt trội tân dược trong nhiều trường hợp, nhất là trong điều trị bệnh nan y, mạn tính.
                    </div>
                </div>
            </div>
            <div class="img-group-company">
                <picture>
                    <source media="(max-width:767px)" srcset="assets/images/img-company/img-group-mb.jpg">
                    <img class="w-100" src="assets/images/img-company/img-group.jpg"/>
                </picture>
            </div>
            <div class="detail-content-company fixCen"> 
                <div class="detail-col detail-1">
                    <picture>
                        <source media="(max-width:1023px)" srcset="assets/images/img-company/img-1mb.jpg">
                        <img class="w-100" src="assets/images/img-company/img-1.jpg"/>
                    </picture>
                    <div class="detail-content">
                        <h4 class="title-2 rs">Công ty Phân phối trực tuyến Nhất Nhất</h4>
                        <p>
                            Thành lập năm 2019 và với việc cho ra mắt trang thương mại điện tử (TMĐT) 5nhatnhat.com, Công ty Phân phối Trực tuyến Nhất Nhất chính thức gia nhập thị trường bán lẻ online dược phẩm và sản phẩm chăm sóc sức khỏe, nhằm đáp ứng nhu cầu mua sắm các sản phẩm hiệu quả thực sự của khách hàng trên cả nước.
                        </p>
                        <p>
                            Trang TMĐT 5nhatnhat.com giúp khách hàng tiết kiệm thời gian tìm kiếm thông tin về bệnh lý, sản phẩm, giúp khách hàng mua được những sản phẩm hiệu quả thực sự với giá hợp lý. Quy trình đặt hàng và thanh toán dễ dàng thuận tiện.
                        </p>
                        <p>
                            Trang TMĐT 5nhatnhat.com phân phối độc quyền thuốc và các sản phẩm sản xuất tại nhà máy dược phẩm Nhất Nhất - Đơn vị cho ra những sản phẩm đảm bảo hiệu quả nhất, an toàn nhất, giúp khách hàng có thể chăm sóc sức khỏe tối ưu.
                        </p>
                    </div>
                </div>
                <div class="detail-col detail-2">
                    <div class="detail-content">
                        <h4 class="title-2 rs">Công ty Nhất Nhất</h4>
                        <p>
                            Được thành lập năm 2006, hiện nay Công ty Nhất Nhất là một trong những công ty phân phối dược phẩm và sản phẩm chăm sóc sức khỏe khoẻ uy tín hàng đầu Việt Nam.
                        </p>
                        <p>
                            Nhờ hệ thống phân phối trải dài rộng khắp cả nước, Công ty Nhất Nhất phục vụ hàng trăm đại lý, hàng chục nghìn nhà thuốc trên toàn quốc.
                        </p>
                        <p>
                            Với các sản phẩm chăm sóc sức khỏe và nhất là Sản phẩm Đông y thế hệ 2 hiệu quả vượt trội, là thuốc điều trị chủ đạo, dùng cho bệnh nặng, mạn tính, vị thế của Công ty Nhất Nhất đang được giới chuyên môn đánh giá rất cao và khách hàng tin tưởng chọn lựa.
                        </p>
                    </div>
                    <picture>
                        <source media="(max-width:1023px)" srcset="assets/images/img-company/img-2mb.jpg">
                        <img class="w-100" src="assets/images/img-company/img-2.jpg"/>
                    </picture>
                </div>
                <div class="detail-col detail-3">
                    <picture>
                        <source media="(max-width:1023px)" srcset="assets/images/img-company/img-3mb.jpg">
                        <img class="w-100" src="assets/images/img-company/img-3.jpg"/>
                    </picture>
                    <div class="detail-content">
                        <h4 class="title-2 rs">Nhà máy dược phẩm Nhất Nhất</h4>
                        <p>
                            Nhà máy dược phẩm hiện đại trên 10,000m2, đạt chuẩn GMP–WHO với hệ thống dây chuyền sản xuất theo công nghệ tự động, tiên tiến nhất.
                        </p>
                        <p>
                            Với nền tảng là các bài thuốc Ngự Y Mật Phương, bí truyền hiệu quả nhất, nhà máy tiến hành nghiên cứu và sản xuất theo quy trình tiêu chuẩn: tất cả các khâu chọn lọc nguyên liệu đầu vào, bảo quản, quá trình sơ chế, sao tẩm, chiết xuất, đóng gói, vận chuyển... đều được kiểm tra khắt khe theo các tiêu chuẩn GACP, GCP, GSP, GLP của Bộ Y tế. 
                        </p>
                        <p>
                            Chính nhờ những sản phẩm hiệu quả vượt trội trên thị trường, Nhà máy Dược phẩm Nhất Nhất đã vinh dự được Thủ tướng Chính phủ trao tặng Giải Vàng Chất lượng Quốc gia - Giải thưởng cao nhất trong hệ thống pháp luật về chất lượng sản phẩm ở Việt Nam. Giải thưởng danh giá này càng củng cố quyết tâm của Nhất Nhất sớm trở thành đơn vị sản xuất dược phẩm hiệu quả nhất Việt Nam. <a href="">(Xem thêm)</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</main>

<!-- script active banner giới thiệu -->

<!-- script active banner giới thiệu -->