<main class="main-content main-company-content">
    <div class="banner-company">
        <picture>
            <source media="(max-width:750px)" srcset="assets/images/img-company/img-banner3mb.jpg">
            <img class="w-100" src="assets/images/img-company/img-banner3.jpg"/>
        </picture>
    </div>
    <div class="menu-nav fixCen">
        <ul class="rs lst-menu">
            <li ><a href="#">Công ty<br/> 5 nhất nhất</a></li>
            <li class="active"><a href="#">Đông Y<br/> Thế Hệ 2</a></li>
            <li><a href="#">Nhà Máy<br/> Dược Phẩm</a></li>
            <li><a href="#">Tập Đoàn<br/> Nhất Nhất </a></li>
        </ul>
    </div>
    <div class="fixCen box-info-2">
        <div class="item-info-2">
            <h2 class="rs title-1">Ngự Y Mật Phương là gì?</h2>
            <p class="rs">
                Ngự Y Mật Phương là phương pháp bào chế các bài thuốc hiệu nghiệm nhất, kết tinh tinh hoa y học cổ truyền dân gian và được các bậc Ngự y trong thái y viện dày công nghiên cứu,chọn lọc để  chọn lựa, gia giảm, tinh chỉnh thành phần, sử dụng các vị dược liệu quý hiếm nhất một cách phù hợp nhất để bào chế ra các bài thuốc hiệu nghiệm nhất, cho hiệu quả ngay cả với các bệnh mạn tính, nan y khó chữa.
            </p>
            <p class="rs">
                Các bài thuốc trong Ngự Y Mật Phương luôn được coi là "quốc bảo", là những bài thuốc có giá trị nhất, chỉ dành riêng cho những bậc vương tôn quý tộc, đại thần tôn quý, chỉ được lưu giữ ở Thái y viện và cấm lưu truyền ra ngoài. <a href="">(Xem thêm)</a>
            </p>
            <p class="rs">
                Trải qua những biến động thăng trầm của lịch sử, một số các phương thức bào chế đặc biệt trong Thái Y Viện bị thất truyền, nhưng không phải tất cả! Nhờ những nỗ lực phi thường và may mắn tột cùng của Nhất Nhất Group là đã tiếp cận được một số các bài thuốc trong Cung đình Ngự Y Mật Phương.
            </p>
        </div>
        <div class="item-info-2">
            <div class="box-video">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/f4BA_kyZbXY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <img src="assets/images/img-company/img-youtube.jpg"/>
            </div>
        </div>
    </div>
    <div class="fixCen box-text-content">
        <p>
            Nhờ đó, các chuyên gia của Nhất Nhất đã nỗ lực bào chế theo các bài gốc đã tiếp cận được, thử nghiệm lâm sàng đánh giá hiệu quả, nghiên cứu hiện đại hoá cách bào chế để có thể sản xuất quy mô công nghiệp cho ra các các sản phẩm phù hợp với cơ địa người Việt và có chất lượng, hiệu quả vượt trội. <a href="">(Xem thêm)</a>
        </p>
        <h2 class="rs title-1">Đông Y Thế Hệ 2 nghĩa là gì?</h2>
        <p>
            Hội nghị quốc tế về thuốc thảo dược tại Seoul, năm 2013 định nghĩa: Thuốc Đông thế hệ 2 không phải hỗ trợ điều trị, mà là thuốc điều trị chủ đạo, dùng cho bệnh nặng, được nghiên cứu lâm sàng đầy đủ và cạnh tranh hiệu quả với tân dược
        </p>
    </div>

    <div class="fixCen">
        <div class="box-advantage">
            <h2 class="rs title-1">Ưu điểm thuốc Đông y thế hệ 2 so với các thuốc Đông y thông thường</h2>
            <div class="title ">
                <span class="w-50">THUỐC ĐÔNG Y THẾ HỆ 1</span>
                <span class="w-50">THUỐC ĐÔNG Y THẾ HỆ 2</span>
            </div>
            <div class="lst-item-advan">
                <div class="item-advan">
                    <p class="rs">Sản xuất từ dược liệu thông thường, với những tiêu chuẩn về nguồn gốc nguyên liệu chưa cao</p>
                    <span class="number">1</span>
                    <p class="rs">Sản xuất từ nguồn nguyên liệu đạt những tiêu chuẩn chất lượng cao, tiên tiến</p>
                </div>
                <div class="item-advan">
                    <p class="rs">Chỉ hỗ trợ điều trị, và dùng cho các bệnh nhẹ</p>
                    <span class="number">2</span>
                    <p class="rs">Điều trị chủ đạo, dùng cho cả bệnh nặng</p>
                </div>
                <div class="item-advan">
                    <p class="rs">Đăng ký ở phân khúc OTC tại hầu hết các Quốc gia</p>
                    <span class="number">3</span>
                    <p class="rs">Cạnh tranh hiệu quả với thuốc hóa dược, nhất là trong điều trị bệnh mạn tính, ít nhờn, ít tác dụng phụ</p>
                </div>
                <div class="item-advan">
                    <p class="rs">Chưa có đầy đủ dữ liệu lâm sàng</p>
                    <span class="number">4</span>
                    <p class="rs">Thực hiện nghiên cứu lâm sàng trên diện rộng</p>
                </div>
            </div>

        </div>
    </div>
    <div class="fixCen box-info-2">
        <div class="item-info-2">
            <h2 class="rs title-1 text-left">5 NHẤT NHẤT</h2>
            <h4 class="rs title-2">Đơn vị duy nhất phân phối các sản phẩm Đạt chuẩn Đông Y Thế Hệ 2 bào chế theo phương thức Ngự Y Mật Phương</h4>
            <p class="rs">
                Với nỗ lực và sự đầu tư không ngừng nghỉ của mình, Nhất Nhất Group đã thành công trong phát huy tối đa giá trị của các bài thuốc trong Ngự Y Mật Phương, mang đến các sản phẩm Đạt chuẩn Đông Y Thế Hệ 2 thực sự hiệu quả, góp phần bảo vệ sức khỏe cho người Việt.
            </p>
        </div>
        <div class="item-info-2">
            <img class="w-100" src="assets/images/img-company/img-company-2.jpg"/>
        </div>
    </div> 
</main>