<main class="main-content main-company-content">
    <div class="banner-company">
        <picture>
            <source media="(max-width:750px)" srcset="assets/images/img-company/img-banner2mb.jpg">
            <img class="w-100" src="assets/images/img-company/img-banner2.jpg"/>
        </picture>
    </div>
    <div class="menu-nav fixCen">
        <ul class="rs lst-menu">
            <li class="active"><a href="#">Công ty<br/> 5 nhất nhất</a></li>
            <li><a href="#">Đông Y<br/> Thế Hệ 2</a></li>
            <li><a href="#">Nhà Máy<br/> Dược Phẩm</a></li>
            <li><a href="#">Tập Đoàn<br/> Nhất Nhất </a></li>
        </ul>
    </div>
    <div class="fixCen box-info-2">
        <div class="item-info-2">
            <h2 class="rs title-1">5 NHẤT NHẤT - Thành viên <br/> mới nhất của NHẤT NHẤT GROUP</h2>
            <p class="rs">
                Thương mại điện tử phát triển như vũ bão, làm thay đổi hành vi mua sắm của khách hàng. Đó là lý do năm 2019, Nhất Nhất Group thành lập Công ty Phân phối Trực tuyến Nhất Nhất, chính thức ra mắt Trang thương mại điện tử (TMĐT) 5nhatnhat.com. 
            </p>
            <p class="rs">
                Trang TMĐT 5nhatnhat.com cung cấp đến khách hàng dược phẩm và các sản phẩm chăm sóc sức khỏe sản xuất tại Nhà máy dược phẩm Nhất Nhất thông qua hình thức mua bán Online. Bạn sẽ được phục vụ mọi lúc, mọi nơi với dịch vụ mua sắm hiện đại, an toàn, đơn giản, nhanh chóng và tiện lợi nhất. 
            </p>
            <p class="rs">
                Với việc mở rộng kinh doanh dược phẩm sang mua bán Online, Nhất Nhất Group sẽ sớm trở thành đơn vị dẫn đầu trên thị trường thuốc và sản phẩm chăm sóc sức khỏe tại Việt Nam.
            </p>
        </div>
        <div class="item-info-2">
            <img class="w-100" src="assets/images/img-company/img-4.jpg"/>
            <div class="text-slogan box-quote">
                <span class="text-small">Tại sao khách hàng nên lựa chọn</span>
                mua sắm tại 5nhatnhat.com?
            </div>
        </div>
    </div>
    <div class="fixCen box-info-2">
        <div class="item-info-2">
            <h2 class="rs title-1">Sản phẩm chính hãng, <br/> hiệu quả thực sự, bảo quản tốt</h2>
            <p class="rs">
                Trang TMĐT 5nhatnhat.com phân phối độc quyền tới khách hàng dược phẩm, dược mỹ phẩm, sản phẩm bảo vệ sức khỏe, thiết bị y tế được sản xuất tại Nhà máy dược phẩm Nhất Nhất chuẩn GMP-WHO <a href="">(Xem thêm)</a>
            </p>
            <p class="rs">
                Với việc mở rộng kinh doanh dược phẩm sang mua bán Online, Nhất Nhất Group sẽ sớm trở thành đơn vị dẫn đầu trên thị trường thuốc và sản phẩm chăm sóc sức khỏe tại Việt Nam.
            </p>
            <p class="rs">
                Đặc biệt, trang TMĐT 5nhatnhat.com mang lại cho bạn cơ hội được dùng các sản phẩm Đông y thế hệ 2 <a href="">(Xem thêm)</a>, bào chế theo Ngự Y Mật Phương <a href="">(Xem thêm)</a>, cho hiệu quả thực sự, thậm chí vượt trội tân dược trong nhiều trường hợp <a href="">(Xem thêm)</a>
            </p>
        </div>
        <div class="item-info-2">
            <img class="w-100" src="assets/images/img-company/img-5.jpg"/>
        </div>
    </div>
    <div class="box-lst-benefit">
        <div class="fixCen">
            <ul class="rs lst-benefit">
                <li>
                    <span class="icon icon-1"></span>
                    <span class="content">Khách hàng tiết kiệm được nhiều thời gian, công sức tìm thông tin về bệnh lý, hiệu quả của các sản phẩm và nơi bán uy tín.</span>
                </li>
                <li>
                    <span class="icon icon-2"></span>
                    <span class="content">Được các dược sĩ đồng hành xuyên suốt, luôn sẵn sàng tư vấn và phục vụ nhu cầu trao đổi thông tin của khách hàng về sức khoẻ, bệnh lý.</span>
                </li>
                <li>
                    <span class="icon icon-3"></span>
                    <span class="content">Miễn phí giao hàng, được hoàn hàng nếu bao bì còn nguyên vẹn, được hưởng chính sách đổi trả rõ ràng cùng hệ thống Icheck, Barcode chứng minh.</span>
                </li>
                <li>
                    <span class="icon icon-4"></span>
                    <span class="content">Quy trình mua sắm, đặt hàng, giao nhận, thanh toán đơn giản, nhanh chóng, thuận tiện.</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="fixCen box-info-3">
        <h4 class="rs title-2 text-center">VĂN HÓA CÔNG TY</h4>
        <ul class="rs lst-info-3">
            <li>
                Đổi mới <span>sáng tạo</span> để luôn dẫn đầu. Nhanh chóng kịp thời, nắm bắt sự thay đổi để tạo dựng những giá trị đột phá, vượt trội.  
            </li>
            <li>
                <span>Đoàn kết</span> là nền tảng tạo sức mạnh tập thể, tất cả vì mục tiêu chung, phát triển bền vững và thành công.
            </li>
            <li>
                Nâng cao tinh thần <span>Học hỏi</span>, luôn tự đặt những mục tiêu cao để phát triển bản thân, cũng như đồng hành cùng sự phát triển của Công ty.
            </li>
        </ul>
    </div>
    <div class="fixCen box-info-2">
        <div class="item-info-2">
            <img class="w-100" src="assets/images/img-company/img-5.jpg"/>
        </div>
        <div class="item-info-2">
            <h4 class="rs title-2">TẦM NHÌN</h4>
            <p>
                Với khát khao nâng cao chất lượng cuộc sống của người Việt, hội nhập với xu hướng tiêu dùng trên toàn Thế Giới, Website TMĐT 5nhatnhat.com trong tương lai sẽ trở thành cầu nối phân phối, mang các dòng sản phẩm sức khoẻ đẳng cấp Quốc tế về thị trường Việt Nam.
            </p>
            <h4 class="rs title-2">SỨ MỆNH</h4>
            <p>
                Cùng với nền tảng nghiên cứu lâu năm các sản phẩm Đông dược và ứng dụng khoa học công nghệ cao vào kinh doanh, 5 Nhất Nhất tự tin với kinh nghiệm phân phối các dòng sản phẩm chăm sóc sức khoẻ hàng đầu. Đồng thời sở hữu một lượng khách hàng thân thiết ổn định, 5 Nhất Nhất chắc chắn sẽ là đối tác chiến lược chuyên nghiệp đáng mơ ước của các nhà cung cấp trong nước và nước ngoài. 
            </p>
        </div>
    </div>
    <div class="box-business fixCen">
        <h4 class="rs title-2 text-center">TRIẾT LÝ KINH DOANH</h4>
        <ul class="rs lst-business">
            <li>
               <span class="icon-business icon-star"></span> 
               <p class="rs">
                    Luôn đặt Uy tín và Trách nhiệm theo tôn chỉ của lương y lên hàng đầu.
               </p>
            </li>
            <li>
                <span class="icon-business icon-heart"></span> 
                <p class="rs">
                     Luôn đặt Uy tín và Trách nhiệm theo tôn chỉ của lương y lên hàng đầu.
                </p>
             </li>
             <li>
                <span class="icon-business icon-member"></span> 
                <p class="rs">
                     Luôn đặt Uy tín và Trách nhiệm theo tôn chỉ của lương y lên hàng đầu.
                </p>
             </li>
        </ul>
    </div>
    <div class="fixCen box-info-4">
        <div class="box-detail-4">
            <h4 class="rs title-2">GIÁ TRỊ CỐT LÕI</h4>
            <ul class="rs lst-detail-4">
                <li>
                    Chuyên nghiệp trong hợp tác và hoạt động sản xuất kinh doanh.
                </li>
                <li>
                    Đề cao giá trị Nhân văn, lấy sự hài lòng của Khách hàng là thành công của công ty.
                </li>
                <li>
                    Không ngừng tìm kiếm, nâng cao Uy tín và Chất lượng sản phẩm.
                </li>
            </ul>
        </div>
        <div class="box-img-4">
            <picture>
                <source media="(max-width:1024px)" srcset="assets/images/img-company/img-company-1mb.jpg">
                <img class="w-100" src="assets/images/img-company/img-company-1.jpg"/>
            </picture>
        </div>
    </div>
</main>