<main class="main-content main-company-content">
    <div class="banner-company">
        <picture>
            <source media="(max-width:750px)" srcset="assets/images/img-company/img-banner4mb.jpg">
            <img class="w-100" src="assets/images/img-company/img-banner4.jpg"/>
        </picture>
    </div>
    <div class="menu-nav fixCen">
        <ul class="rs lst-menu">
            <li><a href="#">Công ty<br/> 5 nhất nhất</a></li>
            <li><a href="#">Đông Y<br/> Thế Hệ 2</a></li>
            <li class="active"><a href="#">Nhà Máy<br/> Dược Phẩm</a></li>
            <li><a href="#">Tập Đoàn<br/> Nhất Nhất </a></li>
        </ul>
    </div>
    <div class="fixCen box-text-content">
        <h2 class="rs title-1 text-left">Nhà máy dược phẩm NHẤT NHẤT</h2>
        <h4 class="rs title-2">Giải vàng chất lượng quốc gia do thủ tướng chính phủ trao tặng</h4>
        <p>
            Năm 2020, sau 15 năm hoạt động, Nhà máy Dược phẩm Nhất Nhất đã vinh dự được Thủ tướng Chính phủ trao tặng Giải vàng Chất lượng Quốc gia - Giải thưởng cao nhất trong hệ thống pháp luật về chất lượng sản phẩm hàng hóa tại Việt Nam. <a href="">(xem thêm)</a>. 
        </p>
       <p>
        Giải thưởng danh giá này đã khẳng định năng lực quản trị sản xuất của Nhà máy Dược phẩm Nhất Nhất, tạo đà để Nhất Nhất có thể phát triển hơn nữa, sớm đạt được mục tiêu trở thành công ty dẫn đầu Việt Nam trong lĩnh vực nghiên cứu và sản xuất dược phẩm, mỹ phẩm và các sản phẩm chăm sóc sức khỏe.
       </p>
       <div class="lst-nhamay">
        Nhà máy của Nhất Nhất Group có diện tích 10.500m2, đạt tiêu chuẩn GMP-WHO <a href="">(xem thêm)</a> gồm:
        <ul class="rs">
            <li>Khu nghiên cứu, phát triển. </li>
            <li>Các kho bảo quản.</li>
            <li>Các khu vực sơ chế, chiết xuất khép kín.</li>
            <li>Hệ thống dây chuyền sản xuất theo công nghệ tự động, tiên tiến nhất.</li>
        </ul>
    </div>
       <figure>
            <picture>
                <source media="(max-width:750px)" srcset="assets/images/img-company/img-nhamay-mb.jpg">
                <img src="assets/images/img-company/img-nhamay.jpg"/>
            </picture>
            <figcaption>Nhà máy đạt tiêu chuẩn GMP – WHO trên diện tích 10,000m2 </figcaption>
        </figure>
    </div>
    <div class="fixCen box-info-2">
        <div class="item-info-2">
            <h4 class="rs title-2">Nguồn dược liệu chất lượng cao, an toàn</h4>
            <p class="rs mb-16">
                Đầu vào của nhà máy là nguồn dược liệu mà quá trình nuôi trồng, chăm sóc, thu hái, vận chuyển, lưu kho, bảo quản được kiểm soát nghiêm ngặt theo tiêu chuẩn GACP, GCP, GSP. Tại đây, tất cả nguyên liệu đều được chọn lọc, thu mua, kiểm tra chất lượng khắt khe bởi phòng kiểm nghiệm đạt chuẩn GLP của Bộ Y tế, đảm bảo phải có nguồn gốc rõ ràng, dược tính cao và đạt tiêu chuẩn của Dược điển. Các thành phần của mọi sản phẩm của Nhất Nhất Group đều có nguồn gốc tự nhiên, an toàn. 
            </p>
            <figure>
                <img src="assets/images/img-company/img-nhamay1.jpg" alt="Nhà máy dược phẩm Nhất Nhất" />
                <figcaption>Kho bảo quản, khu vực sơ chế, chiết xuất khép kín </figcaption>
            </figure>
        </div>
        <div class="item-info-2">
            <h4 class="rs title-2">Chất lượng sản phẩm chuẩn và đồng đều</h4>
            <p class="rs mb-16">
                Các sản phẩm dưới dạng viên nén, viên nang, thuốc bột, cốm, thuốc nước, kem, gel, miếng dán…được sản xuất theo công nghệ bào chế hiện đại và hệ thống quản lý chất lượng chuẩn GMP-WHO. Nhờ đó, Nhất Nhất cam kết đạt chất lượng chuẩn và đồng đều giữa tất cả các lô sản phẩm.
            </p>
            <figure>
                <img src="assets/images/img-company/img-nhamay2.jpg" alt="Nhà máy dược phẩm Nhất Nhất" />
                <figcaption>Cùng dây chuyền sản xuất tiên tiến nhất</figcaption>
            </figure>
        </div>
    </div>

    <div class="fixCen box-text-content">
        <h4 class="rs title-2">Hiệu quả thực sự, thậm chí vượt trội tân dược</h4>
        <p>
            Tiếp cận được các bài thuốc Ngự y mật phương, bí truyền, Công ty tiến hành các thử nghiệm lâm sàng để đánh giá hiệu quả thực sự của bài thuốc trước khi sản xuất quy mô công nghiệp. Đó là lý do mà sản phẩm của Nhất Nhất Group hiệu quả thực sự. Công ty đồng thời tiến hành các đề án nghiên cứu lâm sàng được Bộ Y tế nghiệm thu tại các bệnh viện lớn để chứng minh hiệu quả vượt trội sản phẩm của mình so với các sản phẩm khác trên thị trường <a href="">(xem thêm)</a>.
        </p>
       <p>
            Nhà máy dược phẩm Nhất Nhất cũng chính là đơn vị duy nhất phát triển dòng sản phẩm Đông y thế hệ 2 <a href="">(xem thêm)</a> – Sự kết hợp giữa các bài thuốc Ngự y mật phương, bí truyền kỳ diệu và công nghệ bào chế hiện đại, không phải hỗ trợ, bổ sung cho Tân dược, mà là thuốc điều trị chủ đạo, thuốc kê đơn, hiệu quả vượt trội, ít nhờn, ít tác dụng phụ, đã và đang nhanh chóng chiếm được sự quan tâm và tín nhiệm cao của nhiều chuyên gia và khách hàng.
       </p>
    </div>
</main>