<main>
    <div class="box-slogan-1">
        <div class="container">
            <div class="row justify-content-center">
                <span>Thiếu máu não</span> gây ra các triệu chứng
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="box-info-effect">
                <div class="list-item-effect">
                    <div class="item-effect">
                        <div class="descript-effect">Mất ngủ</div>
                        <div class="content-effect">
                            Không buồn ngủ, khó ngủ, ngủ chập chờn, dễ thức giấc, hay mê sảng, thiếu ngủ mệt mỏi
                        </div>
                    </div>
                    <div class="item-effect">
                        <div class="descript-effect">Chóng mặt</div>
                        <div class="content-effect">
                            Rối loạn tiền đình, chóng mặt, choáng váng, mất thăng bằng, đứng không vững, cảm giác quay cuồng, buồn nôn...
                        </div>
                    </div>
                    <div class="item-effect">
                        <div class="descript-effect">Đau đầu</div>
                        <div class="content-effect">
                            Đau ê ẩm, đau nửa đầu dữ dội, đau nhức mắt, lan ra thái dương. Đau như dùi đâm, đau vùng
                            chẩm, vai gáy.
                        </div>
                    </div>
                    <div class="item-effect">
                        <div class="descript-effect">Suy giảm <br />trí nhớ</div>
                        <div class="content-effect">
                            Nhớ nhớ quên quên (quên ví tiền, quên chìa khoá, quên việc đang định làm), cảm giác quên
                            việc gì đó nhưng không thể nhớ ra ..
                        </div>
                    </div>
                    <div class="item-effect">
                        <div class="descript-effect">Suy giảm <br />thần kinh</div>
                        <div class="content-effect">
                            Mệt mỏi, chán nản,  trầm cảm, dễ cáu gắt, tức  giận, dễ kích động, lo âu quá độ.... 
                        </div>
                    </div>
                </div>
                <div class="bottom-text-effect">
                    <p class="rs"><span class="">Thiếu máu não làm tăng nguy cơ nhồi máu não, đột quỵ, thậm chí tử vong.</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container box-slogan-2">
        <div class="row">
            <span>Hướng điều trị hiệu quả nhất chính là thuốc Đông y hoạt huyết, tán ứ, tăng cường mạnh mẽ máu lên não.</span>
        </div>
    </div>
    <div class="container">
        <div class="row box-info-2">
            <div class="detail-info w-100">
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="row">
                        <div class="box-list-detail">
                            <div class="top-ticket">
                                <p class="rs"><span>Tích vào triệu chứng </span>bạn đang gặp phải</p>
                                <span class="text-bottom">(có thể tích nhiều hơn 1 triệu chứng)</span>
                            </div>
                            <form  id="ads-form" class="w-100" autocomplete="off">
                                <div class="rs lst-detail-info">
                                    <p>
                                        <label for="tag_1">Mất ngủ</label>
                                        <input class="check_tag" type="checkbox" name="tags[]" id="tag_1" value="tag_1"/>
                                    </p>
                                    <p>
                                        <label for="tag_2">Chóng mặt</label>
                                        <input class="check_tag" type="checkbox" name="tags[]" id="tag_2" value="tag_1"/>
                                    </p>
                                    <p>
                                        <label for="tag_3">Đau đầu</label>
                                        <input class="check_tag" type="checkbox" name="tags[]" id="tag_3" value="tag_1"/>
                                    </p>
                                    <p>
                                        <label for="tag_4">Suy giảm trí nhớ</label>
                                        <input class="check_tag" type="checkbox" name="tags[]" id="tag_4" value="tag_1"/>
                                    </p>
                                    <p>
                                        <label for="tag_5">Suy nhược thần kinh</label>
                                        <input class="check_tag" type="checkbox" name="tags[]" id="tag_5" value="tag_1"/>
                                    </p>
                                </div>
                                
                                <div class="form-ticket w-100">
                                    <h4>Chuyên gia sẵn sàng tư vấn</h4>
                                    <div class="form-group mb-0">
                                        <input type="number" class="form-control phone" name="phone" placeholder="Số điện thoại" />
                                    </div>
                                   <div class="d-flex w-100 justify-content-end">
                                    <button class="btn-muangay btn-scroll">Đăng ký</a>
                                   </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="box-reason">
        <div class="row box-reason">
            <div class="title">Tại sao <span>điều trị thiếu máu não</span> bằng nhiều phương pháp mà vẫn <span>không hiệu quả?</span></div>
            <div class="box-detail-reason">
                <div class="col-12 col-sm-8 col-md-6">
                    <div class="row item-reason">
                        <div class="title">
                            Tây Y - Hiệu quả nhất thời
                        </div>
                        <span class="img-reason"><img class="lazy" data-original="assets/images/icon-06.png" /></span>
                        <p class="rs des-reason">
                            Phải dùng thuốc tiêu huyết khối, giãn mạch, tăng vận mạch, hạ huyết áp,
                            tác dụng nhanh nhưng không tăng cường máu đến não nên bệnh hay tái phát,
                            phải dùng thuốc thường xuyên, tốn kém và độc hại cho gan thận.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-8 col-md-6">
                    <div class="row item-reason">
                        <div class="title">
                            Đông y - trị từ căn nguyên
                        </div>
                        <span class="img-reason"><img class="lazy" data-original="assets/images/icon-07.png" /></span>
                        <p class="rs des-reason">
                            Vì huyết hư, ứ trệ là nguyên nhân chính gây thiếu máu não nên hướng điều trị
                            hiệu quả nhất chính là thuốc đông y bổ khí huyết,
                            tiêu ứ trệ tang cường mạnh mẽ lưu thông khí huyết lên não
                        </p>
                    </div>
                </div>
            </div>
            <div class="descript-reason">
                <div class="descript-1">
                    <span>Nhưng không phải cứ thuốc Đông y là điều trị, ngăn ngừa hiệu quả </span>
                    thiếu máu não vì thị trường thuốc Đông y tràn lan các sản phẩm tác dụng không rõ rệt hoặc không đủ hiệu quả thay thế tân dược.
                </div>
            </div>
        </div>
    </div>
    <div class="container box-slogan-2">
        <div class="row">
            <span>Chỉ Hoạt huyết chuẩn Đông y Thế hệ 2</span> &nbsp;bào chế theo phương pháp&nbsp;
            <span>Ngự Y Mật Phương</span>&nbsp;sản xuất tại nhà máy Dược phẩm Nhất Nhất mới&nbsp;
            <span> hiệu quả thực sự, thậm chí vượt trội tân dược</span>&nbsp;trong nhiều trường hợp.
        </div>
    </div>
    <div class="container box-info-effect">
        <div class="d-flex flex-wrap align-items-end">
            <div class="col-12 col-md-6 item-prize">
                <span class="img-prize"><img class="lazy" data-original="assets/images/cd-ngu-y.png" /></span>
                <div class="text-prize">
                    Cung đình<br /> Ngự Y Mật Phương
                </div>
            </div>
            <div class="col-12 col-md-6 item-prize">
                <span class="img-prize"><img class="lazy" data-original="assets/images/DSC_8234.png" /></span>
                <div class="text-prize">
                    Nhất Nhất được Thủ tướng Chính phủ 
                    tặng Giải Vàng chất lượng Quốc gia.
                </div>
            </div>
        </div>
    </div>
    <div class="container box-symptom">
        <div class="row row-1">
            <div class="col-12 col-md-5">
                <img class="img-fluid lazy" data-original="assets/images/img-product2.png" />
            </div>
            <div class="col-12 col-md-7">
                <div class="row">
                    <ul class="rs lst-symptom">
                        <li><span>Tăng cường mạnh mẽ lưu thông máu.</span></li>
                        <li><span>Giảm hẳn mất ngủ, chóng mặt, đau đầu sau 2-5 ngày.</span></li>
                        <li><span>Giảm hẳn suy giảm trí nhớ, suy nhược thần kinh.</span></li>
                        <li><span>Tăng cường hiệu quả điều trị của các thuốc điều trị khác.</span></li>
                        <li class="active"><span>Bạn được hoàn hàng nếu bao bì còn nguyên vẹn!</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <form class="row row-2" id="form-register" autocomplete="off">
            <div class="col-12 col-md-6">
                <div class="form-group row input-1">
                    <input type="text" class="form-control phone" name="phone" placeholder="Số điện thoại" />
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex">
                <div class="form-group w-50">
                    <button class="form-control btn-row2">Mua ngay</button>
                </div>
                <div class="form-group w-50">
                    <button class="form-control btn-row2">Tư vấn</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container box-product-2">
        <div class="row">
            <h2 class="title-product w-100">
                <p class="rs top-title">Những ai nên dùng</p>
                <p class="rs des-title">viên hoạt huyết Đông Y Thế hệ 2?</p>
            </h2>
        </div>
        <div class="row">
            <div class="owl-carousel owl-theme" id="slide-2">
                <div class="swiper-slide">
                    <div class="article-box">
                        <img src="assets/images/img-1.jpg" />
                        <div class="content-product-2">
                            Người bị thiếu hoặc có nguy cơ cao bị thiếu máu não
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="article-box">
                        <img src="assets/images/img-2.jpg" />
                        <div class="content-product-2">
                            Người thường xuyên mất ngủ, chóng mặt, đau đầu
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="article-box">
                        <img src="assets/images/img-3.jpg" />
                        <div class="content-product-2">
                            Người thường lo âu, căng thẳng, stress kéo dài gây đau đầu, mất ngủ
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="article-box">
                        <img src="assets/images/img-4.jpg" />
                        <div class="content-product-2">
                            Người thường xuyên học tập làm việc không giờ giấc
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-color-1">
        <div class="container">
            <div class="row box-info-user">
                <div class="col-12 col-md-6 box-video-product">
                    <div class="row h-100">
                        <div class="youtube-video" data-video-height="350" data-autodplay="1"
                            data-video-id="0pNIC6vswsg"></div>
                        <picture>
                            <img width="570" height="169" alt="Răng Miệng Nhất Nhất" class="img-fluid lazy m-auto"
                                data-original="assets/images/ytb-2-02.jpg" />
                        </picture>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-info-order row flex-column">
                        <span class="top-label">Thực phẩm bảo vệ sức khỏe</span>
                        <div class="top-title">
                            <p class="rs"><span class="left">Viên nén</span><span class="right">NHẤT NHẤT 3</span></p>
                            <p class="rs"><span class="left">hỗ trợ</span><span class="right">hoạt huyết</span></p>
                        </div>
                        <ul class="rs lst-info-product">
                            <li><span>Sản xuất tại nhà máy Nhất Nhất, được Thủ tướng tặng Giải Vàng Chất Lượng Quốc gia.</span>
                            </li>
                            <li><span>Đóng gói chia nhiều túi nhỏ tiện lợi.</span></li>
                            <li><span>Dược sĩ giàu kinh nghiệm tư vấn miễn phí 24/7</span></li>
                        </ul>
                        <div class="box-price-product">
                            <span class="img-product"><img class="lazy" data-original="assets/images/img-product1.png" /></span>
                            <div class="info-product">
                                <div class="text-price-1">195.000</div>
                                <div class="text-price-2">VND/HỘP</div>
                                <a href="#form-order-bottom" class="btn-scroll btn-send-info">Đặt hàng</a>
                                <div class="info-bottom-product">
                                    <p class="rs">Giấy phép lưu hành: 2979/2020/ĐKSP</p>
                                    <p class="rs">Giấy phép QC: 1978/2020/XNQC-ATTP</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row bottom-freeship">
                        <div class="left-text">
                            <span>Bạn được hoàn hàng,</span>
                            nếu bao bì còn nguyên vẹn
                        </div>
                        <div class="right-text">
                            <span>FREESHIP</span> toàn quốc
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container box-progress">
        <div class="row">
            <h4 class="rs title col-12">Thực tế sử dụng</h4>
        </div>
        <div class="list-progress row">
            <div class="col-12 col-md-4 ">
                <div class="row item-progress">
                    <div class="detail-progress">
                        <div class="text-top">
                            <span>Giai đoạn Tấn công</span>
                            <p class="rs">15 ngày - 3 hộp</p>
                        </div>
                        <div class="text-descript">
                            Ngày uống 2 lần mỗi lần 1 gói.
                        </div>
                        <div class="text-bottom mb-line-1">
                            <p class="rs">Sau 2-5 ngày giảm rõ rệt chóng mặt đau đầu</p>
                            <p class="rs">Sau 10-15 ngày giảm rõ rệt mất ngủ</p>
                        </div>
                        <a href="#form-order-bottom" class="btn-scroll btn-order">Mua hàng ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 ">
                <div class="row item-progress">
                    <div class="detail-progress">
                        <div class="text-top">
                            <span>Giai đoạn Ổn định</span>
                            <p class="rs">70 ngày - 7 hộp</p>
                        </div>
                        <div class="text-descript">
                            Ngày uống 1 lần mỗi lần 1 gói.
                        </div>
                        <div class="text-bottom mb-line-2">
                            <p class="rs">Giảm hẳn hoặc hết thiếu máu não.</p>
                            <p class="rs">Giảm hẳn hoặc hết chóng mặt, đau đầu, mất ngủ, giúp ngủ ngon, ngủ sâu giấc. </p>
                        </div>
                        <a href="#form-order-bottom" class="btn-scroll btn-order">Mua hàng ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 ">
                <div class="row item-progress">
                    <div class="detail-progress">
                        <div class="text-top">
                            <span>Giai đoạn Duy trì</span>
                            <p class="rs">9-15 hộp/năm</p>
                        </div>
                        <div class="text-descript">
                            Ngày uống 1 lần mỗi lần 1 gói khi có nhu cầu.
                        </div>
                        <div class="text-bottom">
                            <p class="rs">Giảm hẳn hoặc hết thiếu máu não, hết chóng mặt, đau đầu, mất ngủ, giúp ngủ ngon, ngủ sâu giấc. </p>
                        </div>
                        <a href="#form-order-bottom" class="btn-scroll btn-order">Mua hàng ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container box-comment">
        <div class="row title-comment">
            <span>95%</span> người dùng đã <span>HIỆU QUẢ</span><br/> còn bạn thì sao?
        </div>
        <div class="row box-color-1  box-comment-desktop">
            <div class="item-comment">
                <span class="avatar-user"><img class="img-fluid lazy" width="122" height="122" alt="Bà H"
                        data-original="assets/images/img-avatar.png" /></span>
                <div class="detail-comment">
                    <div class="content-comment">
                        Cô Hương <span>MẤT NGỦ</span>, khó vào giấc ngủ. Đi nằm từ 11h nhưng phải đến 2-3 giờ sáng mới
                         ngủ được, ngủ lại chập chờn, không sâu, tiếng động nhỏ cũng thức giấc nên sáng dậy đi 
                         làm, cô luôn thiếu ngủ, mệt mỏi. Cô đã dùng thử sản phẩm hoạt huyết Đông y thế hệ 2.
                          Sau tầm 10 ngày, đặt lưng xuống là cô có thể vào giấc ngay, không còn trằn trọc
                           trở mình như trước.
                         Thấy hiệu quả, cô tiếp tục uống và chỉ sau 1 tháng, cô đã ngủ ngon.
                    </div>
                </div>
            </div>
            <div class="item-comment">
                <span class="avatar-user"><img class="img-fluid lazy" width="122" height="122" alt="Chị Vũ Thị T"
                        data-original="assets/images/img-avatar.png" /></span>
                <div class="detail-comment">
                    <div class="content-comment">
                        Bà Nga bị <span>CHÓNG MẶT</span> thường xuyên từ lâu, nhiều lần phải nhập viện.
                         Lúc thì cảm giác bồng bềnh, mất thăng bằng, ngồi dậy, đứng lên, đi lại phải vịn bám. 
                         Khi thì cơn chóng mặt đến đột ngột, dữ dội, quay cuồng không thể ngồi dậy nổi,
                          nôn thốc nôn tháo, mật xanh, mật vàng phải nhập viện. Bà dùng hoạt huyết 
                          Đông y thế hệ 2 và sau 5-7 ngày đã hết hoa mắt, chóng mặt. 
                        Giấc ngủ cũng tốt lên rất nhiều.
                    </div>
                </div>
            </div>
            <div class="item-comment">
                <span class="avatar-user"><img class="img-fluid lazy" width="122" height="122" alt="Anh Giang Minh T"
                        data-original="assets/images/img-avatar-1.png" /></span>
                <div class="detail-comment">
                    <div class="content-comment">
                        Anh Chinh bị <span>ĐAU ĐẦU</span>, lúc thì đau xoáy vào một điểm, khi thì đau
                         chạy lung tung đến đỉnh đầu, trán, thái dương, sau gáy. Gần đây công việc bận rộn,
                          căng thẳng anh càng đau đầu hơn. Anh dùng thuốc giảm đau liên tục, 
                          nhiều đến mức bị đau dạ dày. Anh dùng hoạt huyết Đông y thế hệ 2 liều cao và 
                          chỉ sau dăm ngày chứng đau đầu đã thuyên giảm hẳn. Thấy hiệu quả, anh đã uống liên tục 3 
                        tháng và không chỉ hết đau đầu mà cảm thấy minh mẫn, làm việc tập trung hơn.
                    </div>
                
                </div>
            </div>
            <div class="item-comment">
                <span class="avatar-user"><img class="img-fluid lazy" width="122" height="122" alt="Anh Trịnh Thanh"
                        data-original="assets/images/img-avatar-1.png" /></span>
                <div class="detail-comment">
                    <div class="content-comment">
                        Bác Tuấn dạo này hay <span>NHỚ NHỚ, QUÊN QUÊN</span> do áp lực công việc, 
                        ăn uống không điều độ, tinh thần căng thẳng, mệt mỏi.
                         Khi thì ra về mà không khóa phòng, lúc thì quên cả lịch hẹn với khách VIP, 
                         khách hàng nổi giận, hỏng cả hợp đồng. Sau 2 tuần dùng hoạt huyết Đông y thế hệ 2, 
                         bác ngủ tốt lên, dịu căng thẳng, tinh thần phấn chấn, 
                        tỉnh táo, tập trung, không còn nhớ nhớ, quên quên nữa.
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="owl-carousel owl-theme box-comment-mb" id="slide-comment-mb">
                <div class="item-comment">
                    <span class="avatar-user"><img class="img-fluid lazy" width="122" height="122" alt="Bà H"
                            data-original="assets/images/img-avatar.png" /></span>
                    <div class="detail-comment">
                        <div class="content-comment">
                            Cô Hương <span>MẤT NGỦ</span>, khó vào giấc ngủ. Đi nằm từ 11h nhưng phải đến 2-3 giờ sáng mới
                             ngủ được, ngủ lại chập chờn, không sâu, tiếng động nhỏ cũng thức giấc nên sáng dậy đi 
                             làm, cô luôn thiếu ngủ, mệt mỏi. Cô đã dùng thử sản phẩm hoạt huyết Đông y thế hệ 2.
                              Sau tầm 10 ngày, đặt lưng xuống là cô có thể vào giấc ngay, không còn trằn trọc
                               trở mình như trước.
                             Thấy hiệu quả, cô tiếp tục uống và chỉ sau 1 tháng, cô đã ngủ ngon.
                        </div>
                    </div>
                </div>
                <div class="item-comment">
                    <span class="avatar-user"><img class="img-fluid lazy" width="122" height="122" alt="Chị Vũ Thị T"
                            data-original="assets/images/img-avatar.png" /></span>
                    <div class="detail-comment">
                        <div class="content-comment">
                            Bà Nga bị <span>CHÓNG MẶT</span> thường xuyên từ lâu, nhiều lần phải nhập viện.
                             Lúc thì cảm giác bồng bềnh, mất thăng bằng, ngồi dậy, đứng lên, đi lại phải vịn bám. 
                             Khi thì cơn chóng mặt đến đột ngột, dữ dội, quay cuồng không thể ngồi dậy nổi,
                              nôn thốc nôn tháo, mật xanh, mật vàng phải nhập viện. Bà dùng hoạt huyết 
                              Đông y thế hệ 2 và sau 5-7 ngày đã hết hoa mắt, chóng mặt. 
                            Giấc ngủ cũng tốt lên rất nhiều.
                        </div>
                    </div>
                </div>
                <div class="item-comment">
                    <span class="avatar-user"><img class="img-fluid lazy" width="122" height="122" alt="Anh Giang Minh T"
                            data-original="assets/images/img-avatar-1.png" /></span>
                    <div class="detail-comment">
                        <div class="content-comment">
                            Anh Chinh bị <span>ĐAU ĐẦU</span>, lúc thì đau xoáy vào một điểm, khi thì đau
                             chạy lung tung đến đỉnh đầu, trán, thái dương, sau gáy. Gần đây công việc bận rộn,
                              căng thẳng anh càng đau đầu hơn. Anh dùng thuốc giảm đau liên tục, 
                              nhiều đến mức bị đau dạ dày. Anh dùng hoạt huyết Đông y thế hệ 2 liều cao và 
                              chỉ sau dăm ngày chứng đau đầu đã thuyên giảm hẳn. Thấy hiệu quả, anh đã uống liên tục 3 
                            tháng và không chỉ hết đau đầu mà cảm thấy minh mẫn, làm việc tập trung hơn.
                        </div>
                    
                    </div>
                </div>
                <div class="item-comment">
                    <span class="avatar-user"><img class="img-fluid lazy" width="122" height="122" alt="Anh Trịnh Thanh"
                            data-original="assets/images/img-avatar-1.png" /></span>
                    <div class="detail-comment">
                        <div class="content-comment">
                            Bác Tuấn dạo này hay <span>NHỚ NHỚ, QUÊN QUÊN</span> do áp lực công việc, 
                            ăn uống không điều độ, tinh thần căng thẳng, mệt mỏi.
                             Khi thì ra về mà không khóa phòng, lúc thì quên cả lịch hẹn với khách VIP, 
                             khách hàng nổi giận, hỏng cả hợp đồng. Sau 2 tuần dùng hoạt huyết Đông y thế hệ 2, 
                             bác ngủ tốt lên, dịu căng thẳng, tinh thần phấn chấn, 
                            tỉnh táo, tập trung, không còn nhớ nhớ, quên quên nữa.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid box-slogan-bottom" id="form-order-bottom">
        <div class="container">
            <div class="row flex-column align-items-center justify-content-center">
                <p class="rs">
                    Viên nén <span>NHẤT NHẤT 3</span><br/> hỗ trợ <span class="text-up-web">hoạt huyết</span>
            </div>
            <p class="rs text-under-bottom">
                Dùng cho người <br/><span>mất ngủ, chóng mặt, đau đầu</span>
        </div>
    </div>
    </div>
    </div>
    <div class="container-fluid box-info-order">
        <div class="container">
            <div class="row main-order">
                <div class="col-12 col-sm-12 col-md-6 box-order-mb">
                    <div class="row">
                        <form class="form-order w-100" autocomplete="off" id="form-order">
                            <h4 class="rs title">Thông tin đặt hàng</h4>
                            <input type="text" placeholder="Họ tên" name="fullName" class="fullName" />
                            <input type="text" placeholder="Số điện thoại" name="phone" class="phone" />
                            <input type="text" placeholder="Địa chỉ nhận hàng" name="address" class="address" />
                            <div class="form-group mb-0 box-counter">
                                <label for="number-max">Số lượng (Hộp):</label>
                                <div class="counter-main">
                                    <input type="button" value="-" class="btn-action decrease" />
                                    <input type="text" class="input-number" id="number-max" value="1" />
                                    <input type="button" value="+" class="btn-action increase" />
                                </div>
                            </div>
                            <div class="form-price">
                                <button class="btn-order">Đặt hàng</button>
                                <div class="box-price">
                                    <span>195.000</span>
                                    <label>VNĐ/hộp</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="img-product">
                        <img class="img-fluid lazy" data-original="assets/images/img-product1.png" />
                    </div>
                </div>

            </div>
            <div class="row bottom-freeship">
                <div class="left-text">
                    <span>Bạn được hoàn hàng,</span>
                    nếu bao bì còn nguyên vẹn
                </div>
                <div class="right-text">
                    <span>FREESHIP</span> toàn quốc
                </div>
            </div>
        </div>
    </div>

</main>