<div class="box-header-fixbottom">
    <div class="box-product">
        <span class="img-form"><img src="assets/images/img-product.png"/></span>
        <div class="price-form">195.000 <small>VND</small></div>
    </div>
    <div class="box-info">
        <span class="freeship"></span>
        <div class="main-info">
            <div class="detail-text">
                Bạn được hoàn hàng, <small>nếu sản phẩm còn nguyên bao bì!</small>
            </div>
            <button type="button" class="btn-buy" data-toggle="modal" data-target="#form-order-bottom">MUA NGAY</button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class=" modal fade" id="form-order-bottom" >
    <div class="modal-dialog "  role="document">
        <div class="wrapper-form-inner">
            <div class="modal-content">
                <div class="banner-form">
                    <img src="assets/images/img-banner.png" />
                </div>
                <form class="form-order" autocomplete="off">
                    <div class="form-group mb-0">
                        <input type="text" placeholder="Họ và tên (*)"/>
                    </div>
                    <div class="box-form-bottom">
                        <div class="form-group mb-0">
                            <input type="text" placeholder="Nhập số điện thoại (*)"/>
                        </div>
                        <button>NHẬN TƯ VẤN</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>