<main class="main-content">
    <section class="heath-section">
        <div class="body-two-col">
            <div class="container">
                <div class="body-right-col pl-0">
                    <div class="body-detail">
                        <div class="detail-article">
                            <div class="body-detail-article">

                            <!-- long form NN6 -->
                            
                            <!-- long form NN6 -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


<!-- Modal nhận tư vấn -->
<div class="modal fade" id="form-receive-longform" >
    <div class="modal-dialog wrp-form-longform"  role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            <!-- form tư vấn -->
            <form class="form-ticket" id="form-ticket" style="display: block;">
                <h5 class="modal-title">Bấm để chọn vấn đề cần tư vấn</h5>
                <div class="inner-form-ticket">
                    <div class="item-ticket">
                        <p>
                            <label for="tag_1">Mất ngủ, đau đầu, chóng mặt</label>
                            <input class="check_tag" type="checkbox" name="tags[]" id="tag_1" value="tag_1"/>
                        </p>
                        <p>
                            <label for="tag_2">Đau mỏi vai gáy, tê bì chân tay</label>
                            <input class="check_tag" type="checkbox" name="tags[]" id="tag_2" value="tag_2"/>
                        </p>
                        <p>
                            <label for="tag_3">Giải độc rượu</label>
                            <input class="check_tag" type="checkbox" name="tags[]" id="tag_3" value="tag_3"/>
                        </p>
                        <p>
                            <label for="tag_4">Suy nhược cơ thể</label>
                            <input class="check_tag" type="checkbox" name="tags[]" id="tag_4" value="tag_4"/>
                        </p>
                    </div>
                    <div class="item-ticket">
                        <p>
                            <label for="tag_5">Ho mạn tính</label>
                            <input class="check_tag" type="checkbox" name="tags[]" id="tag_5" value="tag_5"/>
                        </p>
                        <p>
                            <label for="tag_6">Viêm họng, amidan</label>
                            <input class="check_tag" type="checkbox" name="tags[]" id="tag_6" value="tag_6"/>
                        </p>
                        <p>
                            <label for="tag_7">Viêm loét miệng, Hơi thở hôi</label>
                            <input class="check_tag" type="checkbox" name="tags[]" id="tag_7" value="tag_7"/>
                        </p>
                        <p>
                            <label for="tag_8">Viêm lợi, nha chu, Răng lung lay</label>
                            <input class="check_tag" type="checkbox" name="tags[]" id="tag_8" value="tag_8"/>
                        </p>
                    </div>
                    <div class="item-ticket">
                        <p>
                            <label for="tag_9">Đau dạ dày</label>
                            <input class="check_tag" type="checkbox" name="tags[]" id="tag_9" value="tag_9"/>
                        </p>
                        <p>
                            <label for="tag_10">Trào ngược dạ dày</label>
                            <input class="check_tag" type="checkbox" name="tags[]" id="tag_10" value="tag_10"/>
                        </p>
                        <p>
                            <label for="tag_11">Đau đại tràng</label>
                            <input class="check_tag" type="checkbox" name="tags[]" id="tag_11" value="tag_11"/>
                        </p>
                        <p>
                            <label for="tag_12">Đau bụng kinh</label>
                            <input class="check_tag" type="checkbox" name="tags[]" id="tag_12" value="tag_12"/>
                        </p>
                    </div>
                </div>
                <div class="form-bottom-ticket">
                    <div class="form-group mb-0">
                        <input type="number" class="phone" placeholder="Số điện thoại"/>
                    </div>
                    <button class="btn-register">ĐĂNG KÝ</button>
                </div>
            </form>
            <!-- form tư vấn -->

            <!-- form điền số điện thoại -->
            <form action="" class="form-telephone-ticket" id="" style="display: none;">
                <h5 class="modal-title"><span class="title-sub">Điền <span class="title-phone">SỐ ĐIỆN THOẠI</span> để dược sĩ tư vấn</span></h5>
                <div class="inner-form-telephone">
                    <div class="form-group mb-0">
                        <input type="number" placeholder="Số điện thoại"/>
                    </div>
                    <button class="btn-send-form">GỬI</button>
                </div>
            </form>
            <!-- form điền số điện thoại -->
        </div>
    </div>
</div>  
<!-- Modal nhận tư vấn -->