
<div class="order-listing-page">
    <div class="header-top">
        <a href="account.html" class="btn-back"></a>
        <span class="title-header">Câu Hỏi Của Tôi</span>
    </div>
    <div class="page-information">
        <h4 class="rs title">Chưa có câu hỏi cần bác sĩ tư vấn</h4>
        <p class="">Quý khách đang có quan tâm tới các vấn đề về sức khoẻ cần tham khảo ý kiến bác sĩ ? Hãy liên hệ với đội ngũ bác sĩ lành nghề của 5 Nhất Nhất để nhận những lời khuyên bổ ích nhất về sức khoẻ.</p>
        <a href="#" class="btn-cta">Đặt câu hỏi</a>
    </div>
</div>