
<div class="order-listing-page">
    <div class="header-top">
        <a href="order-detail.html" class="btn-back"></a>
        <span class="title-header">Theo Dõi Đơn Hàng</span>
    </div>
    <div class="detail-order detail-order-tracking">
        <div class="top-product-tracking">
            <img src="assets/images/img-1.jpg" atl="product">
            <div class="order-info">
                <div class="order-info__description">Túi ngủ du lịch dã ngoại (Giao màu ngẫu nhiên)</div>
                <div class="order-info__order-qty-total">1 sản phẩm | 156.988 ₫</div>
            </div>
        </div>
        <div class="tracking-info">
            <div class="delivery-heading">
                <div class="delivery-text">
                    <img src="assets/images/icon-tracking2.png" alt="icon">
                    <span>Giao hàng thành công</span>
                </div>
            </div>
            <div class="list-tracking">
                <div class="item-tracking item-tracking-first">
                    <div class="step-bar step-bar--first">
                        <span class="step-bar__circle"></span>
                        <span class="step-bar__line"></span>
                    </div>
                    <div class="step-info">
                        <div class="step-info__divider step-info__divider--first"></div>
                        <div class="step-info__status-text">Giao hàng thành công</div>
                        <div class="step-info__substate-text"></div>
                        <div class="step-info__hint"></div>
                        <div class="step-info__time">12:33, Thứ tư 03-07-2019</div>
                        <div class="step-info__divider"></div>
                    </div>
                </div>
                <div class="item-tracking">
                    <div class="step-bar ">
                        <span class="step-bar__circle"></span>
                        <span class="step-bar__line"></span>
                    </div><div class="step-info">
                        <div class="step-info__status-text">Đang vận chuyển</div>
                        <div class="step-info__substate-text"></div>
                        <div class="step-info__hint"></div>
                        <div class="step-info__time">10:27, Thứ tư 03-07-2019</div>
                        <div class="step-info__divider"></div>
                    </div>
                </div>
                <div class="item-tracking">
                    <div class="step-bar ">
                        <span class="step-bar__circle"></span>
                        <span class="step-bar__line"></span>
                    </div>
                    <div class="step-info">
                        <div class="step-info__status-text">Bàn giao vận chuyển</div>
                        <div class="step-info__substate-text"></div>
                        <div class="step-info__hint"></div>
                        <div class="step-info__time">08:31, Thứ tư 03-07-2019</div>
                        <div class="step-info__divider"></div>
                    </div>
                </div>
                <div class="item-tracking">
                    <div class="step-bar ">
                        <span class="step-bar__circle"></span>
                        <span class="step-bar__line"></span>
                    </div>
                    <div class="step-info">
                        <div class="step-info__status-text">Đóng gói xong</div>
                        <div class="step-info__substate-text"></div>
                        <div class="step-info__hint">Bạn không thể huỷ đơn kể từ trạng thái này</div>
                        <div class="step-info__time">08:30, Thứ tư 03-07-2019</div>
                        <div class="step-info__divider"></div>
                    </div>
                </div>
                <div class="item-tracking">
                    <div class="step-bar ">
                        <span class="step-bar__circle"></span>
                        <span class="step-bar__line"></span>
                    </div>
                    <div class="step-info">
                        <div class="step-info__status-text">Đang lấy hàng</div>
                        <div class="step-info__substate-text"></div>
                        <div class="step-info__hint"></div>
                        <div class="step-info__time">08:30, Thứ tư 03-07-2019</div>
                        <div class="step-info__divider"></div>
                    </div>
                </div>
                <div class="item-tracking">
                    <div class="step-bar ">
                        <span class="step-bar__circle"></span>
                        <span class="step-bar__line"></span>
                    </div>
                    <div class="step-info">
                        <div class="step-info__status-text">Tiki đã tiếp nhận</div>
                        <div class="step-info__substate-text"></div>
                        <div class="step-info__hint"></div>
                        <div class="step-info__time">08:20, Thứ tư 03-07-2019</div>
                        <div class="step-info__divider"></div>
                    </div>
                </div>
                <div class="item-tracking item-tracking-last">
                    <div class="step-bar">
                        <span class="step-bar__circle"></span>
                        <span class="step-bar__line"></span>
                    </div>
                    <div class="step-info">
                        <div class="step-info__status-text">Đặt hàng thành công</div>
                        <div class="step-info__substate-text"></div>
                        <div class="step-info__hint"></div>
                        <div class="step-info__time">08:20, Thứ tư 03-07-2019</div>
                        <div class="step-info__divider"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-footer"><a href="order-detail.html">Xem Chi Tiết Đơn Hàng</a></div>
    </div>
</div>