
<div class="order-listing-page">
    <div class="header-top">
        <a href="order.html" class="btn-back"></a>
        <span class="title-header">Đơn Hàng</span>
    </div>
    <div class="detail-order">
        <div class="wrap-order detail-order-item">
            <span class="img"><img class="img-fluid" src="assets/images/icon-list.png" alt="Mã đơn hàng" width="24"></span>
            <div class="inner">
                <p class="rs title">Mã Đơn Hàng: 624679663</p>
                <p class="rs date">Ngày đặt hàng: 03/07/2019</p>
                <p class="rs status ">Đã hủy</p>
            </div>
        </div>
        <div class="wrap-order ">
            <div class="detail-order-item">
                <span class="img"><img class="img-fluid" src="assets/images/icon-tracking.png" alt="Mã đơn hàng" width="24"></span>
                <div class="inner d-flex align-items-center justify-content-between">
                    <p class="rs title">Theo dõi đơn hàng</p>
                    <a href="order-tracking.html" class="link-view-more">XEM CHI TIẾT</a>
                </div>
            </div>
            <div class="current-status">
                <div class="step-bar">
                    <span class="step-bar__circle"></span>
                    <span class="step-bar__line"></span>
                </div>
                <div class="step-info">
                    <div class="step-info__status-text">Giao hàng thành công</div>
                    <div class="step-info__substate-text"></div>
                    <div class="step-info__hint"></div>
                    <div class="step-info__time">12:33, Thứ tư 03-07-2019</div>
                </div>
            </div>
        </div>

        <div class="wrap-order detail-order-item">
            <span class="img"><img class="img-fluid" src="assets/images/icon-address.png" alt="Mã đơn hàng" width="24"></span>
            <div class="inner">
                <p class="rs title">Địa Chỉ Người Nhận</p>
                <p class="rs name">Nguyễn Thu Thùy</p>
                <p class="rs phone">0977865635</p>
                <p class="rs address ">Tòa nhà N2 - Viettel - Km2 Đại lộ Thăng Long, Phường Mễ Trì, Quận Nam Từ Liêm, Hà Nội, Việt Nam</p>
            </div>
        </div>
        <div class="wrap-order ">
            <div class="detail-order-item">
                <span class="img"><img class="img-fluid" src="assets/images/icon-pack.png" alt="Mã đơn hàng" width="24"></span>
                <div class="inner">
                    <p class="rs title">Thông Tin Kiện Hàng</p>
                </div>
            </div>
            <ul class="rs lst-product-detail-order">
                <li class="inner-product">
                    <span class="img"><img class="img-fluid" src="assets/images/img-1.jpg"/></span>
                    <div class="item-inner">
                        <a class="name" href="/product/10773802">Túi ngủ văn phòng (ngẫu nhiên)</a>
                        <p class="seller">Cung cấp bởi Gym store</p>
                        <p class="total">
                            <span class="prices">130.990₫</span>
                            <span class="qty">x 1</span>
                        </p>
                    </div>
                </li>
                <li class="inner-product">
                    <span class="img"><img class="img-fluid" src="assets/images/img-2.jpg"/></span>
                    <div class="item-inner">
                        <a class="name" href="/product/10773802">Túi ngủ văn phòng (ngẫu nhiên)</a>
                        <p class="seller">Cung cấp bởi Gym store</p>
                        <p class="total">
                            <span class="prices">130.990₫</span>
                            <span class="qty">x 2</span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="wrap-order detail-order-item">
            <span class="img"><img class="img-fluid" src="assets/images/icon-transport.png" alt="Mã đơn hàng" width="24"></span>
            <div class="inner">
                <p class="rs title">Hình Thức Giao Hàng</p>
                <p class="date "> 
                    <span> Giao Hàng Tiết Kiệm</span>
                </p>
            </div>
        </div>
        <div class="wrap-order detail-order-item">
            <span class="img"><img class="img-fluid" src="assets/images/icon-payment.png" alt="Mã đơn hàng" width="24"></span>
            <div class="inner">
                <p class="rs title">Hình Thức Thanh Toán</p>
                <p class="date "> 
                    <span> Thanh toán tiền mặt khi nhận hàng</span>
                </p>
            </div>
        </div>
        <div class="wrap-order ">
            <div class="item-order-summary">
                <span class="summary-text">Tạm tính</span>
                <span class="summary-value">239.000₫</span>
            </div>
            <div class="item-order-summary">
                <span class="summary-text">Phí vận chuyển</span>
                <span class="summary-value">239.000₫</span>
            </div>
            <div class="item-order-summary summary-total">
                <span class="summary-text">Thành tiền</span>
                <span class="summary-value">239.000₫<i>Đã bao gồm VAT nếu có</i></span>
            </div>
        </div>
        <div class="wrap-order mb-0"><div class="re-buy">Mua Lại</div></div>
    </div>
</div>