
<div class="order-listing-page">
    <div class="header-top header-account">
        <a href="order-info-account.html" class="btn-back"></a>
        <span class="title-header">Địa chỉ Email</span>
        <a rel="nofollow"  class="icon-header">
            <img alt="cart" src="assets/images/cart.svg">
            <span id="badge-cart" class="badge-cart">14</span>
        </a>
    </div>
    <div class="main-info main-fix-bottom">
        <form class="main-search-order">
            <div class="form-edit">
                <label class="input-label">Địa chỉ Email</label>
                <div class="item-edit">
                    <span class="icon icon-email"></span>
                    <input type="text" name="email" placeholder="Nhập email" class="" focused="true" value="hotro@5nhatnhat.com">
                    <span class="clear"></span>
                </div>
                <div class="message">
                    Mã xác thực (OTP) sẽ được gửi đến email này để xác minh email là của bạn
                </div>
                <button class="btn-send-otp">Gửi mã xác thực (OTP)</button>
            </div>
            <div class="item-search pt-3 pb-3">
                <div class="form-item">
                    <input type="text" id="code-confirm" autocomplete="off" required>
                    <label for="code-confirm">Nhập mã xác thực</label>
                </div>
                <label class="error">Mã xác thực không đúng!</label>
            </div>
            <div class="sticky-footer"><a class="btn-save" href="order-detail.html">Lưu Thay Đổi</a></div>
        </form>
    </div>
</div>