
<div class="order-listing-page">
    <div class="header-top">
        <a href="account.html" class="btn-back"></a>
        <span class="title-header">Đơn Hàng Của Tôi</span>
    </div>
    <div class="order-listing-main">
        <!-- start order item -->
        <div class="order-item wrap-order">
            <div class="status-text">Đã hủy</div>
            <div class="order-info">
                <img src="assets/images/img-2.jpg" alt="product-image">
                <div class="order-info-detail">
                    <div class="order-info-description">Túi ngủ văn phòng (ngẫu nhiên)</div>
                    <div class="order-info-order-qty-total">1 sản phẩm | 159.990 ₫</div>
                </div>
            </div>
            <div class="btn-group">
                <a href="order-detail.html">Xem Chi Tiết</a>
                <a href="#">Mua Lại</a>
            </div>
        </div>
        <!-- end order item --> 
        <!-- start order item -->
        <div class="order-item wrap-order">
            <div class="status-text">Giao hàng thành công</div>
            <div class="order-info">
                <img src="assets/images/img-1.jpg" alt="product-image">
                <div class="order-info-detail">
                    <div class="order-info-description">Những Gì Đã Qua Đừng Nghĩ Lại Quá Nhiều</div>
                    <div class="order-info-order-qty-total">1 sản phẩm | 159.990 ₫</div>
                </div>
            </div>
            <div class="btn-group">
                <a href="order-detail.html">Xem Chi Tiết</a>
                <a href="#">Mua Lại</a>
            </div>
        </div>
        <!-- end order item -->
        
        <!-- start order item -->
        <div class="order-item wrap-order">
            <div class="status-text">Đã hủy</div>
            <div class="order-info">
                <img src="assets/images/img-2.jpg" alt="product-image">
                <div class="order-info-detail">
                    <div class="order-info-description">Túi ngủ văn phòng (ngẫu nhiên)</div>
                    <div class="order-info-order-qty-total">1 sản phẩm | 159.990 ₫</div>
                </div>
            </div>
            <div class="btn-group">
                <a href="order-detail.html">Xem Chi Tiết</a>
                <a href="#">Mua Lại</a>
            </div>
        </div>
        <!-- end order item -->
        <!-- start order item -->
        <div class="order-item wrap-order">
            <div class="status-text">Giao hàng thành công</div>
            <div class="order-info">
                <img src="assets/images/img-1.jpg" alt="product-image">
                <div class="order-info-detail">
                    <div class="order-info-description">Những Gì Đã Qua Đừng Nghĩ Lại Quá Nhiều Những Gì Đã Qua Đừng Nghĩ Lại Quá Nhiều</div>
                    <div class="order-info-order-qty-total">1 sản phẩm | 159.990 ₫</div>
                </div>
            </div>
            <div class="btn-group">
                <a href="order-detail.html">Xem Chi Tiết</a>
                <a href="#">Mua Lại</a>
            </div>
        </div>
        <!-- end order item -->
        <p class="end-message">Bạn đã xem hết danh sách</p>
    </div>
</div>