
<div class="order-listing-page">
    <div class="header-top">
        <a href="account.html" class="btn-back"></a>
        <span class="title-header">Lịch Sử Mua Thuốc</span>
    </div>
    <div class="order-listing-main">
        <!-- start order item -->
        <div class="order-item wrap-order">
            <div class="order-info">
                <img src="assets/images/img-product.png" alt="product-image">
                <div class="order-info-detail">
                    <div class="order-info-description">Viên nén Nhất Nhất 8 - Dạ Dày</div>
                    <div class="order-info-order-qty-total">Ngày mua: 11/08/2021 | SL: 3</div>
                    <div class="btn-group">
                        <a href="order-detail.html">Xem Chi Tiết</a>
                        <a target="_blank" href="https://5nhatnhat.com/san-pham/vien-nen-nhat-nhat-8-da-day-id-6.html">Mua Lại</a>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- end order item --> 
        <!-- start order item -->
        <div class="order-item wrap-order">
            <div class="order-info">
                <img src="assets/images/img-product.png" alt="product-image">
                <div class="order-info-detail">
                    <div class="order-info-description">Viên nén Nhất Nhất 8 - Dạ Dày</div>
                    <div class="order-info-order-qty-total">Ngày mua: 11/08/2021 | SL: 3</div>
                    <div class="btn-group">
                        <a href="order-detail.html">Xem Chi Tiết</a>
                        <a target="_blank" href="https://5nhatnhat.com/san-pham/vien-nen-nhat-nhat-8-da-day-id-6.html">Mua Lại</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end order item -->
        
        <!-- start order item -->
        <div class="order-item wrap-order">
            <div class="order-info">
                <img src="assets/images/img-product.png" alt="product-image">
                <div class="order-info-detail">
                    <div class="order-info-description">Viên nén Nhất Nhất 8 - Dạ Dày</div>
                    <div class="order-info-order-qty-total">Ngày mua: 11/08/2021 | SL: 3</div>
                    <div class="btn-group">
                        <a href="order-detail.html">Xem Chi Tiết</a>
                        <a target="_blank" href="https://5nhatnhat.com/san-pham/vien-nen-nhat-nhat-8-da-day-id-6.html">Mua Lại</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end order item -->
        <!-- start order item -->
        <div class="order-item wrap-order">
            <div class="order-info">
                <img src="assets/images/img-product.png" alt="product-image">
                <div class="order-info-detail">
                    <div class="order-info-description">Viên nén Nhất Nhất 8 - Dạ Dày</div>
                    <div class="order-info-order-qty-total">Ngày mua: 11/08/2021 | SL: 3</div>
                    <div class="btn-group">
                        <a href="order-detail.html">Xem Chi Tiết</a>
                        <a target="_blank" href="https://5nhatnhat.com/san-pham/vien-nen-nhat-nhat-8-da-day-id-6.html">Mua Lại</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end order item -->
        <p class="end-message">Bạn đã xem hết danh sách</p>
    </div>
</div>