
<div class="order-listing-page">
    <div class="header-top">
        <a href="account.html" class="btn-back"></a>
        <span class="title-header">Thông Báo Của Tôi</span>
    </div>
    <div class="page-information">
        <p class="end-message">Bạn chưa có thông báo nào.</p>
    </div>
</div>