
<div class="order-listing-page">
    <div class="header-top header-account">
        <a href="account.html" class="btn-back"></a>
        <span class="title-header">Thông tin tài khoản</span>
        <a rel="nofollow"  class="icon-header">
            <img alt="cart" src="assets/images/cart.svg">
            <span id="badge-cart" class="badge-cart">14</span>
        </a>
    </div>
    <div class="main-info main-fix-bottom">
        <form class="main-search-order">
            <div class="item-search">
                <div class="form-item">
                    <input type="text" id="name" autocomplete="off" required>
                    <label for="name">Họ tên</label>
                </div>
            </div>
            <div class="item-search d-flex">
                <div class="form-item active">
                    <input type="text" id="phone" autocomplete="off" required readonly value="0818122122">
                    <label for="phone">Số điện thoại</label>
                </div>
                <a href="order-edit-phone.html" class="edit-form" id="btnEditPhone"></a>
            </div>
            <div class="item-search d-flex">
                <div class="form-item active">
                    <input type="text" id="email" autocomplete="off" required readonly value="thuthuy.nguyen1509@gmail.com">
                    <label for="email">Email</label>
                </div>
                <a href="order-edit-email.html" class="edit-form" id="btnEditPhone"></a>
            </div>
            <div class="item-search">
                <div class="form-item">
                    <input class="birthday start_date_call" name="dateOfBirth" id="dateOfBirth" type="text" value="12/30/1986" autocomplete="off">
                    <label for="dateOfBirth">Ngày sinh</label>
                </div>
            </div>
            <div class="item-search box-radio-button">
                <p class="rs">
                    <input type="radio" id="male" name="radio-group" checked>
                    <label for="male">Nam</label>
                </p>
                <p class="rs">
                    <input type="radio" id="female" name="radio-group">
                    <label for="female">Nữ</label>
                </p>
            </div>
            <a href="order-edit-lock.html" class="form-title">
                <label class="changepass-form">Đổi mật khẩu</label>
            </a>
            
            
            <div class="sticky-footer"><a class="btn-save" href="order-detail.html">Lưu Thay Đổi</a></div>
    
        </form>
    </div>
</div>