
<div class="order-listing-page">
    <div class="header-top header-account">
        <a href="account.html" class="btn-back"></a>
        <span class="title-header">Sổ địa chỉ</span>
        <a rel="nofollow"  class="icon-header">
            <img alt="cart" src="assets/images/cart.svg">
            <span id="badge-cart" class="badge-cart">14</span>
        </a>
    </div>
    <div class="lst-info-address">
       <div class="item-address">
            <div class="address-group">
                <span class="address-group-name">
                    Nguyen Thu Thuy <span class="add-note">[Mặc định]</span>
                </span>
                <span class="address-group-phone">0818122122</span>
                <span class="address-group-detail">
                    24/22 Trung Kính, Phường Trung Hòa, Quận Cầu Giấy, Hà Nội, Việt Nam
                </span>
                
            </div>
            <div class="btn-action-address">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="25" class="icon" height="25" width="25" xmlns="">
                    <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
                </svg>
            </div>
       </div>

       <div class="item-address">
            <div class="address-group">
                <span class="address-group-name">
                    Nguyen Thu Thuy <span class="add-note">[Địa chỉ công ty]</span>
                </span>
                <span class="address-group-phone">0818122122</span>
                <span class="address-group-detail">
                    24/22 Trung Kính, Phường Trung Hòa, Quận Cầu Giấy, Hà Nội, Việt Nam
                </span>
                
            </div>
            <div class="btn-action-address">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="25" class="icon" height="25" width="25" xmlns="">
                    <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
                </svg>
            </div>
        </div>
    </div>
    <div class="add-new-address">
        <a href="order-info-address-form.html"><span class="add-new-address__text">Thêm địa chỉ mới</span></a>
    </div>
</div>

<!-- Popup edit địa chỉ -->
<div class="wrapper-popup">
    <div class="inner-popup">
        <a href="order-info-address-form.html" class="btn-edit">Chỉnh sửa</a>
        <a href="javascript:void(0);" class="btn-cancel">Hủy</a>
    </div>
</div>
<!-- Popup edit địa chỉ -->