
<div class="order-listing-page">
    <div class="header-top header-account">
        <a href="order-info-account.html" class="btn-back"></a>
        <span class="title-header">Đổi mật khẩu</span>
        <a rel="nofollow"  class="icon-header">
            <img alt="cart" src="assets/images/cart.svg">
            <span id="badge-cart" class="badge-cart">14</span>
        </a>
    </div>
    <div class="main-info main-fix-bottom">
        <form class="main-search-order">
            <div class="form-content-info">
                <div class="item-search">
                    <div class="form-item">
                        <input type="text" id="password-new" autocomplete="off" required>
                        <label for="password-new">Mật khẩu mới</label>
                    </div>
                </div>
                <div class="item-search">
                    <div class="form-item">
                        <input type="text" id="password-reup" autocomplete="off" required>
                        <label for="password-reup">Nhập lại mật khẩu mới</label>
                    </div>
                    <label class="error">Mật khẩu không khớp!</label>
                </div>
                
                
                <div class="item-search box-radio-button">
                    <div class="message">
                        Chọn phương thức để gửi mã xác thực (OTP)
                    </div>
                    <p class="rs option-otp">
                        <input type="radio" id="male" name="radio-group" checked="">
                        <label for="male">
                            <small>Số điện thoại:</small>
                            <span>0818122122</span>
                        </label>
                    </p>
                    <p class="rs option-otp">
                        <input type="radio" id="female" name="radio-group">
                        <label for="female">
                            <small>Email:</small>
                            <span>hotro@5nhatnhat.com</span>
                        </label>
                    </p>
                </div>
                <div class="item-search">
                    <button class="btn-send-otp">Gửi mã xác thực (OTP)</button>
                    <button style="display: none;" class="btn-send-otp btn-disable">Gửi lại mã xác thực (OTP) sau 30 giây</button>
                </div>
                <div class="item-search">
                    <div class="form-item">
                        <input type="text" id="code-confirm" autocomplete="off" required>
                        <label for="code-confirm">Nhập mã xác thực</label>
                    </div>
                    <label class="error">Mã xác thực không đúng!</label>
                </div>
                
            </div>
            <div class="sticky-footer"><a class="btn-save" href="order-detail.html">Lưu Thay Đổi</a></div>
        </form>
    </div>
</div>