
<div class="order-listing-page">
    <div class="header-top">
        <a href="account.html" class="btn-back"></a>
        <span class="title-header">Địa Chỉ Nhận Hàng</span>
    </div>
    <div class="main-info info-address-form">
        <form class="main-search-order">
            <h3 class="rs title">Nhập địa chỉ nhận hàng</h3>
            <div class="lst-check-address">
                <div class="form-title border-0 bg-transparent">
                    <input type="radio" name="address" id="add-company1">
                    <label for="add-company1">Địa chỉ công ty</label>
                </div>
                <div class="form-title border-0 bg-transparent">
                    <input type="radio" name="address" id="add-company2">
                    <label for="add-company2">Địa chỉ nhà riêng</label>
                </div>
                <div class="form-title border-0 bg-transparent">
                    <input type="radio" name="address" id="add-company3">
                    <label for="add-company3">Địa chỉ khác</label>
                </div>
            </div>
            
            <div class="item-search">
                <div class="form-item">
                    <label>Tên người nhận</label>
                    <input type="text" autocomplete="off" required placeholder="Nhập họ & tên người nhận">
                </div>
            </div>
            <div class="item-search">
                <div class="form-item">
                    <label>Số điện thoại</label>
                    <input type="text"  autocomplete="off" required placeholder="Nhập số điện thoại nhận hàng">
                </div>
            </div>
            <div class="item-search">
                <div class="form-item">
                    <label>Địa chỉ nhận hàng</label>
                    <input type="text"  autocomplete="off" required placeholder="Nhập số nhà, tên đường...">
                </div>
            </div>
            <div class="item-search">
                <div class="form-item">
                    <label>Tỉnh/ Thành phố</label>
                    <select class="form-control">
                        <option value>Vui lòng chọn</option>
                        <option value="1">Hà Nội</option>
                        <option value="2">Hồ Chí Minh</option>
                        <option value="3">Hà Giang</option>
                        <option value="4">Phú Yên</option>
                    </select>
                </div>
            </div>
            <div class="item-search">
                <div class="form-item">
                    <label>Quận/Huyện</label>
                    <select class="form-control">
                        <option value>Vui lòng chọn</option>
                        <option value="1">Quận Ba Đình</option>
                        <option value="2">Quận Hoàn Kiếm</option>
                        <option value="3">Quận Đống Đa</option>
                        <option value="4">Quận Hoàng Mai</option>
                    </select>
                </div>
            </div>
            <div class="item-search">
                <div class="form-item">
                    <label>Phường/ Xã</label>
                    <select class="form-control">
                        <option value>Vui lòng chọn</option>
                        <option value="1">Phường Điện Biên</option>
                    </select>
                </div>
            </div>
            <div class="form-title border-0 bg-transparent">
                <input type="checkbox" id="add-default">
                <label for="add-default">Đặt làm địa chỉ mặc định</label>
            </div>
            
            <div class="wrap-order mb-0">
                <div class="re-buy">Thêm Địa Chỉ Mới</div>
            </div>
        </form>
    </div>
</div>