<!-- <section class="header new-header" style="position: fixed;width:100%; height: 105px; display: flex; justify-content: center; align-items: center; top: 0; background-color: #2e3092; color: #fff;">
    <img class="w-100" src="assets/images/img-header.jpg" style="max-width: 414px"/>
</section> -->
<section class="header new-header">
    <div class="up-header">
        <div class="container">
            <div class="up-header-in">
                <div class="wrap-logo">
                    <a href="https://5nhatnhat.com" class="logo">
                        <img src="https://5nhatnhat.com/v2/images/logo@3x.png" alt="Trang chủ">
                    </a>
                    <div class="search-h-mobile">
                        <div class="mobile-search">
                            <div class="search-h">
                                <form method="GET" action="/tim-kiem" autocomplete="off">
                                    <input type="text" class="form-control" name="t_s" placeholder="Tìm kiếm" value="">
                                    <button class="btn btn-search">
                                        <img src="https://5nhatnhat.com/v2/images/icon-search.svg" alt="">
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap-search">
                    <div class="search-h">
                        <form method="GET" action="/tim-kiem" autocomplete="off">
                            <div class="wrap-search-dynamic">
                                <select name="opt_s" class="js-select-nn select2-hidden-accessible" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                    <option value="tat-ca" data-select2-id="3">Tất cả</option>
                                    <option value="san-pham">Sản phẩm</option>
                                    <option value="hoi-dap-chuyen-gia">Hỏi đáp chuyên gia</option>
                                    <option value="suc-khoe">Sức khỏe</option>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="2" style="width: 158px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-opt_s-j3-container"><span class="select2-selection__rendered" id="select2-opt_s-j3-container" role="textbox" aria-readonly="true" title="Tất cả">Tất cả</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                            </div>
                            <div class="input-search-desktop">
                                <input type="text" class="form-control" name="t_s" placeholder="Nhập tìm kiếm" value="">
                                <button class="btn btn-search">
                                    <img src="https://5nhatnhat.com/v2/images/zoom-2.svg" alt="">
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="up-right-header">
                    <a class="nav-mobile">
                        <img class="nav-open" src="assets/images/img-company/icon-menu.png" alt="">
                        <img class="nav-close" src="https://5nhatnhat.com/v2/images/cancel.svg" alt="">
                    </a>
                    <div class="info-header">
                        <a href="#" class="logo"><img src="assets/images/img-company/logo-mb.png"/></a>
                        <!-- chuyen trang thai Login / Not Login  o day -->
                        <div class="user-setting sign-in" onclick="location.href='account.html';">
                            <div class="icon-user">
                                <picture>
                                    <source media="(max-width:990px)" srcset="assets/images/img-company/icon-user.png">
                                    <img src="https://5nhatnhat.com/v2/images/icon-user.svg" alt="">
                                </picture>
                            </div>
                            <div class="link-reg-login">
                            <a class="dropdown-toggle img-account show-mobile hide-desktop"><label>tuannguyen</label></a>
                                    <a class="dropdown-toggle img-account show-desktop hide-mobile" href="javascript:void(0)" role="button" id="dropdownAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <label>tuannguyen</label>
                                    </a>
                                                            <div class="dropdown-menu mega-dropdown-menu" aria-labelledby="dropdownAccount">
                                    <div class="account-main-info">
                                        <a href="https://5nhatnhat.com/account/profile"><img class="avatar-dropdown" src="https://5nhatnhat.com/v2/images/avatar-default-orange.svg" alt=""></a>
                                        <div class="name-tel ml-4">
                                            <h4>
                                                <a href="https://5nhatnhat.com/account/profile">tuannguyen</a>
                                            </h4>
                                            <p class="tel">
                                                <a href="https://5nhatnhat.com/account/profile">tuannguyen</a>
                                            </p>
                                        </div>
                                        <a href="https://5nhatnhat.com/account/profile" class="detail-profile" title="Chi tiết">
                                            <i class="fas fa-chevron-right"></i>
                                        </a>
                                    </div>
                                    <ul class="ul ul-manager">
                                        <li>
                                            <a href="https://5nhatnhat.com/account/orders" title="Đơn hàng của tôi">
                                                <img class="icon" src="https://5nhatnhat.com/v2/images/icon-donhang.svg" alt="Đơn hàng của tôi">
                                                <span>Đơn hàng của tôi</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://5nhatnhat.com/account/yba-online" title="Sổ theo dõi sản phẩm">
                                                <img class="icon" src="https://5nhatnhat.com/v2/images/icon-yba.svg" alt="Sổ theo dõi sản phẩm">
                                                <span>Sổ theo dõi sản phẩm</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://5nhatnhat.com/account/news" title="Bài viết ưa thích">
                                                <img class="icon" src="https://5nhatnhat.com/v2/images/icon-like.svg" alt="Bài viết ưa thích">
                                                <span>Bài viết ưa thích</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://5nhatnhat.com/account/questions" title="Câu hỏi của tôi">
                                                <img class="icon" src="https://5nhatnhat.com/v2/images/icon-my-question.svg" alt="Câu hỏi của tôi">
                                                <span>Câu hỏi của tôi</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://5nhatnhat.com/account/address" title="Danh sách địa chỉ">
                                                <img class="icon" src="https://5nhatnhat.com/v2/images/icon-address.svg" alt="Danh sách địa chỉ">
                                                <span>Danh sách địa chỉ</span>
                                            </a>
                                        </li>
                                        











                                                                        </ul>
                                    <div class="logout-acc">
                                        <a href="https://5nhatnhat.com/thoat" class="logout-link" title="Đăng xuất">
                                            Đăng xuất
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="cart-div">
                        <div class="dropdown dropdown-cart" id="quickCartDropdown">
                            <a href="javascript:void(0)" class="link-cart" id="dropdownCart" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="main-cart">
                                    <picture>
                                        <source media="(max-width:990px)" srcset="assets/images/img-company/icon-cart.png">
                                        <img src="https://5nhatnhat.com/v2/images/icon-cart.svg" alt="Giỏ hàng">
                                    </picture>
                                    <span id="badge-cart" class="badge badge-light"></span>
                                </div>
                                <span>
                                    Giỏ hàng
                                </span>
                            </a>
                            <!-- Giỏ hàng -->
                            <div class="dropdown-menu mega-dropdown-menu" aria-labelledby="dropdownCart" id="shopping_cart"></div>
                        </div>
                    </div>
                </div>

                <!-- box search mobile -->
                <div class="box-search-mb">
                    <form class="d-flex">
                        <input type="text" placeholder="Nhập tìm kiếm..."/>
                       <button></button>
                    </form>
                </div>
                <!-- box search mobile -->

            </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container no-padding">
            <div class="bottom-header-in">
                <div class="left-b-header">
                    <div class="main-nav-and-search">
                        <ul class="ul ul-nav">
                                                                                                                                                                                                                                    <li><a class="link-nav" href="/">Trang chủ</a></li>
                                                                                                                                                                                                                                                                                <li>
                                                <div class="dropdown">
                                                                                                            <a class="dropdown-toggle link-nav" href="/san-pham" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                                                            Sản phẩm
                                                        </a>
                                                        <div class="dropdown-menu mega-dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                            <a class="dropdown-item" href="/san-pham">Tất cả sản phẩm</a>
                                                                                                                                                                                                                                                                                                                                    <a class="dropdown-item" href="/san-pham/thuoc-va-thuc-pham-chuc-nang">Thực phẩm bảo vệ sức khỏe</a>
                                                                                                                                                                                                                                                                                <a class="dropdown-item" href="/san-pham/duoc-my-pham">Dược mỹ phẩm</a>
                                                                                                                                                                                                                                                                                <a class="dropdown-item" href="/san-pham/thiet-bi-y-te">Thiết bị y tế</a>
                                                                                                                                                                                                                                                                                                                    </div>
                                            </div></li>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <li>
                                                    <div class="dropdown">
                                                        <a class="dropdown-toggle link-nav" href="javascript:void(0)" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                                                            Phòng mạch Online
                                                        </a>
                                                        <div class="dropdown-menu mega-dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                            <a class="dropdown-item" href="/hoi-dap-chuyen-gia">Hỏi đáp chuyên gia</a>
                                                            <a class="dropdown-item" href="/bai-viet-chuyen-gia">Bài viết chuyên gia</a>
                                                            <a class="dropdown-item" href="/suc-khoe/cau-chuyen-benh-nhan">Câu chuyện bệnh nhân</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                                                                                                                                                                                                                                                <li>
                                                <div class="dropdown">
                                                                                                        <a class="dropdown-toggle link-nav" href="/suc-khoe/so-tay-benh-hoc" id="dropdownMenuSk" aria-haspopup="true" aria-expanded="false">
                                                        Sức khỏe
                                                    </a>
                                                    <div class="dropdown-menu mega-dropdown-menu" aria-labelledby="dropdownMenuSk">
                                                                                                                    <a class="dropdown-item" href="/suc-khoe/so-tay-benh-hoc">Sổ tay bệnh học</a>
                                                                                                                    <a class="dropdown-item" href="/suc-khoe/chua-benh-khong-dung-thuoc">Chữa bệnh không dùng thuốc</a>
                                                                                                                                                                        </div>
                                            </div></li>
                                                                                                                                                                                                                                                                                                                                                                                                                            <li>
                                                    <div class="dropdown">
                                                        <a class="dropdown-toggle link-nav" href="javascript:void(0)" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                                                            Giới thiệu công ty
                                                        </a>
                                                        <div class="dropdown-menu mega-dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                            <a class="dropdown-item" href="/gioi-thieu-cong-ty">Giới thiệu 5 Nhất Nhất</a>
                                                            <a class="dropdown-item" href="/huong-dan-mua-hang">Hướng dẫn mua hàng</a>
                                                            <a class="dropdown-item" href="/chinh-sach-doi-tra">Chính sách đổi trả</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                                                                                                                                                                                </ul>
                    </div>
                </div>
                <div class="right-b-header">
                    <div class="hotline-header">
                        <img src="/v2/images/call.svg" alt="hotline">
                                                    <a href="tel:08.18.122.122">08.18.122.122</a>
                                            </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-nav">
        <div class="overlay-mobile-nav"></div>
        <div class="wrap-nav-m">
            <div class="nav-bar-f">
                <button class="cancel-nav-mobile">
                    <img src="/v2/images/cancel.svg" alt="">
                </button>
            </div>
            <div id="accordion">
                                                                                                                                        <div class="card no-sub-nav">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <a href="/" title="Trang chủ">
                                                    <span>
                                                        Trang chủ
                                                    </span>
                                                </a>
                                            </h5>
                                        </div>
                                    </div>
                                                                                                                                                                <div class="card">
                                                                <div class="card-header has-sub-nav" id="headingTwo">
                                    <h5 class="mb-0">
                                        <a href="/san-pham" title="Sản phẩm" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <span>
                                                Sản phẩm
                                            </span>
                                        </a>
                                    </h5>
                                </div>
                                                                                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            <ul class="ul ul-products">
                                                <li><a href="/san-pham" title="Tất cả sản phẩm">Tất cả sản phẩm</a></li>
                                                                                                                                                            <li><a href="/san-pham/thuoc-va-thuc-pham-chuc-nang" title="Thực phẩm bảo vệ sức khỏe">Thực phẩm bảo vệ sức khỏe</a></li>
                                                                                                                                                                                                                <li><a href="/san-pham/duoc-my-pham" title="Dược mỹ phẩm">Dược mỹ phẩm</a></li>
                                                                                                                                                                                                                <li><a href="/san-pham/thiet-bi-y-te" title="Thiết bị y tế">Thiết bị y tế</a></li>
                                                                                                                                                </ul>
                                        </div>
                                    </div>
                                                                                            </div>
                                                                                                                                                                                                                                                                                    <div class="card">
                                        <div class="card-header has-sub-nav" id="headingThree">
                                            <h5 class="mb-0">
                                                <a href="/hoi-dap-chuyen-gia" title="Phòng mạch Online" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    <span>
                                                        Phòng mạch Online
                                                    </span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                            <div class="card-body">
                                                <ul class="ul ul-products">
                                                    <li>
                                                        <a href="/hoi-dap-chuyen-gia" title="Hỏi đáp chuyên gia">
                                                            Hỏi đáp chuyên gia
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/bai-viet-chuyen-gia" title="Bài viết chuyên gia">
                                                            Bài viết chuyên gia
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/suc-khoe/cau-chuyen-benh-nhan" title="Câu chuyện bệnh nhân">
                                                            Câu chuyện bệnh nhân
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                                                                                                                                                <div class="card">
                                                                <div class="card-header has-sub-nav" id="headingFour">
                                    <h5 class="mb-0">
                                        <a href="/suc-khoe/so-tay-benh-hoc" title="Sức khỏe" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            <span>
                                                Sức khỏe
                                            </span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                    <div class="card-body">
                                        <ul class="ul ul-products">
                                                                                            <li>
                                                    <a href="/suc-khoe/so-tay-benh-hoc" title="Sổ tay bệnh học">
                                                        Sổ tay bệnh học
                                                    </a>
                                                </li>
                                                                                            <li>
                                                    <a href="/suc-khoe/chua-benh-khong-dung-thuoc" title="Chữa bệnh không dùng thuốc">
                                                        Chữa bệnh không dùng thuốc
                                                    </a>
                                                </li>
                                                                                    </ul>
                                    </div>
                                </div>
                                                            </div>
                                                                                                                                                                                                                                                <div class="card">
                                        <div class="card-header has-sub-nav" id="headingFive">
                                            <h5 class="mb-0">
                                                <a href="javascript:void(0)" title="Giới thiệu công ty" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                    <span>
                                                        Giới thiệu công ty
                                                    </span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                            <div class="card-body">
                                                <ul class="ul ul-products">
                                                    <li>
                                                        <a href="/gioi-thieu-cong-ty" title="Giới thiệu công ty">
                                                            Giới thiệu 5 Nhất Nhất
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/huong-dan-mua-hang" title="Hướng dẫn mua hàng">
                                                            Hướng dẫn mua hàng
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/chinh-sach-doi-tra" title="Chính sách đổi trả">
                                                            Chính sách đổi trả
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                                                                                                    </div>
        </div>
    </div>
</section>


<section class="breadcrumb-section"></section>

<div class="box-search-order ">
    <div class="title-search-order">
        <div class="container">
            TRA CỨU THÔNG TIN ĐƠN HÀNG
        </div>
    </div>
    <div class="container">
        <form class="main-search-order">
            <p class="text-descript">Quý khách nhập thông tin để tra cứu đơn hàng:</p>
            <div class="item-search">
                <div class="form-item">
                    <input type="text" id="code" autocomplete="off" required>
                    <label for="code"><span>Nhập</span> Mã đơn hàng:</label>
                </div>
            </div>
            <div class="item-search">
                <div class="form-item">
                    <input type="number" id="phone" autocomplete="off" required>
                    <label for="phone"><span>Nhập</span> Số điện thoại:</label>
                  </div>
            </div>
            
            <div class="d-flex justify-content-end">
                <button class="btn-search">Tra cứu</button>
            </div>
        </form>
    </div>
</div>