@-webkit-keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
}

.body-right-col {
  z-index: initial;
}

.btn-receive-longform {
  display: block;
  width: 218px;
  height: 60px;
  background-color: #0B216B;
  color: #ffb34a;
  text-transform: uppercase;
  font-size: 24px;
  margin: 20px auto;
  font-weight: bold;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .btn-receive-longform {
    width: 171px;
    height: 40px;
    font-size: 16px;
    margin: 10px auto;
  }
}

.wrp-form-longform {
  max-width: 590px;
  width: 100%;
}

.wrp-form-longform .modal-content {
  background-color: #DBDBDB;
  border-radius: 0;
  padding: 0;
}

.wrp-form-longform .btn-close {
  display: block;
  background: url("../images/btn-close.png") 0/100% no-repeat;
  width: 28px;
  height: 28px;
  position: absolute;
  top: -14px;
  right: -14px;
  border: none;
  cursor: pointer;
}

.wrp-form-longform .modal-title {
  width: 100%;
  height: 70px;
  background-color: #2E3092;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.wrp-form-longform .modal-title .title-sub {
  font-size: 20px;
}

.wrp-form-longform .modal-title .title-phone {
  font-weight: bold;
}

.wrp-form-longform .form-ticket .inner-form-ticket {
  padding: 20px 20px 0;
}

.wrp-form-longform .form-ticket .inner-form-ticket .item-ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #707070;
  margin-bottom: 20px;
}

.wrp-form-longform .form-ticket .inner-form-ticket .item-ticket:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.wrp-form-longform .form-ticket .inner-form-ticket .item-ticket p {
  width: 49%;
  background-color: #fff;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrp-form-longform .form-ticket .inner-form-ticket .item-ticket p label {
  width: 100%;
  margin-bottom: 0;
  height: 100%;
  padding: 8px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  color: #636363;
  cursor: pointer;
  line-height: 1.2;
}

.wrp-form-longform .form-ticket .inner-form-ticket .item-ticket p input {
  width: 0;
  display: none;
}

.wrp-form-longform .form-ticket .inner-form-ticket .item-ticket p.active {
  background-color: #2E3092;
}

.wrp-form-longform .form-ticket .inner-form-ticket .item-ticket p.active label {
  color: #fff;
}

.wrp-form-longform .form-ticket .form-bottom-ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2E3092;
  padding: 20px;
}

.wrp-form-longform .form-ticket .form-bottom-ticket .form-group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrp-form-longform .form-ticket .form-bottom-ticket input {
  width: 100%;
  height: 40px;
  background-color: #fff;
  border: none;
  padding: 0 20px;
  color: #0A1C5F;
}

.wrp-form-longform .form-ticket .form-bottom-ticket input:focus {
  outline: none;
}

.wrp-form-longform .form-ticket .form-bottom-ticket .btn-register {
  height: 40px;
  padding: 0 20px;
  background-color: #ffb34a;
  text-transform: uppercase;
  color: #2E3092;
  border: none;
  font-weight: bold;
  font-size: 24px;
  margin-left: 20px;
  cursor: pointer;
}

.wrp-form-longform .form-ticket .form-bottom-ticket .btn-register:focus {
  outline: none;
}

.wrp-form-longform .inner-form-telephone {
  padding: 10px 30px 0;
}

.wrp-form-longform .inner-form-telephone .form-group {
  width: 100%;
}

.wrp-form-longform .inner-form-telephone .form-group input {
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border: none;
  -webkit-box-shadow: 0 3px 6px #00000029;
          box-shadow: 0 3px 6px #00000029;
}

.wrp-form-longform .inner-form-telephone .form-group input:focus {
  outline: none;
}

.wrp-form-longform .inner-form-telephone button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px auto 0;
  padding: 0 20px;
  width: 120px;
  height: 40px;
  background-color: #ffb34a;
  color: #A70C0C;
  font-size: 24px;
  font-weight: bold;
  border: none;
}

@media screen and (max-width: 589px) {
  .wrp-form-longform {
    padding: 10px;
  }
  .wrp-form-longform .modal-content {
    overflow: visible;
  }
  .wrp-form-longform .btn-close {
    top: -10px;
    right: -10px;
    width: 24px !important;
    height: 24px !important;
  }
  .wrp-form-longform .modal-title {
    font-size: 20px;
    height: 40px;
    padding: 0 10px;
  }
  .wrp-form-longform .modal-title .title-sub {
    font-size: 14px;
  }
  .wrp-form-longform .form-ticket .inner-form-ticket {
    padding: 10px 10px 0;
  }
  .wrp-form-longform .form-ticket .inner-form-ticket .item-ticket {
    margin-bottom: 10px;
  }
  .wrp-form-longform .form-ticket .inner-form-ticket .item-ticket p {
    margin-bottom: 10px;
  }
  .wrp-form-longform .form-ticket .form-bottom-ticket {
    padding: 10px;
  }
  .wrp-form-longform .form-ticket .form-bottom-ticket input {
    height: 30px;
    padding: 0 10px;
    font-size: 15px;
  }
  .wrp-form-longform .form-ticket .form-bottom-ticket .btn-register {
    height: 30px;
    padding: 0 15px;
    font-size: 15px;
    margin-left: 10px;
  }
  .wrp-form-longform .inner-form-telephone .form-group {
    width: 100%;
  }
  .wrp-form-longform .inner-form-telephone .form-group input {
    height: 30px;
    padding: 0 10px;
  }
  .wrp-form-longform .inner-form-telephone button {
    padding: 0 10px;
    width: 95px;
    height: 30px;
    font-size: 18px;
  }
}

@media screen and (max-width: 374px) {
  .wrp-form-longform .modal-title {
    font-size: 16px;
  }
}

.longform-bar-fixbottom {
  display: none;
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #ffb34a;
}

.longform-bar-fixbottom button {
  height: 100%;
  padding: 0 10px;
  background-color: #A70C0C;
  font-weight: bold;
  color: #ffb34a;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.longform-bar-fixbottom button:focus {
  outline: none;
}

.longform-bar-fixbottom .info-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-size: 16px;
  color: #2F3082;
  font-weight: bold;
}

.longform-bar-fixbottom .info-tel::before {
  content: '';
  display: block;
  background: url("../images/icon-tel.png") 0/100% no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
          animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
}

@media only screen and (max-width: 1023px) {
  .longform-bar-fixbottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 374px) {
  .longform-bar-fixbottom button {
    font-size: 14px;
  }
  .longform-bar-fixbottom .info-tel {
    font-size: 14px;
  }
}

.longform-bar-fixbottom-2 {
  display: none;
  position: fixed;
  z-index: 10;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: #fff;
}

.longform-bar-fixbottom-2.shortbar-longform .top-freeship {
  display: none;
}

.longform-bar-fixbottom-2.shortbar-longform .box-product-longform {
  display: none;
}

.longform-bar-fixbottom-2.shortbar-longform .btn-close {
  display: none;
}

.longform-bar-fixbottom-2 .btn-close {
  display: block;
  background: url("../images/img-company/btn-close.png") 0/100% no-repeat;
  width: 17px;
  height: 17px;
  position: absolute;
  top: -10px;
  right: 0;
}

.longform-bar-fixbottom-2 .top-freeship {
  background-color: #E8E8E8;
  height: 27px;
  width: 100%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #2E3092;
  font-weight: 600;
}

.longform-bar-fixbottom-2 .top-freeship span {
  font-weight: 900;
  font-size: 12px;
}

.longform-bar-fixbottom-2 .top-freeship .item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1;
  font-size: 10px;
}

.longform-bar-fixbottom-2 .top-freeship .right {
  padding-right: 30px;
  position: relative;
}

.longform-bar-fixbottom-2 .top-freeship .right::after {
  content: '';
  display: block;
  background: url("../images/img-company/icon-freeship.png") 0/100% no-repeat;
  width: 28px;
  height: 19px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 0;
}

.longform-bar-fixbottom-2 .bottom-longform {
  width: 100%;
  height: 42px;
  background-color: #2E3092;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 9;
}

.longform-bar-fixbottom-2 .bottom-longform .item {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.longform-bar-fixbottom-2 .bottom-longform .item:nth-child(2) {
  width: 40%;
}

.longform-bar-fixbottom-2 .bottom-longform .item .text-label {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
}

.longform-bar-fixbottom-2 .bottom-longform .item .icon {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  margin-top: -15px;
  background-color: #2E3092;
}

.longform-bar-fixbottom-2 .bottom-longform .item .icon::before {
  display: block;
  content: "";
}

.longform-bar-fixbottom-2 .bottom-longform .item .icon.icon-phone::before {
  background: url("../images/img-company/icon-telephone.png") 0/100% no-repeat;
  width: 20px;
  height: 20px;
}

.longform-bar-fixbottom-2 .bottom-longform .item .icon.icon-user::before {
  background: url("../images/img-company/icon-user1.png") 0/100% no-repeat;
  width: 20px;
  height: 20px;
}

.longform-bar-fixbottom-2 .bottom-longform .item .icon.icon-product::before {
  background: url("../images/img-company/icon-product.png") 0/100% no-repeat;
  width: 20px;
  height: 20px;
}

.longform-bar-fixbottom-2 .box-product-longform {
  padding: 15px 10px 10px;
  margin-top: -25px;
  position: relative;
}

.longform-bar-fixbottom-2 .box-product-longform .owl-stage-outer {
  padding-top: 2%;
}

.longform-bar-fixbottom-2 .box-product-longform .section-padding {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.longform-bar-fixbottom-2 .box-product-longform .owl-item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.longform-bar-fixbottom-2 .box-product-longform .owl-item.active.cloned {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.longform-bar-fixbottom-2 .box-product-longform .owl-item.active.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.longform-bar-fixbottom-2 .box-product-longform .owl-item .item {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  /* DO NOT REMEMBER WHERE TU PUT THIS, SEARCH FOR 3D ACCELERATION */
  margin: 0;
  /* OVERWRITE PLUGIN MARGIN */
}

.longform-bar-fixbottom-2 .box-product-longform .screenshot_slider .owl-item .item {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.longform-bar-fixbottom-2 .box-product-longform .screenshot_slider .owl-item.center .item {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.longform-bar-fixbottom-2 .box-product-longform .screenshot_slider .owl-nav {
  text-align: center;
}

.longform-bar-fixbottom-2 .box-product-longform .screenshot_slider .owl-nav button {
  font-size: 24px !important;
  margin: 10px;
  color: #033aff !important;
}

.longform-bar-fixbottom-2 .box-product-longform .owl-carousel .owl-nav {
  display: block;
}

.longform-bar-fixbottom-2 .box-product-longform .owl-carousel .owl-nav button {
  position: absolute;
  top: 50%;
  margin-top: 0px;
  width: 13px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f1f1f1;
  color: #2e3092 !important;
}

.longform-bar-fixbottom-2 .box-product-longform .owl-carousel .owl-nav button:focus {
  outline: none !important;
}

.longform-bar-fixbottom-2 .box-product-longform .owl-carousel .owl-nav .owl-prev {
  left: -20px;
}

.longform-bar-fixbottom-2 .box-product-longform .owl-carousel .owl-nav .owl-next {
  right: -20px;
}

@media only screen and (max-width: 767px) {
  .longform-bar-fixbottom-2 {
    display: block;
  }
}
/*# sourceMappingURL=button-receive-longform.css.map */