 @keyframes phonering-alo-circle-img-anim {
    0% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      -moz-transform: rotate(0) scale(1) skew(1deg);
      -o-transform: rotate(0) scale(1) skew(1deg);
      transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
      -moz-transform: rotate(-25deg) scale(1) skew(1deg);
      -o-transform: rotate(-25deg) scale(1) skew(1deg);
      transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg);
      -moz-transform: rotate(25deg) scale(1) skew(1deg);
      -o-transform: rotate(25deg) scale(1) skew(1deg);
      transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
      -moz-transform: rotate(-25deg) scale(1) skew(1deg);
      -o-transform: rotate(-25deg) scale(1) skew(1deg);
      transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg);
      -moz-transform: rotate(25deg) scale(1) skew(1deg);
      -o-transform: rotate(25deg) scale(1) skew(1deg);
      transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      -moz-transform: rotate(0) scale(1) skew(1deg);
      -o-transform: rotate(0) scale(1) skew(1deg);
      transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      -moz-transform: rotate(0) scale(1) skew(1deg);
      -o-transform: rotate(0) scale(1) skew(1deg);
      transform: rotate(0) scale(1) skew(1deg);
    }
  }
//   .modal-backdrop{
//       z-index: 0;
//   }
.body-right-col{
    z-index: initial;
}
.btn-receive-longform{
    display: block;
    width: 218px;
    height: 60px;
    background-color: #0B216B;
    color: #ffb34a;
    text-transform: uppercase;
    font-size: 24px;
    margin: 20px auto;
    font-weight: bold;
    border: none;
    border-radius: 0;
    cursor: pointer;
    @media screen and (max-width: 768px) {
        width: 171px;
        height: 40px;
        font-size: 16px;
        margin: 10px auto;
    }
}
.wrp-form-longform{
    max-width: 590px;
    width: 100%;
    .modal-content{
        background-color: #DBDBDB;
        border-radius: 0;
        padding: 0;
    }
    .btn-close{
        display: block;
        background: url("../images/btn-close.png") 0/100% no-repeat;
        width: 28px;
        height: 28px;
        position: absolute;
        top: -14px;
        right: -14px;
        border: none;
        cursor: pointer;
    }
    .modal-title{
        width: 100%;
        height: 70px;
        background-color: #2E3092;
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding: 0 20px;
        .title-sub{
            font-size: 20px;
        }
        .title-phone{
            font-weight: bold;
        }
    }
    .form-ticket{
        .inner-form-ticket{
            padding: 20px 20px 0;
            .item-ticket{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                border-bottom: 1px solid #707070;
                margin-bottom: 20px;
                &:last-child{
                    margin-bottom: 0;
                    border-bottom: none;
                }
                p{
                    width: 49%;
                    background-color: #fff;
                    margin-bottom: 20px;
                    display: flex;
                    label{
                        width: 100%;
                        margin-bottom: 0;
                        height: 100%;
                        padding: 8px 10px;
                        display: flex;
                        align-items: center;
                        font-size: 15px;
                        color: #636363;
                        cursor: pointer;
                        line-height: 1.2;
                    }
                    input{
                        width: 0;
                        display: none;
                    }
                    &.active{
                        background-color: #2E3092;
                        label{
                            color: #fff;
                        }
                    }
                }
            }
        }
        .form-bottom-ticket{
            display: flex;
            background-color: #2E3092;
            padding: 20px;
            .form-group{
                flex: 1;
            }
            input{
                width: 100%;
                height: 40px;
                background-color: #fff;
                border: none;
                padding: 0 20px;
                color: #0A1C5F;
                &:focus{
                    outline: none;
                }
            }
            .btn-register{
                height: 40px;
                padding: 0 20px;
                background-color: #ffb34a;
                text-transform: uppercase;
                color: #2E3092;
                border: none;
                font-weight: bold;
                font-size: 24px;
                margin-left: 20px;
                cursor: pointer;
                &:focus{
                    outline: none;
                }
            }
        }
    }
    .inner-form-telephone{
        padding: 10px 30px 0;
        .form-group{
            width: 100%;
            input{
                width: 100%;
                height: 40px;
                padding: 0 20px;
                border: none;
                box-shadow: 0 3px 6px #00000029;
                &:focus{
                    outline: none;
                }
            }
        }
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px auto 0;
            padding: 0 20px;
            width: 120px;
            height: 40px;
            background-color: #ffb34a;
            color: #A70C0C;
            font-size: 24px;
            font-weight: bold;
            border: none;
        }
    }
    @media screen and (max-width:589px){
        padding: 10px;
        .modal-content{
            overflow: visible;
        }
        .btn-close{
            top: -10px;
            right: -10px;
            width: 24px!important;
            height: 24px!important;
        }
        .modal-title{
            font-size: 20px;
            height: 40px;
            padding: 0 10px;
            .title-sub{
                font-size: 14px;
            }
        }
        .form-ticket{
            .inner-form-ticket{
                padding: 10px 10px 0;
                .item-ticket{
                    margin-bottom: 10px;
                    p{
                        margin-bottom: 10px;
                    }
                }
                
            }
            .form-bottom-ticket{
                padding: 10px;
                input{
                    height: 30px;
                    padding: 0 10px;
                    font-size: 15px;
                }
                .btn-register{
                    height: 30px;
                    padding: 0 15px;
                    font-size: 15px;
                    margin-left: 10px;
                }
            }
        }
        .inner-form-telephone{
            .form-group{
                width: 100%;
                input{
                    height: 30px;
                    padding: 0 10px;
                }
            }
            button{
                padding: 0 10px;
                width: 95px;
                height: 30px;
                font-size: 18px;
            }
        }
    }
    @media screen and (max-width: 413px) {
        .form-ticket{
            .inner-form-ticket{
                .item-ticket{
                    p{
                        label{
                            font-size: 14px;
                            padding: 6px;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width:374px) {
        .modal-title{
            font-size: 16px;
        }
    }
}

.longform-bar-fixbottom{
    display: none;
    position: fixed;
    z-index: 9;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #ffb34a;
    button{
        height: 100%;
        padding: 0 10px;
        background-color: #A70C0C;
        font-weight: bold;
        color: #ffb34a;
        font-size: 16px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        &:focus{
            outline: none;
        }
    }
    .info-tel{
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 16px;
        color: #2F3082;
        font-weight: bold;
        &::before{
            content: '';
            display: block;
            background: url("../images/icon-tel.png") 0/100% no-repeat;
            width: 20px;
            height: 20px;
            margin-right: 8px;
            animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
        }
    }
    @media only screen and (max-width: 1023px) {
        display: flex;
    }
    @media only screen and (max-width: 374px) {
        button{
            font-size: 14px;
        }
        .info-tel{
            font-size: 14px;
        }
    }
}

.longform-bar-fixbottom-2{
    display: none;
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: #fff;
    &.shortbar-longform{
        .top-freeship{
            display: none;
        }
        .box-product-longform{
            display: none;
        }
        .btn-close{
            display: none;
        }
    }
    .btn-close{
        display: block;
        background: url("../images/img-company/btn-close.png")0/100% no-repeat;
        width: 17px;
        height: 17px;
        position: absolute;
        top: -10px;
        right: 0;
    }
    .top-freeship{
        background-color: #E8E8E8;
        height: 27px;
        width: 100%;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #2E3092; 
        font-weight: 600;
        border-top: 1px solid #2e3092a8;
        box-shadow: 0px 0px 2px 0px #3f51b5c2;
        span{
            font-weight: 900;
            font-size: 12px;
        }
        .item-text{
            display: flex;
            flex-direction: column;
            line-height: 1;
            font-size: 10px;
        }
        .right{
            padding-right: 30px;
            position: relative;
            &::after{
                content: '';
                display: block;
                background: url("../images/img-company/icon-freeship.png") 0/100% no-repeat;
                width: 28px;
                height: 19px;
                position: absolute;
                top: 50%;
                margin-top: -10px;
                right: 0;
            }
        }
    }
    .bottom-longform{
        width: 100%;
        height: 42px;
        background-color: #2E3092;
        display: flex;
        position: relative;
        z-index: 9;
        .item{
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            &:nth-child(2){
                width: 40%;
            }
            .text-label{
                color: #fff;
                font-weight: bold;
                font-size: 16px;
                line-height: 1;
            }
            .icon{
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                margin-top: -15px;
                background-color: #2E3092;
                &::before{
                    display: block;
                    content: "";
                }
                &.icon-phone{
                    &::before{
                        background: url("../images/img-company/icon-telephone.png") 0/100% no-repeat;
                        width: 20px;
                        height: 20px;
                    }
                }
                &.icon-user{
                    &::before{
                        background: url("../images/img-company/icon-user1.png") 0/100% no-repeat;
                        width: 20px;
                        height: 20px;
                    }
                }
                &.icon-product{
                    &::before{
                        background: url("../images/img-company/icon-product.png") 0/100% no-repeat;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
    .box-product-longform{
        // height: 100px;
        padding: 15px 10px 10px;
        margin-top: -25px;
        position: relative;
       
        .owl-stage-outer{
            padding-top: 2%;
        }
        .section-padding{
            width:100%;
            margin: 0 auto;
            padding:0;
        }
        .owl-item {
            &.active{
                display: flex;
                justify-content: flex-end;
                &.cloned{
                    justify-content: flex-start;
                }
                &.center{
                    justify-content: center;
                }
            }
            .item {
                transform: translate3d(0, 0, 0); /* DO NOT REMEMBER WHERE TU PUT THIS, SEARCH FOR 3D ACCELERATION */
               margin:0; /* OVERWRITE PLUGIN MARGIN */
              }
        }
         
         .screenshot_slider .owl-item .item{
             -webkit-transition: 0.3s;
             -o-transition: 0.3s;
             transition: 0.3s;
             transform: scale(0.80);
         }
         
         .screenshot_slider .owl-item.center .item{
            transform: scale(1.2);
         }
         
         .screenshot_slider .owl-nav {
             text-align: center;
         }
         
         .screenshot_slider .owl-nav button {
             font-size: 24px !important;
             margin: 10px;
             color: #033aff !important;
         }
         .owl-carousel{
            .owl-nav{
                display: block;
                button{
                    position: absolute;
                    top: 50%;
                    margin-top: 0px;
                    width: 13px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #f1f1f1;
                    color: #2e3092!important;
                    &:focus{
                        outline: none!important;
                    }
                }
                .owl-prev{
                    left: -20px;
                }
                .owl-next{
                    right: -20px;
                }
            }
         }
    }
    @media only screen and (max-width: 767px) {
        display: block;
    }
    
}
    