@font-face {
  font-family: "SVN-Gilroy";
  src: url("../font/SVN-Gilroy-Regular.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy Bold";
  src: url("../font/SVN-Gilroy-Bold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy Medium";
  src: url("../font/SVN-Gilroy-Medium.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Myriad Pro Regular";
  src: url("../font/MYRIADPRO-REGULAR.OTF") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Myriad Pro SemiBold";
  src: url("../font/MYRIADPRO-SEMIBOLD.OTF") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Myriad Pro Bold";
  src: url("../font/MYRIADPRO-BOLD.OTF") format("opentype");
  font-display: swap;
}
// @font-face {
//   font-family: "Myriad Pro Condensed";
//   src: url("../font/MYRIADPRO-COND.OTF");
// }
// @font-face {
//   font-family: "Myriad Pro Condensed Italic";
//   src: url("../font/MYRIADPRO-CONDIT.OTF");
// }
// @font-face {
//   font-family: "Myriad Pro Condensed Bold";
//   src: url("../font/MYRIADPRO-BOLDCOND.OTF");
// }

/*set color main*/
$color_main1: #6CB438;
$color_main2: #ffffff;
$color_3: #2e3191;
$color_4: #A70C0C;
$color_5: #FFC600;
$color_text_1:#050B5A;
/*end set color main*/
a{
  text-decoration: none;
  transition: all 0.5s ease;
  &:hover{
    text-decoration: none;
  }
}
.rs{
  padding: 0;
  margin: 0;
}
input{
  &:focus{
    outline: none;
  }
}
ul{
  li{
    list-style: none;
  }
}
button{
  border: none;
  transition: all 0.5s ease;
  cursor: pointer;
  &:focus{
    outline:none
  }
}
//SCSS style general
@mixin flex_item_center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@mixin flex_center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@mixin flex_between {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@mixin flex_end {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
//animate css3
@keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -moz-transform: rotate(0) scale(1) skew(1deg);
    -o-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    -moz-transform: rotate(-25deg) scale(1) skew(1deg);
    -o-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    -moz-transform: rotate(25deg) scale(1) skew(1deg);
    -o-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    -moz-transform: rotate(-25deg) scale(1) skew(1deg);
    -o-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    -moz-transform: rotate(25deg) scale(1) skew(1deg);
    -o-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -moz-transform: rotate(0) scale(1) skew(1deg);
    -o-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -moz-transform: rotate(0) scale(1) skew(1deg);
    -o-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@keyframes zoom {
  0%{
    transform: scale(0.9);
  }

  50%{
    transform: scale(1);
  }
  100%{
    transform: scale(0.9);
  }
}
@keyframes fade {
  0%{
    opacity: 0.6;
  }

  50%{
    opacity: 1;
  }
  100%{
    opacity: 0.6;
  }
}
.error {
  font-size: 16px!important;
  color: red!important;
  text-transform: initial!important;
  font-family: "arial"!important;
  padding: 0 10px!important;
}
label.error{
  margin-top: 5px;
}
.error-bottom-mb{
  display: none;
}
@media only screen and (max-width: 768px) {
  .error{
    font-size: 12px!important;
    padding: 0 0 0 4px!important;
    span{
      display: none;
    }
  }
  .error-bottom-mb{
    display: block;
    width: 100%;
    padding: 0 15px!important;
    background-color: #e53596;
  }
}

input, button, .form-control{
  height: 52px;
  border-radius: 0;
  border: none;
  @media only screen and (max-width: 767px) {
    height: 34px;
  }
}