@font-face {
  font-family: "SVN-Gilroy";
  src: url("../font/SVN-Gilroy-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "SVN-Gilroy Bold";
  src: url("../font/SVN-Gilroy-Bold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "SVN-Gilroy Medium";
  src: url("../font/SVN-Gilroy-Medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Myriad Pro Regular";
  src: url("../font/MYRIADPRO-REGULAR.OTF") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Myriad Pro SemiBold";
  src: url("../font/MYRIADPRO-SEMIBOLD.OTF") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Myriad Pro Bold";
  src: url("../font/MYRIADPRO-BOLD.OTF") format("opentype");
  font-display: swap;
}

/*set color main*/
/*end set color main*/
a {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a:hover {
  text-decoration: none;
}

.rs {
  padding: 0;
  margin: 0;
}

input:focus {
  outline: none;
}

ul li {
  list-style: none;
}

button {
  border: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

button:focus {
  outline: none;
}

@-webkit-keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes fade {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

.error {
  font-size: 16px !important;
  color: red !important;
  text-transform: initial !important;
  font-family: "arial" !important;
  padding: 0 10px !important;
}

label.error {
  margin-top: 5px;
}

.error-bottom-mb {
  display: none;
}

@media only screen and (max-width: 768px) {
  .error {
    font-size: 12px !important;
    padding: 0 0 0 4px !important;
  }
  .error span {
    display: none;
  }
  .error-bottom-mb {
    display: block;
    width: 100%;
    padding: 0 15px !important;
    background-color: #0a1c5f;
  }
}

input, button, .form-control {
  height: 52px;
  border-radius: 0;
  border: none;
}

@media only screen and (max-width: 767px) {
  input, button, .form-control {
    height: 34px;
  }
}
/*# sourceMappingURL=common.css.map */