.modal {
  color: #0A1C5F;
  font-family: "Myriad Pro Condensed",sans-serif;
}

.modal .text-order {
  color: #BF1F33;
  font-family: "Myriad Pro Bold",sans-serif;
}

.modal .close {
  color: #04226e;
  opacity: 1;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  margin-right: 0;
  right: 10px;
  width: 30px !important;
  height: 30px !important;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: none;
}

.modal .close:hover {
  color: #ffffff !important;
  opacity: 1 !important;
  background-color: #04226e;
}

.modal .modal-dialog {
  width: 877px;
  height: auto;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 96%;
}

.modal .modal-content {
  border: none;
  font-size: 24px;
  border-radius: 0;
  overflow: hidden;
  background-color: #FFFFFF;
}

.modal .modal-content .modal-body {
  padding: 20px 80px 0;
}

.modal .modal-content .hotline {
  font-family: "Myriad Pro Bold",sans-serif;
}

.modal .modal-content .title-1 {
  font-size: 30px;
  margin-bottom: 4px;
  color: #0A1C5F;
  font-family: "Myriad Pro Bold",sans-serif;
}

.modal .modal-content p {
  font-weight: 300;
}

.modal .modal-content .content {
  margin-top: 10px;
  font-weight: 300;
}

.modal .modal-content .item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #0A1C5F;
  padding: 10px 0;
}

.modal .modal-content .item-content .text-label {
  width: 230px;
  font-family: "Myriad Pro Bold",sans-serif;
}

.modal .modal-content .item-content .detail-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.modal .modal-header {
  background-color: #FFB400;
  padding: 4px 10px;
  position: relative;
  border-radius: 0;
  border-bottom: 0;
}

.modal .modal-header .modal-title {
  font-size: 36px;
  color: #0A1C5F;
  font-family: "Myriad Pro Bold",sans-serif;
}

.modal .modal-footer {
  padding: 0 80px 20px;
}

.modal .modal-footer button {
  padding: 5px 15px;
  border-radius: 20px;
  font-family: "Myriad Pro Bold",sans-serif;
}

.modal .modal-footer .btn-continue {
  background-color: #FFB400;
  color: #0A1C5F;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal .modal-footer .btn-continue:hover {
  background-color: #0A1C5F;
  color: #fff !important;
}

.modal .modal-footer .btn-back {
  background-color: transparent;
  color: #04226e;
  font-size: 16px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-footer .btn-back:before {
  display: block;
  content: "";
  background: url("../images/previous-01.png") 0/100% no-repeat;
  width: 21px;
  height: 21px;
  margin-right: 8px;
}

.modal.modal-notif .modal-dialog {
  width: 450px;
}

.modal.modal-notif .modal-dialog .modal-content {
  height: 150px;
}

@media only screen and (max-width: 767px) {
  .modal .modal-header .modal-title {
    font-size: 24px;
  }
  .modal .modal-content {
    font-size: 16px;
  }
  .modal .modal-content .modal-body {
    padding: 20px 20px 0;
  }
  .modal .modal-content .title-1 {
    font-size: 20px;
  }
  .modal .modal-content .item-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 0;
  }
  .modal .modal-content .item-content .text-label {
    width: 100%;
  }
  .modal .modal-content .item-content .detail-content {
    width: 100%;
  }
  .modal .modal-footer {
    padding: 0 20px 20px;
  }
  .modal .modal-footer .btn-continue {
    font-size: 16px;
  }
}

.loading {
  width: 100%;
  height: 100%;
  background-color: #000000c9;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.donut {
  width: 5rem;
  height: 5rem;
  margin: 2rem;
  border-radius: 50%;
  border: 0.3rem solid rgba(46, 49, 144, 0.3);
  border-top-color: #2E3190;
  -webkit-animation: 1.5s spin infinite linear;
          animation: 1.5s spin infinite linear;
}

.donut.multi {
  border-bottom-color: #2E3190;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=modal-511.css.map */