@font-face {
    font-family: "Myriad Pro Regular";
    src: url("../font/MYRIADPRO-REGULAR.OTF") format("opentype");
    font-display: swap;
  }
  @font-face {
    font-family: "Myriad Pro SemiBold";
    src: url("../font/MYRIADPRO-SEMIBOLD.OTF") format("opentype");
    font-display: swap;
  }
  @font-face {
    font-family: "Myriad Pro Bold";
    src: url("../font/MYRIADPRO-BOLD.OTF") format("opentype");
    font-display: swap;
  }
button{
    &:focus{
        outline: none;
    }
} 
input{
    &:focus{
        outline: none;
    }
}
.box-header-fixbottom{
    width: 100%;
    height: 80px;
    background-color: #2F3082;
    position: fixed;
    z-index: 9;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    display: flex;
    font-family: "Myriad Pro Regular";
    color: #2F3082;
    line-height: 1;
    @media only screen and (max-width: 359px) {
        padding: 0 4px;
    }
    .box-product{
        width: 81px;
        .img-form{
            margin-top: -18px;
            width: 81px;
            height: 80px;
            display: block;
            img{
                max-width: 100%;
            }
        }
        .price-form{
            display: flex;
            align-items: flex-end;
            font-size: 16px;
            color: #FFC600;
            font-family: "Myriad Pro Bold";
            small{
                font-size: 10px;
                line-height: 1.2;
                margin-left: 2px;
            }
           
        }
    }
    .box-info{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .freeship{
            display: block;
            background: url("../images/img-freeship.png") 0/100% no-repeat;
            width: 92px;
            height: 25px;
        }
        .main-info{
            display: flex;
            width: 100%;
            padding-left: 10px;
            .detail-text{
                flex: 1;
                height: 30px;
                background-color: #FFC600;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                font-family: "Myriad Pro SemiBold";
                color: #2F3082;
                small{
                    display: block;
                    font-family: "Myriad Pro Bold";
                    font-size: 8px;
                }
                @media only screen and (max-width: 359px) {
                    font-size: 13px;
                    small{
                        font-size: 8px;
                    }
                }
            }
        }
        .btn-buy{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            background-color: #fff;
            text-transform: uppercase;
            border: none;
            color: #2F3082;
            font-family: "Myriad Pro Bold";
            padding: 0 6px;
        }
    }
}

.wrapper-form-inner{
    margin: 0.5rem;
    .banner-form{
        display: block;
        width: 100%;
        img{
            width: 100%;
        }
    }
    .form-order{
        font-family: "Myriad Pro Bold";
        font-size: 12px;
        padding: 20px;
        .box-form-bottom{
            display: flex;
            width: 100%;
            margin-top: 10px;
            .form-group{
                flex: 1;
            }
        }
    
        input{
            width: 100%;
            height: 30px;
            border: 1px solid #021752;
            padding: 0 10px;
            color: #393939;
            border-radius: 0;
            &::placeholder{
                color: #393939;
            }
        }
        button{
            width: 127px;
            height: 30px;
            font-size: 16px;
            background-color: #021752;
            color: #fff;
            text-transform: uppercase;
            border: none;
            border-radius: 0;
        }
    }
}
.back-to-top{
    bottom: 85px!important
}