@font-face {
  font-family: "SVN-Gilroy";
  src: url("../font/SVN-Gilroy-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "SVN-Gilroy Bold";
  src: url("../font/SVN-Gilroy-Bold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "SVN-Gilroy Medium";
  src: url("../font/SVN-Gilroy-Medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Myriad Pro Regular";
  src: url("../font/MYRIADPRO-REGULAR.OTF") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Myriad Pro SemiBold";
  src: url("../font/MYRIADPRO-SEMIBOLD.OTF") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Myriad Pro Bold";
  src: url("../font/MYRIADPRO-BOLD.OTF") format("opentype");
  font-display: swap;
}

/*set color main*/
/*end set color main*/
a {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a:hover {
  text-decoration: none;
}

.rs {
  padding: 0;
  margin: 0;
}

input:focus {
  outline: none;
}

ul li {
  list-style: none;
}

button {
  border: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

button:focus {
  outline: none;
}

@-webkit-keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes fade {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

.error {
  font-size: 16px !important;
  color: red !important;
  text-transform: initial !important;
  font-family: "arial" !important;
  padding: 0 10px !important;
}

label.error {
  margin-top: 5px;
}

.error-bottom-mb {
  display: none;
}

@media only screen and (max-width: 768px) {
  .error {
    font-size: 12px !important;
    padding: 0 0 0 4px !important;
  }
  .error span {
    display: none;
  }
  .error-bottom-mb {
    display: block;
    width: 100%;
    padding: 0 15px !important;
    background-color: #0a1c5f;
  }
}

input, button, .form-control {
  height: 52px;
  border-radius: 0;
  border: none;
}

@media only screen and (max-width: 767px) {
  input, button, .form-control {
    height: 34px;
  }
}

footer {
  background: url("../images/bg-footer.jpg") 50% 100% no-repeat #0A1C5F;
}

footer .main-footer {
  padding: 50px 0 200px;
  font-family: "Myriad Pro Regular";
  font-weight: normal;
}

footer .main-footer .top-footer {
  color: #fff;
  font-size: 15px;
}

footer .main-footer .top-footer .logo-ft {
  display: block;
  margin: 25px auto 15px;
  width: 380px;
  height: 83px;
}

footer .main-footer .top-footer .name-ft {
  font-size: 28px;
}

footer .main-footer .top-footer .add-ft {
  font-size: 21px;
}

footer .main-footer .bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px;
}

footer .main-footer .bottom-footer .item-footer {
  display: inline-block;
  color: #fff;
  font-size: 15px;
}

footer .main-footer .bottom-footer .item-footer h5 {
  color: #fff;
  font-size: 24px;
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

footer .main-footer .bottom-footer .item-footer a {
  color: #fff;
  font-size: 15px;
}

footer .main-footer .bottom-footer .item-footer a:hover {
  color: #6CB438;
}

footer .main-footer .bottom-footer .item-footer .list-link {
  list-style: none;
}

footer .main-footer .bottom-footer .item-footer .hotline {
  font-size: 30px;
}

footer .main-footer .bottom-footer .item-footer .list-method-pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .main-footer .bottom-footer .item-footer .list-method-pay span {
  display: block;
  width: 167px;
  max-width: 49%;
  height: auto;
  margin-bottom: 10px;
}

footer .main-footer .bottom-footer .item-footer .list-method-pay span img {
  width: 100%;
  height: auto;
}

footer .main-footer .bottom-footer .item-footer .list-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .main-footer .bottom-footer .col-footer-last {
  text-align: right;
}

@media only screen and (max-width: 1024px) {
  footer .main-footer .bottom-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 25px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  footer .main-footer {
    padding: 24px 15px 100px;
    background: none;
  }
  footer .main-footer .top-footer .logo-ft {
    width: 229px;
    height: 49px;
    margin: 15px auto 10px;
  }
  footer .main-footer .top-footer .name-ft {
    font-size: 22px;
  }
  footer .main-footer .top-footer .add-ft {
    font-size: 12px;
  }
  footer .main-footer .bottom-footer .col-footer-last {
    text-align: left;
  }
  footer .main-footer .bottom-footer .item-footer {
    margin-bottom: 15px;
  }
  footer .main-footer .bottom-footer .item-footer h5 {
    text-align: center !important;
    font-size: 18px;
  }
  footer .main-footer .bottom-footer .item-footer .hotline {
    font-size: 24px;
    line-height: 1;
  }
  footer .main-footer .bottom-footer .item-footer .list-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center !important;
  }
  footer .main-footer .bottom-footer .item-footer .list-method-pay {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .main-footer .bottom-footer .item-footer .list-method-pay span {
    width: 49%;
    height: 40px;
    margin-right: 2%;
  }
  footer .main-footer .bottom-footer .item-footer .list-method-pay span:nth-child(even) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 512px) {
  footer .main-footer .top-footer {
    font-size: 12px;
    padding: 0 15px;
  }
  footer .main-footer .top-footer .name-ft {
    font-size: 14px;
  }
  footer .main-footer .top-footer .add-ft {
    font-size: 10px;
  }
  footer .main-footer .bottom-footer .item-footer h5 {
    font-size: 13px;
  }
  footer .main-footer .bottom-footer .item-footer a {
    font-size: 12px;
  }
  footer .main-footer .bottom-footer .item-footer .list-method-pay {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .main-footer .bottom-footer .item-footer .list-method-pay span {
    height: 36px;
    margin-bottom: 5px;
  }
}

/*set color main*/
/*end set color main*/
.box-ads-header {
  width: 100%;
  height: 99px;
  background-color: #0A1C5F;
  border-top: 5px solid #FFC600;
  border-radius: 9px 9px 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: "SVN-Gilroy",sans-serif;
}

.box-ads-header.close-ads {
  opacity: 0;
}

.box-ads-header .inner-ads-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.box-ads-header .inner-ads-header .box-button {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 16px;
}

.box-ads-header .inner-ads-header .btn-send-info {
  width: 100%;
  height: 51px;
  max-width: 100%;
  background-color: #A70C0C;
  color: #FFC600;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "SVN-Gilroy Bold",sans-serif;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: right;
}

.box-ads-header .inner-ads-header .btn-send-info:focus {
  outline: none;
}

.box-ads-header .inner-ads-header .btn-send-info:hover {
  background-color: #2e3191;
  border: 2px solid #DDF2F8;
  color: #ffffff;
}

.box-ads-header .inner-ads-header .btn-close {
  display: block;
  background: url("../images/btn-close.png") 0/100% no-repeat;
  width: 33px;
  height: 33px;
  position: absolute;
  right: 0;
  top: -20px;
  z-index: 9;
  cursor: pointer;
}

.box-ads-header .inner-ads-header .box-images-ads {
  position: relative;
}

.box-ads-header .inner-ads-header .box-images-ads .img-product-ads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  width: 80%;
  height: auto;
  overflow: hidden;
  bottom: 20px;
  left: 6%;
}

.box-ads-header .inner-ads-header .box-images-ads .img-product-ads img {
  width: 100%;
  height: auto;
}

.box-ads-header .inner-ads-header .box-info {
  padding-top: 20px;
}

.box-ads-header .inner-ads-header .box-info .text-freeship {
  padding: 8px 15px;
  background-color: #2E3190;
  border-radius: 100px;
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  line-height: 29px;
}

.box-ads-header .inner-ads-header .box-info .box-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box-ads-header .inner-ads-header .box-info .box-input .form-group {
  margin-bottom: 0;
}

.box-ads-header .inner-ads-header .box-info .box-input .form-group:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 16px;
}

.box-ads-header .inner-ads-header .box-info .box-input .form-group:nth-child(2) {
  width: 260px;
}

.box-ads-header .inner-ads-header .box-info .box-input input {
  width: 100%;
  height: 50px;
  padding: 0 12px;
  font-size: 24px;
  color: #0A1C5F;
  font-family: "SVN-Gilroy Medium";
}

.box-ads-header .inner-ads-header .box-info .box-input input::-webkit-input-placeholder {
  color: #0A1C5F;
}

.box-ads-header .inner-ads-header .box-info .box-input input:-ms-input-placeholder {
  color: #0A1C5F;
}

.box-ads-header .inner-ads-header .box-info .box-input input::-ms-input-placeholder {
  color: #0A1C5F;
}

.box-ads-header .inner-ads-header .box-info .box-input input::placeholder {
  color: #0A1C5F;
}

.box-ads-header .inner-ads-header .box-info .box-input .name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.box-ads-header .inner-ads-header .box-info .box-input .phone-number {
  width: 40%;
  margin-left: 12px;
}

.box-ads-header .inner-ads-header .box-note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
  position: absolute;
  top: -67px;
}

.box-ads-header .inner-ads-header .box-note .text-note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  background-color: #FFC600;
  color: #0A1C5F;
  border-radius: 20px 20px 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 16px;
  margin-right: 16px;
  line-height: 1;
  padding: 6px 10px 0;
  font-family: "Myriad Pro Regular";
}

.box-ads-header .inner-ads-header .box-note .text-note .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.box-ads-header .inner-ads-header .box-note .text-note .left span {
  font-family: "Myriad Pro SemiBold";
  font-size: 28px;
}

.box-ads-header .inner-ads-header .box-note .text-note .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-ads-header .inner-ads-header .box-note .text-note .right span {
  font-size: 22px;
  font-family: "Myriad Pro SemiBold";
}

.box-ads-header .inner-ads-header .box-note .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 62px;
  width: 31%;
  background-color: #0b1c5fcc;
  color: #FFC600;
  font-size: 26px;
  border-radius: 20px 20px 0 0;
  line-height: 1;
  padding: 10px;
}

.box-ads-header .inner-ads-header .box-note .price span {
  font-family: "Myriad Pro Bold";
  font-size: 48px;
  margin-right: 6px;
}

@media only screen and (max-width: 1200px) {
  .box-ads-header .inner-ads-header .box-info .box-input .name {
    width: 50%;
  }
  .box-ads-header .inner-ads-header .box-info .box-input .phone-number {
    width: 49%;
  }
  .box-ads-header .inner-ads-header .box-note .price {
    font-size: 20px;
  }
  .box-ads-header .inner-ads-header .box-note .price span {
    font-size: 36px;
  }
  .box-ads-header .inner-ads-header .box-note .text-note {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1023px) {
  .box-ads-header {
    padding: 8px 0;
    height: auto;
  }
  .box-ads-header .inner-ads-header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0;
  }
  .box-ads-header .inner-ads-header .btn-close {
    right: -15px;
  }
  .box-ads-header .inner-ads-header .box-info {
    margin-top: 0;
  }
  .box-ads-header .inner-ads-header .box-info .text-freeship {
    padding: 8px;
    border-radius: 25px;
    font-size: 16px;
    line-height: 1.2;
  }
  .box-ads-header .inner-ads-header .box-info .box-input input {
    width: 100% !important;
    height: 34px;
    margin: 0 auto;
    font-size: 20px;
  }
  .box-ads-header .inner-ads-header .box-info .box-input .phone-number {
    margin-left: 0;
  }
  .box-ads-header .inner-ads-header .box-info .btn-send-info {
    font-size: 20px;
    height: 40px;
  }
  .box-ads-header .inner-ads-header .box-images-ads .img-product-ads {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    bottom: 0;
    width: 90%;
    left: 5%;
  }
  .box-ads-header .inner-ads-header .box-note .price {
    font-size: 16px;
  }
  .box-ads-header .inner-ads-header .box-note .price span {
    font-size: 30px;
  }
  .box-ads-header .inner-ads-header .box-note .text-note {
    font-size: 14px;
  }
  .box-ads-header .inner-ads-header .box-note .text-note .left span {
    font-size: 20px;
  }
  .box-ads-header .inner-ads-header .box-note .text-note .right span {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .box-ads-header {
    height: auto;
    padding: 8px 0;
  }
  .box-ads-header .inner-ads-header {
    padding: 0;
  }
  .box-ads-header .inner-ads-header .btn-close {
    right: -15px;
  }
  .box-ads-header .inner-ads-header .box-info {
    padding-top: 0;
  }
  .box-ads-header .inner-ads-header .box-info .btn-send-info {
    height: 34px;
    font-size: 14px;
    margin-top: 39px;
  }
  .box-ads-header .inner-ads-header .box-info .box-input .form-group {
    width: 100% !important;
    margin-bottom: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .box-ads-header .inner-ads-header .box-info .box-input .form-group:nth-child(1) {
    margin-right: 0;
  }
  .box-ads-header .inner-ads-header .box-images-ads .img-product-ads {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    bottom: 0;
  }
  .box-ads-header .inner-ads-header .box-note {
    width: 100%;
    top: -50px;
  }
  .box-ads-header .inner-ads-header .box-note .text-note {
    width: 75%;
    padding-right: 25%;
    margin-right: 0;
  }
  .box-ads-header .inner-ads-header .box-note .price {
    position: absolute;
    background-color: transparent;
    bottom: -45px;
    right: 25%;
    font-size: 16px;
    height: 34px;
    width: 29%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 10px 0;
  }
  .box-ads-header .inner-ads-header .box-note .price span {
    font-size: 26px;
  }
}

@media only screen and (max-width: 575px) {
  .box-ads-header {
    height: auto;
    padding: 0;
    border-top: 0;
    background-color: #FFC600;
  }
  .box-ads-header .inner-ads-header .box-main-ads {
    padding: 10px 0 0;
    background-color: #0A1C5F;
    border-radius: 20px 20px 0 0;
    position: relative;
    z-index: 2;
  }
  .box-ads-header .inner-ads-header .btn-close {
    display: block;
    right: 0;
    top: -35px;
    left: auto;
    width: 25px;
    height: 25px;
  }
  .box-ads-header .inner-ads-header .box-info {
    margin-left: 0;
    margin-right: -15px;
  }
  .box-ads-header .inner-ads-header .box-info .box-input input {
    height: 28px;
    font-size: 13px;
  }
  .box-ads-header .inner-ads-header .box-info .btn-send-info {
    font-size: 14px;
    height: 28px;
    margin-top: 32px;
    padding: 0;
  }
  .box-ads-header .inner-ads-header .box-images-ads .img-product-ads {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: block;
  }
  .box-ads-header .inner-ads-header .box-note {
    top: -30px;
    left: 0;
  }
  .box-ads-header .inner-ads-header .box-note .text-note {
    width: 100%;
    height: 40px;
    padding-bottom: 15px;
    padding-left: 15px;
    font-size: 13px;
  }
  .box-ads-header .inner-ads-header .box-note .text-note .left span {
    font-size: 17px;
    display: block;
  }
  .box-ads-header .inner-ads-header .box-note .text-note .right span {
    font-size: 14px;
  }
  .box-ads-header .inner-ads-header .box-note .price {
    z-index: 3;
    bottom: -35px;
    font-size: 10px;
    height: 28px;
    width: 25%;
  }
  .box-ads-header .inner-ads-header .box-note .price span {
    font-size: 17px;
  }
  .box-ads-header .inner-ads-header .box-button {
    padding-left: 8px;
  }
}

.modal {
  color: #0A1C5F;
  font-family: "Myriad Pro Condensed",sans-serif;
}

.modal .text-order {
  color: #BF1F33;
  font-family: "Myriad Pro Bold",sans-serif;
}

.modal .close {
  color: #04226e;
  opacity: 1;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  margin-right: 0;
  right: 10px;
  width: 30px !important;
  height: 30px !important;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: none;
}

.modal .close:hover {
  color: #ffffff !important;
  opacity: 1 !important;
  background-color: #04226e;
}

.modal .modal-dialog {
  width: 877px;
  height: auto;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 96%;
}

.modal .modal-content {
  border: none;
  font-size: 24px;
  border-radius: 0;
  overflow: hidden;
  background-color: #FFFFFF;
}

.modal .modal-content .modal-body {
  padding: 20px 80px 0;
}

.modal .modal-content .hotline {
  font-family: "Myriad Pro Bold",sans-serif;
}

.modal .modal-content .title-1 {
  font-size: 30px;
  margin-bottom: 4px;
  color: #0A1C5F;
  font-family: "Myriad Pro Bold",sans-serif;
}

.modal .modal-content p {
  font-weight: 300;
}

.modal .modal-content .content {
  margin-top: 10px;
  font-weight: 300;
}

.modal .modal-content .item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #0A1C5F;
  padding: 10px 0;
}

.modal .modal-content .item-content .text-label {
  width: 230px;
  font-family: "Myriad Pro Bold",sans-serif;
}

.modal .modal-content .item-content .detail-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.modal .modal-header {
  background-color: #FFB400;
  padding: 4px 10px;
  position: relative;
  border-radius: 0;
  border-bottom: 0;
}

.modal .modal-header .modal-title {
  font-size: 36px;
  color: #0A1C5F;
  font-family: "Myriad Pro Bold",sans-serif;
}

.modal .modal-footer {
  padding: 0 80px 20px;
}

.modal .modal-footer button {
  padding: 5px 15px;
  border-radius: 20px;
  font-family: "Myriad Pro Bold",sans-serif;
}

.modal .modal-footer .btn-continue {
  background-color: #FFB400;
  color: #0A1C5F;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal .modal-footer .btn-continue:hover {
  background-color: #0A1C5F;
  color: #fff !important;
}

.modal .modal-footer .btn-back {
  background-color: transparent;
  color: #04226e;
  font-size: 16px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-footer .btn-back:before {
  display: block;
  content: "";
  background: url("../images/previous-01.png") 0/100% no-repeat;
  width: 21px;
  height: 21px;
  margin-right: 8px;
}

.modal.modal-notif .modal-dialog {
  width: 450px;
}

.modal.modal-notif .modal-dialog .modal-content {
  height: 150px;
}

@media only screen and (max-width: 767px) {
  .modal .modal-header .modal-title {
    font-size: 24px;
  }
  .modal .modal-content {
    font-size: 16px;
  }
  .modal .modal-content .modal-body {
    padding: 20px 20px 0;
  }
  .modal .modal-content .title-1 {
    font-size: 20px;
  }
  .modal .modal-content .item-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 0;
  }
  .modal .modal-content .item-content .text-label {
    width: 100%;
  }
  .modal .modal-content .item-content .detail-content {
    width: 100%;
  }
  .modal .modal-footer {
    padding: 0 20px 20px;
  }
  .modal .modal-footer .btn-continue {
    font-size: 16px;
  }
}

.loading {
  width: 100%;
  height: 100%;
  background-color: #000000c9;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.donut {
  width: 5rem;
  height: 5rem;
  margin: 2rem;
  border-radius: 50%;
  border: 0.3rem solid rgba(46, 49, 144, 0.3);
  border-top-color: #2E3190;
  -webkit-animation: 1.5s spin infinite linear;
          animation: 1.5s spin infinite linear;
}

.donut.multi {
  border-bottom-color: #2E3190;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.fixCen {
  width: 1366px;
  position: relative;
  height: 100%;
  margin: 0 auto;
}

img {
  height: auto;
}

.text-main1 {
  color: #050B5A;
  font-weight: bold;
}

.box-color-1 {
  background-color: #fff;
}

.box-color-2 {
  background-color: #6CB438;
}

.box-color-3 {
  background-color: #050B5A;
}

.box-color-4 {
  background-color: #F8C9D0;
}

.mb-custom-box {
  margin-bottom: -37px;
}

.hide-desktop {
  display: none;
}

.swiper-button-prev, .swiper-button-next {
  display: none;
}

.wrapper-landing {
  width: 100%;
  overflow: hidden;
  font-family: "Myriad Pro Regular";
  color: #050B5A;
  line-height: 1.3;
  padding-top: 0;
  background-color: #0A1C5F;
}

@media only screen and (max-width: 768px) {
  .wrapper-landing {
    padding-top: 0;
  }
}

.wrapper-landing.show-header {
  padding-top: 80px;
}

.wrapper-landing.show-header header .header {
  display: block;
}

.wrapper-landing.show-header header .header.hide-form .form-order-top {
  display: none;
}

.wrapper-landing.show-header .box-ads-header {
  display: none;
}

@media only screen and (max-width: 1023px) {
  .wrapper-landing.show-header {
    padding-top: 0;
  }
  .wrapper-landing.show-header header .header {
    display: none;
  }
  .wrapper-landing.show-header header .header.hide-form .form-order-top {
    display: none;
  }
  .wrapper-landing.show-header .box-ads-header {
    display: block;
  }
}

.wrapper-landing header .header {
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 9;
  font-family: "SVN-Gilroy",sans-serif;
  display: none;
}

.wrapper-landing header .header .inner-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper-landing header .header .logo {
  display: block;
  width: 299px;
  height: 56px;
}

.wrapper-landing header .header .logo img {
  width: 100%;
  height: auto;
}

.wrapper-landing header .header .box-support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #0A1C5F;
  font-size: 24px;
  text-transform: uppercase;
}

.wrapper-landing header .header .box-support .btn-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 202px;
  height: 51px;
  background-color: #A70C0C;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 16px;
}

.wrapper-landing header .header .box-support .btn-buy:hover {
  color: #0A1C5F;
  background-color: #FFC600;
  letter-spacing: 1.2px;
}

.wrapper-landing header .header .box-support .hotline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 260px;
  height: 51px;
  color: #0A1C5F;
  background-color: #FFC600;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin: 0 0 0 15px;
  line-height: 1;
  position: relative;
}

.wrapper-landing header .header .box-support .hotline:before {
  display: inline-block;
  content: '';
  margin-right: 15px;
  background: url("../images/phone-call.png") 50% 50% no-repeat;
  width: 32px;
  height: 32px;
  -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
          animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
}

.wrapper-landing header .header .box-support .hotline:hover {
  background-color: #0A1C5F;
  color: #ffffff;
}

.wrapper-landing header .header .box-support .hotline:hover:before {
  background: url("../images/phone-call-2.png") 50% 50% no-repeat;
}

.wrapper-landing header .header .form-order-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  position: absolute;
  top: 100%;
  right: -10%;
  background-color: #ffc600;
  padding: 10px;
}

.wrapper-landing header .header .form-order-top .img-product {
  width: 10%;
  margin-left: 10px;
  margin-top: -5%;
}

.wrapper-landing header .header .form-order-top .form-group {
  width: 35%;
  padding-right: 10px;
}

.wrapper-landing header .header .form-order-top .form-group input {
  width: 100%;
  height: 40px;
  padding: 10px;
}

.wrapper-landing header .header .form-order-top button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 40px;
  color: #ffc600;
  background-color: #a70c0c;
  font-size: 24px;
  font-weight: bold;
}

.wrapper-landing header .banner-header {
  position: relative;
}

.wrapper-landing header .banner-header img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 1920px;
  margin: 0 auto;
}

.wrapper-landing header .banner-header .main-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 200px;
}

@media only screen and (max-width: 1200px) {
  .wrapper-landing header .header .box-support {
    font-size: 20px;
  }
  .wrapper-landing header .header .box-support span {
    display: none;
  }
  .wrapper-landing header .header .form-order-top {
    right: 0;
  }
  .wrapper-landing header .header .form-order-top .img-product {
    margin-top: 0;
  }
}

@media screen and (max-width: 1023px) {
  .wrapper-landing header .header .form-order-top {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper-landing header .header {
    height: 65px;
    position: fixed;
    top: 0;
    z-index: 9;
    padding-top: 0;
    background-color: #ffffff;
  }
  .wrapper-landing header .header .box-support {
    display: none;
  }
  .wrapper-landing header .header .inner-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .wrapper-landing header .header .logo {
    width: 167px;
    height: 30px;
  }
}

.wrapper-landing main .box-slogan-1 {
  background-color: #FFC600;
  padding: 24px 0;
  font-size: 53px;
  font-family: "SVN-Gilroy Bold",sans-serif;
}

.wrapper-landing main .box-slogan-1 span {
  display: inline-block;
  margin-right: 8px;
}

@media only screen and (max-width: 767px) {
  .wrapper-landing main .box-slogan-1 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 576px) {
  .wrapper-landing main .box-slogan-1 {
    padding: 7px 0;
    font-size: 20px;
    font-family: "Myriad Pro Regular";
  }
  .wrapper-landing main .box-slogan-1 .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper-landing main .box-slogan-1 span {
    display: block;
    font-family: "SVN-Gilroy Bold",sans-serif;
    text-transform: uppercase;
    font-size: 22px;
  }
}

.wrapper-landing main .box-info-effect {
  background: url("../images/bg-effect.jpg") 50% 100% no-repeat #fefefe;
  background-size: auto 100%;
  padding: 24px 0;
}

.wrapper-landing main .box-info-effect .list-item-effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
  padding: 0 1%;
  width: 100%;
}

.wrapper-landing main .box-info-effect .item-effect {
  width: 18%;
  min-height: 274px;
  background-color: #FFC600;
  position: relative;
  color: #0A1C5F;
}

.wrapper-landing main .box-info-effect .item-effect .descript-effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
  background-color: #0A1C5F;
  color: #FFC600;
  font-size: 28px;
  line-height: 1.2;
  margin: 0 0 12px;
  padding: 0 16px;
  font-family: "SVN-Gilroy Bold";
  text-transform: uppercase;
}

.wrapper-landing main .box-info-effect .item-effect .content-effect {
  padding: 0 16px 20px;
  font-size: 18px;
  line-height: 1.3;
}

.wrapper-landing main .box-info-effect .bottom-text-effect {
  font-size: 32px;
  line-height: 1.2;
  color: #0A1C5F;
  position: relative;
  text-align: center;
  width: 100%;
}

.wrapper-landing main .box-info-effect .bottom-text-effect span {
  font-family: "Myriad Pro Bold";
}

.wrapper-landing main .box-info-effect .item-prize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-landing main .box-info-effect .item-prize .img-prize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

.wrapper-landing main .box-info-effect .item-prize .img-prize img {
  max-width: 100%;
}

.wrapper-landing main .box-info-effect .item-prize .text-prize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #FFC600;
  color: #0A1C5F;
  font-size: 24px;
  width: 100%;
  font-family: "Myriad Pro SemiBold";
  height: 102px;
  padding: 0 20px;
}

@media only screen and (max-width: 1200px) {
  .wrapper-landing main .box-info-effect .item-effect .descript-effect {
    font-size: 22px;
  }
  .wrapper-landing main .box-info-effect .item-effect .content-effect {
    padding: 0 15px 15px;
    font-size: 16px;
  }
  .wrapper-landing main .box-info-effect .item-prize .text-prize {
    font-size: 24px;
  }
}

@media only screen and (max-width: 1023px) {
  .wrapper-landing main .box-info-effect .item-effect .descript-effect {
    font-size: 14px;
    height: 65px;
  }
  .wrapper-landing main .box-info-effect .item-effect .content-effect {
    font-size: 15px;
  }
  .wrapper-landing main .box-info-effect .bottom-text-effect {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper-landing main .box-info-effect {
    background: #ffffff;
    padding: 0;
  }
  .wrapper-landing main .box-info-effect .list-item-effect {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0;
    padding: 0;
  }
  .wrapper-landing main .box-info-effect .item-effect {
    width: 100%;
    min-height: auto;
    background-color: #ffffff;
  }
  .wrapper-landing main .box-info-effect .item-effect .top-effect {
    font-size: 24px;
  }
  .wrapper-landing main .box-info-effect .item-effect .descript-effect {
    font-size: 20px;
    height: 40px;
    font-family: "Myriad Pro Bold";
    line-height: 40px;
    padding: 0 30px;
  }
  .wrapper-landing main .box-info-effect .item-effect .descript-effect:before {
    display: block;
    content: '';
    background: url("../images/tick-01.png") 0/100% no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }
  .wrapper-landing main .box-info-effect .item-effect .descript-effect br {
    display: none;
  }
  .wrapper-landing main .box-info-effect .item-effect .content-effect {
    font-size: 18px;
    padding: 0 30px 16px;
  }
  .wrapper-landing main .box-info-effect .bottom-text-effect {
    padding: 12px 12px 0;
    font-size: 20px;
    background-color: #FFC600;
    text-align: left;
  }
  .wrapper-landing main .box-info-effect .bottom-text-effect p {
    background-color: #0A1C5F;
    color: #FFC600;
    padding: 0 20px;
  }
  .wrapper-landing main .box-info-effect .bottom-text-effect p:first-child {
    padding-top: 20px;
  }
  .wrapper-landing main .box-info-effect .bottom-text-effect p:last-child {
    padding-bottom: 20px;
  }
  .wrapper-landing main .box-info-effect .item-prize {
    padding: 0;
  }
  .wrapper-landing main .box-info-effect .item-prize .text-prize {
    font-size: 20px;
    height: 91px;
  }
}

.wrapper-landing main .box-slogan-2 {
  background-color: #FFC600;
  color: #0A1C5F;
  font-size: 32px;
  line-height: 1.3;
  padding: 15px 100px;
  position: relative;
}

.wrapper-landing main .box-slogan-2 span {
  font-family: "Myriad Pro Bold";
  line-height: 1;
}

.wrapper-landing main .box-slogan-2 .row {
  display: block;
}

.wrapper-landing main .box-slogan-2:before {
  display: block;
  content: '';
  background: url("../images/quotation-mark-02.png") 0/100% no-repeat;
  width: 62px;
  height: 52px;
  position: absolute;
  top: 5px;
  left: 15px;
}

.wrapper-landing main .box-slogan-2:after {
  display: block;
  content: '';
  background: url("../images/quotation-mark-02.png") 0/100% no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 62px;
  height: 52px;
  position: absolute;
  bottom: 5px;
  right: 15px;
}

@media only screen and (max-width: 1199px) {
  .wrapper-landing main .box-slogan-2 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 1023px) {
  .wrapper-landing main .box-slogan-2 {
    font-size: 24px;
    padding: 15px 80px;
  }
  .wrapper-landing main .box-slogan-2:before {
    width: 42px;
    height: 32px;
  }
  .wrapper-landing main .box-slogan-2:after {
    width: 42px;
    height: 32px;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper-landing main .box-slogan-2 {
    background-color: #0A1C5F;
    font-size: 20px;
    padding: 0 0 16px;
    font-family: "Myriad Pro SemiBold";
  }
  .wrapper-landing main .box-slogan-2 .row {
    background-color: #FFC600;
    margin: 0 12px;
    padding: 15px 20px;
    display: block;
    text-align: left;
  }
  .wrapper-landing main .box-slogan-2:before {
    width: 18px;
    height: 20px;
    top: 3px;
    left: 13px;
  }
  .wrapper-landing main .box-slogan-2:after {
    width: 18px;
    height: 20px;
    bottom: 20px;
  }
}

.wrapper-landing main .box-info-2 {
  background: url("../images/bg-info-2.jpg") 50% 0 no-repeat #aeecf8;
  min-height: 660px;
  height: auto;
  line-height: 1.4;
  padding: 20px 0;
}

.wrapper-landing main .box-info-2 .detail-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper-landing main .box-info-2 .box-list-detail {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 536px;
  max-width: 100%;
  background-color: #ffffff;
}

.wrapper-landing main .box-info-2 .lst-detail-info {
  padding: 20px 20px 0;
  width: 100%;
}

.wrapper-landing main .box-info-2 .lst-detail-info p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  background-color: #ffffff;
  margin-bottom: 10px;
  border: 1px solid #707070;
  color: #636363;
  font-size: 24px;
  cursor: pointer;
}

.wrapper-landing main .box-info-2 .lst-detail-info p label {
  margin-bottom: 0;
  padding-left: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.wrapper-landing main .box-info-2 .lst-detail-info p:hover, .wrapper-landing main .box-info-2 .lst-detail-info p.active {
  background-color: #FFC600;
  color: #0A1C5F;
  font-family: "Myriad Pro Bold";
}

.wrapper-landing main .box-info-2 .lst-detail-info p input[type=checkbox] {
  display: block;
  content: '';
  border-radius: 50%;
  border: 2px solid #636363;
  width: 29px;
  height: 29px;
  -webkit-appearance: none;
  margin-right: 24px;
  cursor: pointer;
}

.wrapper-landing main .box-info-2 .lst-detail-info p input[type=checkbox]:checked {
  background: url("../images/like-2.png") 0/100% no-repeat;
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 0;
  margin-right: 20px;
}

.wrapper-landing main .box-info-2 .btn-muangay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 238px;
  height: 50px;
  background-color: #A70C0C;
  color: #FFC600;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "SVN-Gilroy Bold";
  line-height: 1;
  margin: 20px 0;
}

.wrapper-landing main .box-info-2 .text-info-bottom {
  padding: 20px;
  line-height: 1;
  font-size: 28px;
  font-weight: 500;
  background-color: #27309A;
  border-radius: 39px;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: 60px auto 0;
}

.wrapper-landing main .box-info-2 .text-info-bottom br {
  display: none;
}

.wrapper-landing main .box-info-2 .top-ticket {
  background-color: #0A1C5F;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 82px;
  font-size: 26px;
  line-height: 1.1;
}

.wrapper-landing main .box-info-2 .top-ticket span {
  font-family: "Myriad Pro Bold";
}

.wrapper-landing main .box-info-2 .top-ticket .text-bottom {
  font-size: 20px;
  font-family: "Myriad Pro Regular";
}

.wrapper-landing main .box-info-2 .form-ticket {
  padding: 0 20px;
  border-bottom: 9px solid #0A1C5F;
}

.wrapper-landing main .box-info-2 .form-ticket h4 {
  font-size: 30px;
  font-family: "Myriad Pro Bold";
  padding-left: 20px;
  text-transform: uppercase;
}

.wrapper-landing main .box-info-2 .form-ticket input {
  width: 100%;
  height: 40px;
  border: 1px solid #707070;
  padding: 0 20px;
  font-size: 24px;
}

@media only screen and (max-width: 1366px) {
  .wrapper-landing main .box-info-2 .text-info-bottom {
    font-size: 22px;
    margin: 30px auto 0;
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper-landing main .box-info-2 .top-ticket {
    font-size: 20px;
  }
  .wrapper-landing main .box-info-2 .top-ticket .text-bottom {
    font-size: 18px;
  }
  .wrapper-landing main .box-info-2 .form-ticket h4 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper-landing main .box-info-2 .box-list-detail {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent;
  }
  .wrapper-landing main .box-info-2 .text-info-bottom {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    border-radius: 0;
    line-height: 1.3;
  }
  .wrapper-landing main .box-info-2 .text-info-bottom br {
    display: block;
  }
  .wrapper-landing main .box-info-2 .form-ticket {
    border-bottom: none;
  }
  .wrapper-landing main .box-info-2 .form-ticket h4 {
    padding-left: 0;
  }
}

@media only screen and (max-width: 576px) {
  .wrapper-landing main .box-info-2 {
    background-position-x: 65%;
    min-height: auto;
    padding: 10px 0;
  }
  .wrapper-landing main .box-info-2 .btn-muangay {
    width: 170px;
    height: 34px;
    font-size: 24px;
  }
  .wrapper-landing main .box-info-2 .lst-detail-info {
    padding: 20px 30px 0;
  }
  .wrapper-landing main .box-info-2 .lst-detail-info p {
    height: 30px;
    margin-bottom: 8px;
    font-size: 20px;
  }
  .wrapper-landing main .box-info-2 .lst-detail-info p label {
    padding-left: 10px;
  }
  .wrapper-landing main .box-info-2 .lst-detail-info p input[type=checkbox] {
    width: 14px;
    height: 14px;
    margin-right: 8px;
    border: 1px solid #636363;
  }
  .wrapper-landing main .box-info-2 .lst-detail-info p input[type=checkbox]:checked {
    width: 19px;
    height: 19px;
    margin-right: 6px;
  }
  .wrapper-landing main .box-info-2 .top-ticket {
    height: 62px;
  }
  .wrapper-landing main .box-info-2 .form-ticket {
    padding: 0 30px;
  }
  .wrapper-landing main .box-info-2 .form-ticket input {
    height: 30px;
    font-size: 20px;
  }
}

.wrapper-landing main .box-reason {
  background: url("../images/bg-des.jpg") 50% 0 no-repeat #afe7fa;
  min-height: 645px;
  padding: 20px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper-landing main .box-reason .title {
  display: block;
  text-align: center;
  font-size: 53px;
  font-family: 'SVN-Gilroy',sans-serif;
  line-height: 1.2;
  width: 1088px;
  max-width: 100%;
  margin: 0 auto;
  color: #ffffff;
}

.wrapper-landing main .box-reason .title span {
  font-family: "SVN-Gilroy Bold",sans-serif;
  color: #FFC600;
}

.wrapper-landing main .box-reason .box-detail-reason {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1088px;
  max-width: 100%;
  padding: 20px 0;
  color: #050B5A;
  font-size: 28px;
  margin: 0 auto;
  line-height: 1.3;
  border-bottom: 2px solid #FFFFFF;
}

.wrapper-landing main .box-reason .box-detail-reason .item-reason {
  padding: 0 15px;
}

.wrapper-landing main .box-reason .box-detail-reason .title {
  width: 100%;
  line-height: 1.2;
  color: #0A1C5F;
  text-align: right;
  font-size: 30px;
  font-family: 'SVN-Gilroy Bold',sans-serif;
  text-transform: uppercase;
  background-color: #FFC600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 63px;
}

.wrapper-landing main .box-reason .box-detail-reason .img-reason {
  display: block;
  margin: 20px auto;
}

.wrapper-landing main .box-reason .box-detail-reason .des-reason {
  display: block;
  width: 100%;
  text-align: justify;
  padding: 0 20px;
  font-size: 20px;
  margin: 0;
  color: #ffffff;
}

.wrapper-landing main .box-reason .descript-reason {
  font-size: 26px;
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
  padding-top: 20px;
}

.wrapper-landing main .box-reason .descript-reason p {
  margin-top: 10px;
}

.wrapper-landing main .box-reason .descript-reason span {
  color: #FFC600;
  font-family: "Myriad Pro Bold",sans-serif;
}

@media only screen and (max-width: 1200px) {
  .wrapper-landing main .box-reason .title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1023px) {
  .wrapper-landing main .box-reason {
    min-height: auto;
  }
  .wrapper-landing main .box-reason .title {
    font-size: 30px;
  }
  .wrapper-landing main .box-reason .box-detail-reason {
    font-size: 20px;
  }
  .wrapper-landing main .box-reason .box-detail-reason .title {
    font-size: 22px;
  }
  .wrapper-landing main .box-reason .box-detail-reason .des-reason {
    font-size: 18px;
  }
  .wrapper-landing main .box-reason .descript-reason {
    font-size: 20px;
  }
  .wrapper-landing main .box-reason .descript-reason p {
    margin-top: 6px;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper-landing main .box-reason {
    background: #0A1C5F;
    height: auto;
  }
  .wrapper-landing main .box-reason .title {
    font-size: 20px;
    padding: 0;
  }
  .wrapper-landing main .box-reason .box-detail-reason {
    padding: 20px 0;
  }
  .wrapper-landing main .box-reason .box-detail-reason .item-reason {
    margin: 0 -30px 20px;
  }
  .wrapper-landing main .box-reason .box-detail-reason .img-reason {
    width: 76px;
    height: 76px;
  }
  .wrapper-landing main .box-reason .box-detail-reason .img-reason img {
    width: 100%;
  }
  .wrapper-landing main .box-reason .box-detail-reason .title {
    text-align: center;
    height: 40px;
    font-size: 20px;
  }
  .wrapper-landing main .box-reason .box-detail-reason .des-reason {
    font-size: 20px;
    text-align: left;
    padding: 0 30px;
  }
  .wrapper-landing main .box-reason .descript-reason {
    padding: 20px 30px 10px;
    text-align: left;
  }
  .wrapper-landing main .box-reason .descript-reason br {
    display: none;
  }
  .wrapper-landing main .box-reason .descript-reason p {
    margin-top: 12px;
  }
}

.wrapper-landing main .box-symptom {
  background: url("../images/banner-7.jpg") 50% 0 no-repeat;
  height: auto;
  padding-bottom: 20px;
}

.wrapper-landing main .box-symptom .row-1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.wrapper-landing main .box-symptom .lst-symptom {
  counter-reset: section;
}

.wrapper-landing main .box-symptom .lst-symptom li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Myriad Pro SemiBold",sans-serif;
  line-height: 1.1;
  margin-bottom: 20px;
}

.wrapper-landing main .box-symptom .lst-symptom li:before {
  counter-increment: section;
  content: counter(section);
  width: 53px;
  height: 53px;
  background-color: #FFC600;
  border-radius: 50%;
  margin-right: 12px;
  color: #0A1C5F;
  font-size: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 50px;
}

.wrapper-landing main .box-symptom .lst-symptom li span {
  color: #ffffff;
  font-size: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper-landing main .box-symptom .lst-symptom li.active:before {
  background: url("../images/tick-07.png") 0/100% no-repeat;
  content: '';
}

.wrapper-landing main .box-symptom .lst-symptom li.active span {
  color: #FFC600;
}

.wrapper-landing main .box-symptom .row-2 .input-1 {
  padding-left: 10%;
}

.wrapper-landing main .box-symptom .row-2 input {
  background-color: #FFC600;
  font-size: 30px;
  color: #0A1C5F;
}

.wrapper-landing main .box-symptom .row-2 input::-webkit-input-placeholder {
  color: #0A1C5F;
}

.wrapper-landing main .box-symptom .row-2 input:-ms-input-placeholder {
  color: #0A1C5F;
}

.wrapper-landing main .box-symptom .row-2 input::-ms-input-placeholder {
  color: #0A1C5F;
}

.wrapper-landing main .box-symptom .row-2 input::placeholder {
  color: #0A1C5F;
}

.wrapper-landing main .box-symptom .row-2 .btn-row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #A70C0C;
  color: #FFC600;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "SVN-Gilroy Bold",sans-serif;
  margin: 0 auto;
  width: 260px;
  max-width: 92%;
}

@media only screen and (max-width: 1023px) {
  .wrapper-landing main .box-symptom .row-2 input {
    font-size: 20px;
  }
  .wrapper-landing main .box-symptom .row-2 .btn-row2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper-landing main .box-symptom {
    background: #0A1C5F;
  }
  .wrapper-landing main .box-symptom .row-1 {
    padding: 20px 30px;
  }
  .wrapper-landing main .box-symptom .row-1 .img-fluid {
    display: block;
    margin: 0 auto 20px;
  }
  .wrapper-landing main .box-symptom .lst-symptom li:before {
    width: 47px;
    height: 47px;
    margin-right: 8px;
    font-size: 31px;
    line-height: 47px;
  }
  .wrapper-landing main .box-symptom .lst-symptom li span {
    font-size: 20px;
  }
  .wrapper-landing main .box-symptom .row-2 .input-1 {
    padding: 0 30px;
  }
  .wrapper-landing main .box-symptom .row-2 input {
    font-size: 14px;
  }
  .wrapper-landing main .box-symptom .row-2 .w-50 {
    padding: 0 5px 0 15px;
    margin-bottom: 0;
  }
  .wrapper-landing main .box-symptom .row-2 .w-50:last-child {
    padding: 0 15px 0 5px;
  }
  .wrapper-landing main .box-symptom .row-2 .btn-row2 {
    max-width: 100%;
    font-size: 24px;
  }
}

@media only screen and (max-width: 374px) {
  .wrapper-landing main .box-symptom .row-2 .btn-row2 {
    font-size: 20px;
  }
}

.wrapper-landing main .box-product-2 {
  background: url("../images/bg-product-2.jpg") 50% 0 no-repeat #eee;
  padding-top: 30px;
  padding-bottom: 30px;
}

.wrapper-landing main .box-product-2 .title-product {
  text-align: center;
  font-family: 'SVN-Gilroy',sans-serif;
  line-height: 1.2;
  color: #2E3190;
  font-size: 53px;
  margin-bottom: 20px;
}

.wrapper-landing main .box-product-2 .title-product .top-title {
  font-family: 'SVN-Gilroy Bold',sans-serif;
  text-transform: uppercase;
}

.wrapper-landing main .box-product-2 .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper-landing main .box-product-2 .swiper-container {
  margin: 24px 0;
}

.wrapper-landing main .box-product-2 .owl-carousel {
  margin: 0 20px;
  overflow: hidden;
}

.wrapper-landing main .box-product-2 .article-box {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}

.wrapper-landing main .box-product-2 .swiper-slide {
  position: relative;
  background-color: #FFC600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  height: 100%;
}

.wrapper-landing main .box-product-2 .swiper-slide img {
  width: 100%;
}

.wrapper-landing main .box-product-2 .swiper-slide .content-product-2 {
  width: 100%;
  height: 50%;
  padding: 16px;
  color: #0A1C5F;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  font-family: "Myriad Pro Condensed Bold",sans-serif;
}

@media only screen and (width: 1024px) {
  .wrapper-landing main .box-product-2 .swiper-slide .content-product-2 {
    padding: 30px;
  }
}

@media only screen and (max-width: 1023px) {
  .wrapper-landing main .box-product-2 .title-product {
    font-size: 34px;
  }
  .wrapper-landing main .box-product-2 .swiper-slide .content-product-2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper-landing main .box-product-2 .title-product .top-title {
    font-size: 24px;
  }
  .wrapper-landing main .box-product-2 .swiper-slide .content-product-2 {
    font-size: 15px;
    padding: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .wrapper-landing main .box-product-2 {
    padding: 10px 30px;
  }
  .wrapper-landing main .box-product-2 .title-product {
    font-size: 20px;
  }
  .wrapper-landing main .box-product-2 .owl-carousel {
    margin: 0 15px;
  }
  .wrapper-landing main .box-product-2 .swiper-slide .content-product-2 {
    font-size: 20px;
    padding: 16px 30px;
  }
}

.wrapper-landing main .box-info-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.wrapper-landing main .box-info-user .form-info-order {
  background: url("../images/bg-info-user.jpg") 100% 100% no-repeat;
  padding: 10px 15px 0 45px;
}

.wrapper-landing main .box-info-user .btn-send-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 229px;
  max-width: 100%;
  height: 50px;
  background-color: #A70C0C;
  font-family: "SVN-Gilroy Bold";
  color: #FFC600;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1;
  margin-top: 9px;
  -webkit-animation: zoom 1s infinite;
          animation: zoom 1s infinite;
}

.wrapper-landing main .box-info-user .lst-info-product {
  padding: 0;
  counter-reset: section;
}

.wrapper-landing main .box-info-user .lst-info-product li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  height: 54px;
  border-radius: 40px;
  margin-bottom: 15px;
  padding: 0;
  font-family: "Myriad Pro SemiBold";
}

.wrapper-landing main .box-info-user .lst-info-product li:before {
  counter-increment: section;
  content: counter(section);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #FFC600;
  color: #0A1C5F;
  font-size: 30px;
  margin-right: 8px;
}

.wrapper-landing main .box-info-user .lst-info-product li span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
  color: #0A1C5F;
  font-size: 20px;
  line-height: 1.1;
  padding-right: 15px;
}

.wrapper-landing main .box-info-user .box-price-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-landing main .box-info-user .box-price-product .img-product {
  display: block;
  width: 55%;
}

.wrapper-landing main .box-info-user .box-price-product .img-product img {
  width: 100%;
  height: auto;
}

.wrapper-landing main .box-info-user .box-price-product .info-product {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #FFC600;
}

.wrapper-landing main .box-info-user .box-price-product .info-product .text-price-1 {
  font-family: "SVN-Gilroy Bold";
  font-size: 64px;
  line-height: 1;
}

.wrapper-landing main .box-info-user .box-price-product .info-product .text-price-2 {
  font-family: "SVN-Gilroy";
  font-size: 30px;
}

.wrapper-landing main .box-info-user .info-bottom-product {
  width: 355px;
  max-width: 100%;
  height: 55px;
  background-color: #0A1C5F;
  color: #FFC600;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-landing main .box-info-user .top-title {
  height: 130px;
}

.wrapper-landing main .box-info-user .top-title p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  line-height: 1;
}

.wrapper-landing main .box-info-user .top-title .left {
  display: inline-block;
  font-size: 40px;
  color: #fff;
  width: 35%;
  text-align: right;
}

.wrapper-landing main .box-info-user .top-title .right {
  display: inline-block;
  font-size: 49px;
  line-height: 1.2;
  color: #FFC600;
  font-family: "Myriad Pro Bold";
  margin-left: 6px;
  width: 65%;
}

.wrapper-landing main .box-info-user .top-label {
  display: block;
  font-size: 24px;
  color: #ffffff8c;
  margin-left: -30px;
  margin-bottom: 15px;
}

.wrapper-landing main .box-info-user .bottom-freeship {
  height: 88px;
  background-color: #0A1C5F;
  color: #FFD500;
  font-size: 30px;
  padding: 0 30px;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-landing main .box-info-user .bottom-freeship span {
  display: block;
  font-size: 34px;
  font-family: "Myriad Pro SemiBold";
}

.wrapper-landing main .box-info-user .bottom-freeship .left-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper-landing main .box-info-user .bottom-freeship .right-text {
  text-align: center;
}

@media only screen and (max-width: 1365px) {
  .wrapper-landing main .box-info-user .box-price-product .info-product .text-price-1 {
    font-size: 5vw;
    margin-bottom: 0;
  }
  .wrapper-landing main .box-info-user .box-price-product .info-product .text-price-2 {
    font-size: 3vw;
  }
  .wrapper-landing main .box-info-user .top-label {
    margin-left: 0;
  }
  .wrapper-landing main .box-info-user .top-title .left {
    font-size: 30px;
  }
  .wrapper-landing main .box-info-user .top-title .right {
    font-size: 40px;
  }
  .wrapper-landing main .box-info-user .form-info-order {
    padding: 10px 15px 0;
  }
  .wrapper-landing main .box-info-user .info-bottom-product {
    font-size: 12px;
  }
  .wrapper-landing main .box-info-user .bottom-freeship {
    font-size: 20px;
  }
  .wrapper-landing main .box-info-user .bottom-freeship span {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1023px) {
  .wrapper-landing main .box-info-user .btn-send-info {
    width: 100%;
    font-size: 24px;
    margin-top: 9px;
  }
  .wrapper-landing main .box-info-user .lst-info-product li:before {
    font-size: 32px;
    margin-right: 8px;
  }
  .wrapper-landing main .box-info-user .lst-info-product li span {
    font-size: 13px;
    line-height: 20px;
  }
  .wrapper-landing main .box-info-user .info-bottom-product {
    font-size: 20px;
  }
  .wrapper-landing main .box-info-user .form-info-order {
    padding: 10px 15px 0 15px;
  }
  .wrapper-landing main .box-info-user .form-info-order * {
    max-width: 100%;
  }
  .wrapper-landing main .box-info-user .top-title {
    height: 100px;
  }
  .wrapper-landing main .box-info-user .top-title .left {
    font-size: 26px;
  }
  .wrapper-landing main .box-info-user .top-title .right {
    font-size: 30px;
  }
  .wrapper-landing main .box-info-user .top-label {
    margin-left: 0;
  }
  .wrapper-landing main .box-info-user .info-bottom-product {
    height: 40px;
    font-size: 9px;
    line-height: 16px;
  }
  .wrapper-landing main .box-info-user .bottom-freeship {
    height: 58px;
    font-size: 16px;
    padding: 0 15px;
  }
  .wrapper-landing main .box-info-user .bottom-freeship span {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper-landing main .box-info-user {
    padding: 0;
  }
  .wrapper-landing main .box-info-user .form-info-order {
    margin: 0 -15px;
    padding: 10px 0 0;
  }
  .wrapper-landing main .box-info-user .btn-send-info {
    width: 124px;
    height: 32px;
    font-size: 16px;
  }
  .wrapper-landing main .box-info-user .lst-info-product {
    padding: 0 15px;
  }
  .wrapper-landing main .box-info-user .lst-info-product li {
    background-color: transparent;
    height: auto;
    border-radius: 9px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 8px;
    padding: 5px;
  }
  .wrapper-landing main .box-info-user .lst-info-product li:before {
    width: 38px;
    height: 38px;
    font-size: 24px;
    margin-right: 8px;
  }
  .wrapper-landing main .box-info-user .lst-info-product li span {
    font-size: 18px;
    line-height: 23px;
    color: #fff;
  }
  .wrapper-landing main .box-info-user .lst-info-product li:last-child {
    background-color: transparent;
  }
  .wrapper-landing main .box-info-user .box-price-product {
    padding: 0 15px;
  }
  .wrapper-landing main .box-info-user .box-price-product .img-product {
    width: 45%;
  }
  .wrapper-landing main .box-info-user .box-price-product .info-product {
    width: 55%;
    color: #ffc600;
  }
  .wrapper-landing main .box-info-user .box-price-product .info-product .text-price-1 {
    font-size: 40px;
    margin-bottom: -3px;
    border-bottom: 2px solid #ffc600;
    padding-bottom: 5px;
    margin-bottom: 4px;
  }
  .wrapper-landing main .box-info-user .box-price-product .info-product .text-price-2 {
    font-size: 18px;
  }
  .wrapper-landing main .box-info-user .box-price-product .info-product .text-price-2 small {
    font-size: 16px;
  }
  .wrapper-landing main .box-info-user .info-bottom-product {
    background-color: transparent;
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 57px;
    font-size: 11px;
    line-height: 16px;
  }
  .wrapper-landing main .box-info-user .top-label {
    margin-left: 15px;
    font-size: 10px;
  }
}

.wrapper-landing main .box-progress {
  background-color: #fff;
  padding: 50px 20px;
}

.wrapper-landing main .box-progress .title {
  font-weight: bold;
  font-size: 53px;
  color: #0A1C5F;
  text-align: center;
  font-family: "SVN-Gilroy Bold";
  margin-bottom: 24px;
  text-transform: uppercase;
}

.wrapper-landing main .box-progress .list-progress .item-progress {
  margin: 0 -3px;
  background-color: #0A1C5F;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Myriad Pro SemiBold";
}

.wrapper-landing main .box-progress .list-progress .item-progress .detail-progress {
  font-size: 20px;
  line-height: 1.4;
  width: 100%;
}

.wrapper-landing main .box-progress .list-progress .item-progress .detail-progress .text-top {
  padding: 15px;
  color: #FFC600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 26px;
  border-bottom: 1px solid #FFC600;
  font-family: "Myriad Pro SemiBold";
}

.wrapper-landing main .box-progress .list-progress .item-progress .detail-progress .text-top span {
  display: block;
  font-size: 28px;
  font-family: "Myriad Pro Bold";
}

.wrapper-landing main .box-progress .list-progress .item-progress .detail-progress .text-descript {
  padding: 10px  15px;
  height: 110px;
  color: #fff;
  border-bottom: 1px solid #00429B;
}

.wrapper-landing main .box-progress .list-progress .item-progress .detail-progress .text-descript ul {
  padding-left: 16px;
  margin-bottom: 0;
}

.wrapper-landing main .box-progress .list-progress .item-progress .detail-progress .text-descript ul li {
  margin-bottom: 8px;
  list-style: disc;
}

.wrapper-landing main .box-progress .list-progress .item-progress .detail-progress .text-descript ul li:last-child {
  margin-bottom: 0;
}

.wrapper-landing main .box-progress .list-progress .item-progress .detail-progress .text-bottom {
  padding: 10px 15px;
  background-color: #FFC600;
  color: #0A1C5F;
  height: 130px;
}

.wrapper-landing main .box-progress .list-progress .item-progress .detail-progress .btn-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 288px;
  max-width: 100%;
  height: 50px;
  background-color: #A70C0C;
  color: #FFC600;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin: 15px 0;
}

.wrapper-landing main .box-progress .list-progress .item-progress .detail-progress .btn-order:hover {
  background-color: #FFC600;
  color: #A70C0C;
}

@media only screen and (max-width: 1365px) {
  .wrapper-landing main .box-progress .list-progress .item-progress .detail-progress {
    font-size: 17px;
  }
}

@media only screen and (max-width: 1023px) {
  .wrapper-landing main .box-progress {
    padding: 50px 15px;
  }
  .wrapper-landing main .box-progress .list-progress .item-progress {
    margin: 0 -10px;
  }
  .wrapper-landing main .box-progress .list-progress .item-progress .detail-progress {
    font-size: 16px;
  }
  .wrapper-landing main .box-progress .list-progress .item-progress .detail-progress .text-top {
    font-size: 20px;
  }
  .wrapper-landing main .box-progress .list-progress .item-progress .detail-progress .text-top span {
    font-size: 22px;
  }
  .wrapper-landing main .box-progress .list-progress .item-progress .detail-progress .btn-order {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper-landing main .box-progress {
    padding: 30px 0;
  }
  .wrapper-landing main .box-progress .title {
    font-size: 20px;
  }
  .wrapper-landing main .box-progress .list-progress {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 40px;
  }
  .wrapper-landing main .box-progress .list-progress .item-progress {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
    padding: 0;
  }
  .wrapper-landing main .box-progress .list-progress .item-progress .detail-progress {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 18px;
  }
  .wrapper-landing main .box-progress .list-progress .item-progress .detail-progress .text-top {
    padding: 8px 15px;
    font-size: 20px;
  }
  .wrapper-landing main .box-progress .list-progress .item-progress .detail-progress .text-top span {
    font-size: 20px;
  }
  .wrapper-landing main .box-progress .list-progress .item-progress .detail-progress .text-descript {
    height: auto;
  }
  .wrapper-landing main .box-progress .list-progress .item-progress .detail-progress .text-bottom {
    height: auto;
  }
  .wrapper-landing main .box-progress .list-progress .item-progress .detail-progress .btn-order {
    width: 156px;
    font-size: 20px;
    height: 34px;
    margin: 15px 0 -15px;
  }
  .wrapper-landing main .box-progress .mb-line-1 {
    position: relative;
  }
  .wrapper-landing main .box-progress .mb-line-1::before {
    display: block;
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #0A1C5F;
    left: -16px;
    top: -1px;
  }
  .wrapper-landing main .box-progress .mb-line-1::after {
    display: block;
    content: '';
    background: url("../images/line-arrow.png") repeat-y;
    width: 16px;
    height: 298px;
    position: absolute;
    top: 0;
    left: -16px;
  }
  .wrapper-landing main .box-progress .mb-line-2 {
    position: relative;
  }
  .wrapper-landing main .box-progress .mb-line-2::before {
    display: block;
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #0A1C5F;
    left: -16px;
    bottom: -1px;
  }
  .wrapper-landing main .box-progress .mb-line-2::after {
    display: block;
    content: '';
    background: url("../images/line-arrow.png") repeat-y;
    width: 16px;
    height: 298px;
    position: absolute;
    top: 100%;
    left: -16px;
  }
}

.wrapper-landing main .box-comment {
  background-color: #fff;
  padding: 30px 77px;
}

.wrapper-landing main .box-comment .box-comment-mb {
  display: none;
}

.wrapper-landing main .box-comment .title-comment {
  display: block;
  color: #0A1C5F;
  font-size: 46px;
  text-align: center;
  margin-bottom: 25px;
  font-family: "SVN-Gilroy";
}

.wrapper-landing main .box-comment .title-comment br {
  display: none;
}

.wrapper-landing main .box-comment .title-comment span {
  display: inline-block;
  font-family: "SVN-Gilroy Bold";
}

.wrapper-landing main .box-comment .item-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 46px;
  position: relative;
}

.wrapper-landing main .box-comment .item-comment .info-user {
  color: #0A1C5F;
  font-size: 30px;
}

.wrapper-landing main .box-comment .item-comment .info-user span {
  font-family: "Myriad Pro Bold";
}

.wrapper-landing main .box-comment .item-comment .content-comment {
  margin: 8px 0;
  color: #000000;
}

.wrapper-landing main .box-comment .item-comment .content-comment span {
  font-family: "Myriad Pro Bold";
}

.wrapper-landing main .box-comment .item-comment .avatar-user {
  display: block;
  width: 122px;
  height: 122px;
  overflow: hidden;
  margin-right: 28px;
  position: absolute;
  top: 0;
  left: -61px;
  z-index: 2;
}

.wrapper-landing main .box-comment .item-comment .detail-comment {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 45px 27px 150px;
  color: #050B5A;
  font-size: 20px;
  line-height: 1.25;
  border-left: 1px solid #2E3191;
  border-bottom: 1px solid #2E3191;
  position: relative;
}

.wrapper-landing main .box-comment .item-comment .detail-comment:before {
  content: '';
  display: block;
  background: url("../images/quotation-mark-02.png") 0/100% no-repeat #ffffff;
  width: 47px;
  height: 44px;
  position: absolute;
  top: 0;
  left: 80px;
}

.wrapper-landing main .box-comment .item-comment .detail-comment:after {
  content: '';
  display: block;
  background: url("../images/quotation-mark-02.png") 0/100% no-repeat #ffffff;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 47px;
  height: 44px;
  position: absolute;
  bottom: 26px;
  right: 0;
}

.wrapper-landing main .box-comment .item-comment:nth-child(even) .avatar-user {
  right: -61px;
  left: auto;
  top: 0;
}

.wrapper-landing main .box-comment .item-comment:nth-child(even) .detail-comment {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border-left: 0;
  border-right: 1px solid #2E3191;
  padding: 0 100px 27px;
  margin-right: 28px;
}

.wrapper-landing main .box-comment .item-comment:nth-child(even) .detail-comment:before {
  top: 0;
  left: 0;
}

.wrapper-landing main .box-comment .item-comment:nth-child(even) .detail-comment:after {
  bottom: 25px;
  right: 50px;
}

@media only screen and (max-width: 1023px) {
  .wrapper-landing main .box-comment .item-comment .detail-comment {
    padding: 0 50px 27px 115px;
  }
  .wrapper-landing main .box-comment .item-comment .detail-comment:before {
    left: 60px;
  }
  .wrapper-landing main .box-comment .item-comment:nth-child(even) .detail-comment {
    padding: 0 115px 27px 50px;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper-landing main .box-comment {
    padding: 0 30px;
  }
  .wrapper-landing main .box-comment .box-comment-desktop {
    display: none;
  }
  .wrapper-landing main .box-comment .box-comment-mb {
    display: block;
    padding-top: 25px;
  }
  .wrapper-landing main .box-comment .title-comment {
    font-size: 20px;
    margin-bottom: 0;
  }
  .wrapper-landing main .box-comment .title-comment br {
    display: block;
  }
  .wrapper-landing main .box-comment .owl-stage-outer {
    overflow: visible;
  }
  .wrapper-landing main .box-comment .item-comment {
    padding: 0;
    position: relative;
    margin-bottom: 0;
  }
  .wrapper-landing main .box-comment .item-comment .avatar-user {
    display: none;
    width: 55px;
    height: 55px;
    position: absolute;
    top: 5px;
    left: 15px;
    z-index: 2;
  }
  .wrapper-landing main .box-comment .item-comment .detail-comment {
    padding: 15px 15px 0 35px;
    font-size: 16px;
    line-height: 26px;
  }
  .wrapper-landing main .box-comment .item-comment .detail-comment .info-user {
    margin-bottom: 30px;
    font-size: 24px;
  }
  .wrapper-landing main .box-comment .item-comment .detail-comment:before {
    width: 20px;
    height: 20px;
    left: -10px;
    top: 0px;
  }
  .wrapper-landing main .box-comment .item-comment .detail-comment:after {
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 10px;
  }
  .wrapper-landing main .box-comment .item-comment:nth-child(even) .avatar-user {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 5px;
    left: 15px;
    z-index: 2;
  }
  .wrapper-landing main .box-comment .item-comment:nth-child(even) .detail-comment {
    padding: 15px 15px 27px;
    border: 1px solid #2A338B;
    margin-right: 0;
    margin-left: 0;
  }
  .wrapper-landing main .box-comment .item-comment:nth-child(even) .detail-comment:after {
    width: 33px;
    height: 33px;
    bottom: 0px;
    right: 10px;
  }
}

.wrapper-landing main .box-slogan-bottom {
  background-color: #0A1C5F;
  font-family: "Myriad Pro Regular";
  color: #ffffff;
  line-height: 1;
  padding: 20px 0;
  font-size: 32px;
  text-align: center;
}

.wrapper-landing main .box-slogan-bottom span {
  display: inline-block;
  margin: 0 4px;
  font-family: "Myriad Pro Bold";
  font-size: 40px;
  color: #FFC600;
}

.wrapper-landing main .box-slogan-bottom .text-up-web {
  text-transform: uppercase;
}

.wrapper-landing main .box-slogan-bottom br {
  display: none;
}

@media only screen and (max-width: 1365px) {
  .wrapper-landing main .box-slogan-bottom {
    font-size: 24px;
  }
  .wrapper-landing main .box-slogan-bottom span {
    font-size: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper-landing main .box-slogan-bottom {
    padding: 10px 0;
    font-size: 20px;
  }
  .wrapper-landing main .box-slogan-bottom br {
    display: block;
  }
  .wrapper-landing main .box-slogan-bottom .text-up-web {
    text-transform: inherit;
  }
  .wrapper-landing main .box-slogan-bottom span {
    font-size: 26px;
  }
  .wrapper-landing main .box-slogan-bottom .text-under-bottom {
    font-size: 15px;
    text-align: left;
    margin-top: 8px;
    display: inline-block;
    line-height: 1.2;
  }
  .wrapper-landing main .box-slogan-bottom .text-under-bottom span {
    color: #fff;
    font-size: 19px;
    font-family: "Myriad Pro SemiBold";
  }
}

.box-info-order {
  background-color: #0A1C5F;
}

.box-info-order .container {
  background: url("../images/bg-order.jpg") 50% 100% #f3f4f4 no-repeat;
}

.box-info-order .main-order {
  padding: 0 50px;
}

.box-info-order .form-order {
  padding: 45px 30px 45px 0;
}

.box-info-order .form-order h4, .box-info-order .form-order label {
  color: #0A1C5F;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.box-info-order .form-order .title {
  font-size: 36px;
  margin-bottom: 12px;
  font-family: "SVN-Gilroy Bold";
}

.box-info-order .form-order input {
  width: 100%;
  margin-bottom: 5px;
  background-color: #FFC600;
  color: #0A1C5F;
  padding: 0 23px;
  font-size: 27px;
  border: none;
  height: 53px;
  font-family: "Myriad Pro Bold";
}

.box-info-order .form-order input::-webkit-input-placeholder {
  color: #0A1C5F;
}

.box-info-order .form-order input:-ms-input-placeholder {
  color: #0A1C5F;
}

.box-info-order .form-order input::-ms-input-placeholder {
  color: #0A1C5F;
}

.box-info-order .form-order input::placeholder {
  color: #0A1C5F;
}

.box-info-order .form-order .btn-order {
  width: 240px;
  height: 52px;
  background-color: #A70C0C;
  color: #FFC600;
  text-transform: uppercase;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
  cursor: pointer;
  font-family: "SVN-Gilroy Bold";
}

.box-info-order .form-order .btn-order:hover {
  letter-spacing: 1.2px;
}

.box-info-order .form-order .box-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0 0;
  position: relative;
}

.box-info-order .form-order .box-counter label {
  font-size: 29px;
  font-family: "SVN-Gilroy";
}

.box-info-order .form-order .box-counter .box-cell-price {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #E74522;
}

.box-info-order .form-order .box-counter .counter-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-info-order .form-order .box-counter .counter-main .btn-action {
  background-color: transparent;
  width: auto;
  color: #0A1C5F;
  font-size: 23px;
  font-weight: bold;
  cursor: pointer;
}

.box-info-order .form-order .box-counter .counter-main .btn-action:hover, .box-info-order .form-order .box-counter .counter-main .btn-action:focus {
  color: #E74522;
}

.box-info-order .form-order .box-counter .counter-main .input-number {
  width: 40px;
  height: 40px;
  font-size: 26px;
  color: #0A1C5F;
  padding: 0;
  text-align: center;
}

.box-info-order .form-order .counter-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-info-order .form-order .counter-bottom label {
  width: 50%;
  height: 53px;
  background-color: #0A1C5F;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 29px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-info-order .form-order .counter-bottom input {
  width: 50%;
  margin-bottom: 0;
  background-color: #FFC600;
}

.box-info-order .form-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -20px;
}

.box-info-order .form-price .box-price {
  color: #0A1C5F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  line-height: 1.2;
}

.box-info-order .form-price .box-price span {
  display: inline-block;
  font-size: 55px;
  font-family: "Myriad Pro Bold";
  border-bottom: 2px solid #0A1C5F;
  position: relative;
}

.box-info-order .form-price .box-price span::after {
  content: '';
  display: none;
  width: 19px;
  height: 19px;
  background-color: #0A1C5F;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  right: 0;
}

.box-info-order .form-price .box-price label {
  font-size: 26px;
  display: block;
  width: 100%;
  font-weight: 900;
  text-align: right;
  margin-bottom: 15px;
  font-family: "Myriad Pro Regular";
  text-transform: inherit;
}

.box-info-order .box-product-order {
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.box-info-order .bottom-freeship {
  border-bottom: 10px solid #fff;
  background-color: #0A1C5F;
  color: #FFD500;
  font-size: 29px;
  padding: 10px 50px;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.box-info-order .bottom-freeship span {
  font-size: 40px;
  font-family: "Myriad Pro SemiBold";
}

.box-info-order .bottom-freeship .right-text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1199px) {
  .box-info-order .main-order {
    padding: 0;
  }
  .box-info-order .form-order .title {
    font-size: 32px;
  }
  .box-info-order .form-order input {
    font-size: 24px;
  }
  .box-info-order .form-order .box-counter label {
    font-size: 18px;
  }
  .box-info-order .form-order .counter-bottom label {
    font-size: 22px;
  }
  .box-info-order .box-product-order {
    width: 53%;
  }
  .box-info-order .bottom-freeship span {
    display: block;
  }
}

@media only screen and (max-width: 1023px) {
  .box-info-order {
    background: none;
  }
  .box-info-order .container {
    background: none;
  }
  .box-info-order .main-order .box-order-mb {
    width: 100%;
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .box-info-order .form-order .title {
    font-size: 28px;
  }
  .box-info-order .form-order input {
    font-size: 22px;
  }
  .box-info-order .form-order .box-counter label {
    font-size: 18px;
  }
  .box-info-order .form-order .counter-bottom label {
    font-size: 18px;
  }
  .box-info-order .form-order .btn-order {
    font-size: 30px;
  }
  .box-info-order .box-product-order {
    width: 100%;
  }
  .box-info-order .col-md-6 {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 767px) {
  .box-info-order {
    padding: 0;
  }
  .box-info-order .main-order .box-order-mb {
    width: 100%;
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .box-info-order .form-order {
    padding: 15px;
  }
  .box-info-order .form-order .title {
    font-size: 20px;
    text-align: left;
  }
  .box-info-order .form-order input {
    font-size: 20px;
    height: 32px;
    padding: 0 15px;
  }
  .box-info-order .form-order .box-counter label {
    font-size: 20px;
  }
  .box-info-order .form-order .box-counter .counter-main .input-number {
    width: 32px;
    height: 32px;
    font-size: 20px;
  }
  .box-info-order .form-order .counter-bottom label {
    font-size: 18px;
  }
  .box-info-order .form-order .btn-order {
    width: 170px;
    height: 32px;
    font-size: 24px;
  }
  .box-info-order .img-product {
    width: 60%;
  }
  .box-info-order .form-price {
    position: relative;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
  }
  .box-info-order .form-price .box-price {
    position: absolute;
    bottom: -150px;
    right: 0;
  }
  .box-info-order .form-price .box-price span {
    font-size: 32px;
    border-bottom: none;
  }
  .box-info-order .form-price .box-price label {
    font-size: 22px;
  }
  .box-info-order .bottom-freeship {
    font-size: 16px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 5px solid #fff;
  }
  .box-info-order .bottom-freeship span {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */