.fixCen {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  max-width: 100%;
}

@media only screen and (max-width: 1119px) {
  .fixCen {
    width: 100%;
  }
  .fixCen > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .fixCen > div {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.rs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.title-1 {
  font-size: 34px;
  color: #2E4057;
  line-height: 1.3;
  margin-bottom: 25px;
  letter-spacing: -1px;
}

@media only screen and (max-width: 1023px) {
  .title-1 {
    font-size: 30px;
  }
  .title-1 br {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .title-1 {
    font-size: 20px;
    text-align: center;
  }
  .title-1 span {
    display: block;
  }
}

.title-2 {
  font-size: 24px;
  color: #2E4057;
  line-height: 1.3;
  margin: 15px 0;
}

@media screen and (max-width: 1023px) {
  .title-2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .title-2 {
    font-size: 18px;
  }
}

.box-quote {
  position: relative;
}

.box-quote::before {
  display: block;
  content: '';
  background: url("../images/img-company/icon-quote.png") 0/100% no-repeat;
  width: 27px;
  height: 19px;
  position: absolute;
  top: 0;
  left: 15px;
}

.box-quote::after {
  display: block;
  content: '';
  background: url("../images/img-company/icon-quote.png") 0/100% no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 27px;
  height: 19px;
  position: absolute;
  bottom: 0;
  right: 15px;
}

.main-company-content {
  color: #2E4057;
  font-size: 18px;
  line-height: 1.5;
  max-width: 1920px;
  margin: 0 auto;
}

.main-company-content img {
  width: 100%;
}

.main-company-content figure figcaption {
  margin-top: 4px;
  font-size: 18px;
  font-style: italic;
}

.main-company-content p {
  margin-bottom: 35px;
}

@media only screen and (max-width: 767px) {
  .main-company-content {
    font-size: 16px;
  }
  .main-company-content p {
    margin-bottom: 16px;
  }
  .main-company-content figure figcaption {
    font-size: 12px;
  }
}

.main-company-content .menu-nav .lst-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #A2A2A2;
  margin: 15px 0 50px;
}

.main-company-content .menu-nav .lst-menu li {
  width: 25%;
}

.main-company-content .menu-nav .lst-menu li a {
  display: block;
  font-weight: bold;
  font-size: 20px;
  color: #2E4057;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
}

.main-company-content .menu-nav .lst-menu li a br {
  display: none;
}

.main-company-content .menu-nav .lst-menu li:hover, .main-company-content .menu-nav .lst-menu li.active {
  border-bottom: 10px solid #2E3092;
}

@media only screen and (max-width: 1023px) {
  .main-company-content .menu-nav .lst-menu {
    margin: 15px 0 35px;
  }
  .main-company-content .menu-nav .lst-menu li a {
    font-size: 16px;
  }
  .main-company-content .menu-nav .lst-menu li a br {
    display: block;
  }
  .main-company-content .menu-nav .lst-menu li:hover, .main-company-content .menu-nav .lst-menu li.active {
    border-bottom: 4px solid #2E3092;
  }
}

@media only screen and (max-width: 767px) {
  .main-company-content .menu-nav .lst-menu {
    margin: 5px 0 20px;
  }
  .main-company-content .menu-nav .lst-menu li a {
    font-size: 8px;
    padding: 4px 0;
  }
}

.main-company-content .box-info-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-company-content .box-info-top .info-detail-1 {
  width: 475px;
  margin-right: 20px;
}

.main-company-content .box-info-top .info-detail-1 p {
  margin-bottom: 35px;
}

.main-company-content .box-info-top .info-detail-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #F8F8F8;
  padding-top: 15px;
}

.main-company-content .box-info-top .info-detail-2 .top-info-2 {
  padding-left: 10%;
}

.main-company-content .box-info-top .info-detail-2 .lst-group li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

.main-company-content .box-info-top .info-detail-2 .lst-group .icon {
  display: block;
  width: 77px;
  height: 76px;
  margin-right: 20px;
}

.main-company-content .box-info-top .info-detail-2 .lst-group .icon-1 {
  background: url("../images/img-company/icon-1.png") 0/100% no-repeat;
}

.main-company-content .box-info-top .info-detail-2 .lst-group .icon-2 {
  background: url("../images/img-company/icon-2.png") 0/100% no-repeat;
}

.main-company-content .box-info-top .info-detail-2 .lst-group .icon-3 {
  background: url("../images/img-company/icon-3.png") 0/100% no-repeat;
}

.main-company-content .box-info-top .info-detail-2 .lst-group h4 {
  font-size: 20px;
  font-weight: bold;
}

.main-company-content .box-info-top .info-detail-2 .lst-group .info-group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-company-content .box-info-top .info-detail-2 .tex-bottom-info {
  padding: 30px 10%;
  background-color: #E3E3E3;
  font-weight: bold;
}

@media only screen and (max-width: 1023px) {
  .main-company-content .box-info-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-company-content .box-info-top .info-detail-1 {
    width: 100%;
    margin-right: 0;
  }
  .main-company-content .box-info-top .info-detail-1 p {
    margin-bottom: 16px;
  }
  .main-company-content .box-info-top .info-detail-2 {
    width: 100%;
    padding: 35px 0 0;
  }
  .main-company-content .box-info-top .info-detail-2 .top-info-2 {
    padding-left: 35px;
    padding-right: 35px;
  }
  .main-company-content .box-info-top .info-detail-2 .tex-bottom-info {
    padding: 30px 35px;
  }
}

@media only screen and (max-width: 767px) {
  .main-company-content .box-info-top .info-detail-2 .lst-group .icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  .main-company-content .box-info-top .info-detail-2 .lst-group h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .main-company-content .box-info-top .info-detail-2 .lst-group p {
    margin-left: -35px;
  }
}

.main-company-content .detail-content-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}

.main-company-content .detail-content-company .detail-col {
  width: 32%;
}

.main-company-content .detail-content-company img {
  margin: 15px 0;
}

.main-company-content .detail-content-company p {
  margin-bottom: 25px;
}

.main-company-content .detail-content-company p:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .main-company-content .detail-content-company .detail-col {
    width: 100%;
  }
  .main-company-content .detail-content-company .detail-col img {
    max-width: 500px;
    margin: 15px auto;
    display: block;
  }
  .main-company-content .detail-content-company .detail-1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main-company-content .detail-content-company .detail-2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main-company-content .detail-content-company .detail-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main-company-content .detail-content-company p {
    margin-bottom: 16px;
  }
}

.main-company-content .box-info-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-company-content .box-info-2 .item-info-2 {
  width: 49%;
}

.main-company-content .box-info-2 .item-info-2 .text-slogan {
  padding: 15px 35px;
  background-color: #E3E3E3;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.main-company-content .box-info-2 .item-info-2 .text-slogan .text-small {
  font-size: 26px;
}

@media only screen and (max-width: 1023px) {
  .main-company-content .box-info-2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 35px;
  }
  .main-company-content .box-info-2 .item-info-2 {
    width: 100%;
  }
  .main-company-content .box-info-2 .item-info-2 .text-slogan {
    font-size: 16px;
    padding: 8px 35px;
    margin-left: -35px;
    margin-right: -35px;
  }
  .main-company-content .box-info-2 .item-info-2 .text-slogan .text-small {
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .main-company-content .box-info-2 {
    padding-bottom: 20px;
  }
  .main-company-content .box-info-2 .box-video {
    margin-left: -35px;
    margin-right: -35px;
  }
}

.main-company-content .box-lst-benefit {
  background-color: #383CA4;
}

.main-company-content .box-lst-benefit .lst-benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0;
}

.main-company-content .box-lst-benefit .lst-benefit li {
  width: 48%;
  color: #fff;
  padding: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-company-content .box-lst-benefit .lst-benefit .icon {
  display: block;
  width: 84px;
  height: 84px;
  margin-right: 12px;
}

.main-company-content .box-lst-benefit .lst-benefit .icon-1 {
  background: url("../images/img-company/icon-be-1.jpg") 0/100% no-repeat;
}

.main-company-content .box-lst-benefit .lst-benefit .icon-2 {
  background: url("../images/img-company/icon-be-2.jpg") 0/100% no-repeat;
}

.main-company-content .box-lst-benefit .lst-benefit .icon-3 {
  background: url("../images/img-company/icon-be-3.jpg") 0/100% no-repeat;
}

.main-company-content .box-lst-benefit .lst-benefit .icon-4 {
  background: url("../images/img-company/icon-be-4.jpg") 0/100% no-repeat;
}

.main-company-content .box-lst-benefit .lst-benefit .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media only screen and (max-width: 1023px) {
  .main-company-content .box-lst-benefit .lst-benefit {
    padding: 16px 35px;
  }
  .main-company-content .box-lst-benefit .lst-benefit li {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .main-company-content .box-lst-benefit .lst-benefit li {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main-company-content .box-lst-benefit .lst-benefit li:last-child .content {
    border-bottom: none;
  }
  .main-company-content .box-lst-benefit .lst-benefit .icon {
    width: 18px;
    height: 16px;
    background: url("../images/img-company/icon-09.png") 0/100% no-repeat !important;
    margin-top: 5px;
  }
  .main-company-content .box-lst-benefit .lst-benefit .content {
    border-bottom: 1px solid #ffffff80;
    padding-bottom: 16px;
  }
}

.main-company-content .box-info-3 {
  padding: 35px 0;
}

.main-company-content .box-info-3 .lst-info-3 li {
  margin-bottom: 35px;
}

.main-company-content .box-info-3 .lst-info-3 li:last-child {
  margin-bottom: 0;
}

.main-company-content .box-info-3 .lst-info-3 li::before {
  display: inline-block;
  content: '';
  background: url("../images/img-company/icon-05.png") 0/100% no-repeat;
  width: 18px;
  height: 22px;
  margin-right: 6px;
  margin-bottom: -6px;
}

@media screen and (max-width: 1023px) {
  .main-company-content .box-info-3 .lst-info-3 {
    padding: 0 35px;
  }
  .main-company-content .box-info-3 .lst-info-3 li {
    margin-bottom: 16px;
  }
}

.main-company-content .box-business {
  padding: 30px 0;
}

.main-company-content .box-business .lst-business {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-company-content .box-business .lst-business li {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 5px 4px 9px #00000029;
          box-shadow: 5px 4px 9px #00000029;
  padding: 30px;
  text-align: center;
}

.main-company-content .box-business .lst-business .icon-business {
  display: block;
  width: 79px;
  height: 61px;
  margin-bottom: 15px;
}

.main-company-content .box-business .lst-business .icon-star {
  background: url("../images/img-company/icon-bs1.png") 0/100% no-repeat;
}

.main-company-content .box-business .lst-business .icon-heart {
  background: url("../images/img-company/icon-bs-2.png") 0/100% no-repeat;
}

.main-company-content .box-business .lst-business .icon-member {
  background: url("../images/img-company/icon-bs-3.png") 0/100% no-repeat;
}

@media only screen and (max-width: 767px) {
  .main-company-content .box-business .lst-business {
    padding: 0 35px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-company-content .box-business .lst-business li {
    width: 100%;
    margin-bottom: 16px;
    padding: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
  .main-company-content .box-business .lst-business li .icon-business {
    width: 41px;
    height: 31px;
  }
  .main-company-content .box-business .lst-business li p {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.main-company-content .box-info-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-company-content .box-info-4 .box-detail-4 {
  width: 375px;
  margin-right: 15px;
}

.main-company-content .box-info-4 .box-detail-4 .lst-detail-4 li {
  margin-bottom: 24px;
  list-style: disc;
}

.main-company-content .box-info-4 .box-img-4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 767px) {
  .main-company-content .box-info-4 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 35px;
  }
  .main-company-content .box-info-4 .box-detail-4 {
    width: 100%;
    margin-right: 0;
  }
}

@media screen and (max-width: 1119px) {
  .main-company-content .box-text-content {
    padding: 0 15px;
  }
}

@media screen and (max-width: 767px) {
  .main-company-content .box-text-content {
    padding: 0 35px;
  }
}

.main-company-content .box-advantage .title-1 {
  font-size: 30px;
  text-transform: capitalize;
}

.main-company-content .box-advantage .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 58px;
}

.main-company-content .box-advantage .title span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
}

.main-company-content .box-advantage .title span:nth-child(1) {
  background-color: #E4E4E4;
  color: #2E4064;
}

.main-company-content .box-advantage .title span:nth-child(2) {
  background-color: #2E4064;
  color: #fff;
}

.main-company-content .box-advantage .lst-item-advan {
  padding: 16px;
  border-bottom: 1px solid #E4E4E4;
  margin-bottom: 35px;
  position: relative;
}

.main-company-content .box-advantage .lst-item-advan::before {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  background-color: #E4E4E4;
  position: absolute;
  left: 50%;
  top: 0;
}

.main-company-content .box-advantage .lst-item-advan .item-advan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  position: relative;
  z-index: 2;
}

.main-company-content .box-advantage .lst-item-advan .item-advan:last-child {
  margin-bottom: 0;
}

.main-company-content .box-advantage .lst-item-advan .item-advan .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 58px;
  height: 58px;
  background-color: #2E4064;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  margin: 0 12px;
}

.main-company-content .box-advantage .lst-item-advan .item-advan p {
  width: calc((100% - 82px)/2);
  margin-bottom: 0;
}

.main-company-content .box-advantage .lst-item-advan .item-advan p:nth-child(1) {
  text-align: right;
}

@media only screen and (max-width: 767px) {
  .main-company-content .box-advantage .title-1 {
    font-size: 20px;
    text-align: left;
    text-transform: inherit;
  }
  .main-company-content .box-advantage .title {
    margin-left: -35px;
    margin-right: -35px;
    font-size: 16px;
  }
  .main-company-content .box-advantage .title span {
    padding: 0 10px;
  }
  .main-company-content .box-advantage .title span:nth-child(1) {
    text-align: right;
  }
  .main-company-content .box-advantage .title span:nth-child(2) {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main-company-content .box-advantage .lst-item-advan {
    margin-left: -35px;
    margin-right: -35px;
    padding: 16px 0;
  }
  .main-company-content .box-advantage .lst-item-advan .item-advan {
    border-bottom: 1px solid #E4E4E4;
    padding: 0 16px 16px;
  }
  .main-company-content .box-advantage .lst-item-advan .item-advan:last-child {
    border-bottom: none;
  }
  .main-company-content .box-advantage .lst-item-advan .item-advan .number {
    width: 32px;
    height: 32px;
    font-size: 19px;
    margin: 8px;
  }
  .main-company-content .box-advantage .lst-item-advan .item-advan p {
    width: calc((100% - 48px)/2);
  }
}

.main-company-content .lst-nhamay {
  margin-bottom: 24px;
}

.main-company-content .lst-nhamay ul {
  padding-left: 20px;
}

.main-company-content .lst-nhamay ul li {
  list-style: disc;
}

@media screen and (max-width: 767px) {
  .main-company-content .lst-nhamay {
    padding-left: 0;
    padding-right: 0;
  }
}
/*# sourceMappingURL=style-page-company.css.map */