// custom css header
.overlay-mobile-nav{
    position: fixed;
    top: 0;
    display: none;
    background-color: rgba(0,0,0,.8);
}
.box-search-mb{
    display: none;
}
.info-header{
    padding-left: 0;
    .logo{
      display: none;
    }
}
.new-header{
    .cart-div{
        color: #000;
    }
}
@media only screen and (max-width: 991px){
    .new-header{
        z-index: 11;
        .wrap-nav-m{
            background-color: #fff;
            .ul-products>li a{
                color: #304259;
            }
            .card {
                border: none;
                &:nth-child(1){
                    .card-header{
                        height: 85px;
                        display: flex;
                        align-items: center;
                        background-color: #2e3092;
                        .logo{
                            margin: 0;
                        }
                    }
                }
                .card-header{
                    background-color: transparent;
                    >h5 a{
                        padding: 16px;
                        color: #2e4057;
                    }
                    border-top: 0;
                    border-bottom:1px solid rgba(151,151,151,.2);
                    &.menu-home{
                        border-bottom: 5px solid rgba(151,151,151,.2);
                        h5{
                            a{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            }
                        }
                    }

                }
            }
        }
        .up-header{
            padding: 10px 20px;
            height: 85px;
            background-color: #2e3092;
            .container{
                padding: 0;
            }
            .up-header-in{
                img{
                    vertical-align: middle;
                    max-width: 100%;
                }
                .up-right-header{
                    margin: 0;
                    height: 23px;
                    line-height: 1;
                }
                .wrap-logo{
                    display: none;
                }
                .nav-mobile {
                    padding: 0;
                    .nav-open{
                        width: 20px;
                        height: 20px;
                    }
                    &.cancel-nav-mobile{
                        .nav-open{
                            display: block!important;
                        }
                    }
                }
                .info-header{
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-left: 10px;
                    .logo{
                        display: block;
                        padding: 0;
                        margin: 0;
                        width: 126px;
                    }
                }
                .user-setting{
                    flex: 1;
                }
            }
        }
        .link-reg-login {
            .img-account{
                display: block;
                height: auto;
                label {
                    font-weight: 400;
                    font-size: 12px;
                    margin-bottom: 0;
                    display: block;
                    max-width: 86px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
        .dropdown-toggle{
            &::after{
                display: none;
            }
        }
        .main-cart{
            background: transparent;
        }
        .user-setting{
            border-right: none;
            .icon-user{
                width: 23px;
                height: 23px;
                margin: 0 10px 0 8px;
                img{
                    color: #fff;
                }
            }
        }
        .cart-div{
            width: 23px;
            padding-bottom: 0;
        }
        .main-cart{
            width: 23px;
            height: 23px;
        }
        .nav-mobile{
            .nav-close{
                position: fixed;
                right: 10%;
                margin-right: -10px;
                z-index: 99;
            }
        }
    }
    .box-search-mb{
        display: block;
        height: 35px;
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 8px;
        button{
            width: 35px;
            height: 35px;
            border-radius: 10px;
            border: none;
            background: url("../images/img-company/icon-search.png") 50% 50% no-repeat #ffb34a;
            background-size: 20px;
        }
        input{
            flex: 1;
            height: 35px;
            padding: 0 25px;
            border: none;
            font-size: 16px;
            &:focus{
                outline: none;
            }
        }
    }
    .dropdown-cart {
        .dropdown-menu{
            top: 30px!important;
        }
    }
}
@media  only screen and (max-width: 768px) {
    .hero-dashboard{
        padding-top: 85px!important;
    }
    .breadcrumb-section{
        padding-top: 85px;
    }
    .new-header {
        .mobile-nav{
            top: 0;
            width: 80%;
            &.show{
                height: 100vh;
                .overlay-mobile-nav{
                    display: block;
                }
            }
        }
       
    }
    .up-header-in .nav-mobile.cancel-nav-mobile .nav-close{
        width: 20px;
        height: 20px;
    } 
}
@media only screen and (max-width: 359px){
    .new-header{
        .up-header{
            padding: 10px;
        }
        .link-reg-login{
            .img-account{
                label{
                    max-width: 70px;
                }
            }
        }
    }
}
