@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.rs {
  padding: 0;
  margin: 0;
  list-style: none;
}

button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

body {
  line-height: 1.15;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.wrap-order {
  background: white;
  padding: 12px;
  margin-bottom: 8px;
}

.re-buy {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  display: block;
  background: white;
  color: #2e3092;
  border: 1px solid #2e3092;
  border-radius: 4px;
  padding: 12px 0px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

.box-radio-button [type="radio"]:checked,
.box-radio-button [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.box-radio-button [type="radio"]:checked + label,
.box-radio-button [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

.box-radio-button [type="radio"]:checked + label:before,
.box-radio-button [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

.box-radio-button [type="radio"]:checked + label:after,
.box-radio-button [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #2e3092;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.box-radio-button [type="radio"]:checked + label::before {
  border: 1px solid #2e3092;
}

.box-radio-button [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.box-radio-button [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.order-listing-page {
  font-family: 'Montserrat', sans-serif;
  background-color: #efefef;
  padding: 53px 0 0;
  min-height: 100vh;
}

.order-listing-page .error {
  font-size: 11px;
  line-height: 16px;
  margin: 5px 0px 0px;
  color: #ff424e;
}

.order-listing-page .header-top {
  width: 100%;
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2e3092;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.order-listing-page .header-top .btn-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.order-listing-page .header-top .btn-back::before {
  display: block;
  content: '';
  background: url("../images/btn-back.svg") 0/100% no-repeat;
  width: 20px;
  height: 20px;
}

.order-listing-page .header-top .title-header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding-right: 40px;
  font-size: 17px;
  color: #fff;
}

.order-listing-page .header-top .icon-header {
  background: 0px center;
  width: 44px;
  height: 40px;
  border: 0px;
  margin: 0px;
  color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.order-listing-page .header-top.header-account .title-header {
  padding-right: 0;
}

.order-listing-page .order-listing-main {
  padding-top: 8px;
}

.order-listing-page .order-listing-main .order-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order-listing-page .order-listing-main .order-item .status-text {
  color: #787878;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 8px;
  font-weight: 500;
  border-bottom: 1px solid #eeeeee;
}

.order-listing-page .order-listing-main .order-item .order-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 0px;
}

.order-listing-page .order-listing-main .order-item .order-info img {
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 12px;
}

.order-listing-page .order-listing-main .order-item .order-info .order-info-detail {
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.order-listing-page .order-listing-main .order-item .order-info .order-info-detail .order-info-description {
  color: #242424;
  font-weight: 600;
  margin-bottom: 4px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.order-listing-page .order-listing-main .order-item .order-info .order-info-detail .order-info-order-qty-total {
  color: #787878;
  font-weight: 500;
  margin-bottom: 4px;
}

.order-listing-page .order-listing-main .order-item .order-info .order-info-detail .btn-group {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order-listing-page .order-listing-main .order-item .order-info .order-info-detail .btn-group a {
  width: 50%;
}

.order-listing-page .order-listing-main .order-item .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order-listing-page .order-listing-main .order-item .btn-group a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2e3092;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #2e3092;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  height: 36px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

.order-listing-page .order-listing-main .order-item .btn-group a:nth-child(2) {
  margin-left: 9px;
}

.order-listing-page .end-message {
  font-size: 14px;
  line-height: 20px;
  color: #242424;
  height: 68px;
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.order-listing-page .main-info {
  font-size: 14px;
}

.order-listing-page .main-info.main-fix-bottom {
  padding-bottom: 80px;
}

.order-listing-page .main-info .main-search-order {
  padding: 16px 0 0;
  background-color: #fff;
}

.order-listing-page .main-info .main-search-order .title {
  font-size: 14px;
  padding: 0 16px;
  color: #242424;
  margin-bottom: 16px;
  font-weight: 700;
}

.order-listing-page .main-info .main-search-order .item-search {
  padding: 0 16px;
}

.order-listing-page .main-info .main-search-order .item-search .form-item input {
  border: none;
  border-bottom: solid 1px #ccc;
  padding: 0;
}

.order-listing-page .main-info .main-search-order .item-search .form-item input:focus {
  border-color: #2e3092;
  outline: none;
}

.order-listing-page .main-info .main-search-order .item-search .form-item label {
  left: 0;
  padding: 0;
}

.order-listing-page .main-info .main-search-order .item-search .form-item select {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  font-size: 14px;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  background: url("../images/img-company/icon-arrowdown.png") top 50% right 0 no-repeat;
  background-size: 15px;
  color: #393839;
  font-weight: normal;
}

.order-listing-page .main-info .main-search-order .lst-check-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 16px;
}

.order-listing-page .main-info .main-search-order .lst-check-address .form-title {
  padding: 10px 16px;
}

.order-listing-page .main-info .main-search-order .form-title {
  padding: 16px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background-color: #fafafa;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}

.order-listing-page .main-info .main-search-order .form-title input {
  width: 0;
  height: 0;
  border: 1px solid #787878;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  color: #787878;
}

.order-listing-page .main-info .main-search-order .form-title input[type="checkbox"]:checked + label, .order-listing-page .main-info .main-search-order .form-title input[type="radio"]:checked + label {
  color: #2e3092;
  font-weight: bold;
}

.order-listing-page .main-info .main-search-order .form-title input[type="checkbox"]:checked + label::after, .order-listing-page .main-info .main-search-order .form-title input[type="radio"]:checked + label::after {
  background-color: #2e3092;
  border: 1px solid #2e3092;
}

.order-listing-page .main-info .main-search-order .form-title input[type="radio"] + label::after {
  border-radius: 50%;
}

.order-listing-page .main-info .main-search-order .form-title input[type="checkbox"]:checked + label::before {
  display: block;
}

.order-listing-page .main-info .main-search-order .form-title input[type="radio"]:checked + label::before {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 0;
  background-color: #fff;
  left: 4px;
  top: 4px;
}

.order-listing-page .main-info .main-search-order .form-title label {
  margin-bottom: 0;
  height: 18px;
  padding-left: 25px;
  font-weight: bold;
  position: relative;
}

.order-listing-page .main-info .main-search-order .form-title label::before {
  content: "";
  display: none;
  position: absolute;
  left: 3px;
  top: 4px;
  width: 12px;
  height: 6px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  -webkit-transform: scale(1) rotate(-45deg);
          transform: scale(1) rotate(-45deg);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  z-index: 1;
}

.order-listing-page .main-info .main-search-order .form-title label::after {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #787878;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.order-listing-page .main-info .main-search-order .form-content-info {
  padding: 16px 0 1px;
  display: none;
}

.order-listing-page .main-info .main-search-order .form-content-info.show {
  display: block;
}

.order-listing-page .main-info.info-address-form .item-search .form-item label {
  position: static;
  color: #242424;
}

.order-listing-page .lst-info-address {
  margin-bottom: 8px;
  background-color: #efefef;
}

.order-listing-page .lst-info-address .item-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 16px;
  background-color: #fff;
  margin-bottom: 8px;
}

.order-listing-page .lst-info-address .item-address .address-group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.order-listing-page .lst-info-address .item-address .address-group .add-note {
  color: #ffb34a;
  display: inline-block;
  margin: 0 4px;
}

.order-listing-page .lst-info-address .item-address .address-group .address-group-name {
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
  color: #242424;
}

.order-listing-page .lst-info-address .item-address .address-group .address-group-detail {
  display: block;
  font-size: 14px;
  line-height: 22px;
  color: #787878;
}

.order-listing-page .lst-info-address .item-address .address-group .address-group-phone {
  display: block;
  color: #787878;
  font-size: 14px;
  line-height: 16px;
  padding: 5px 0px;
}

.order-listing-page .lst-info-address .item-address .btn-action-address .icon {
  color: #2e3092;
}

.order-listing-page .add-new-address {
  padding: 13px 16px 13px 21px;
  background: white;
  margin-top: 8px;
  margin-bottom: 84px;
}

.order-listing-page .add-new-address a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: #2e3092;
}

.order-listing-page .add-new-address a::before {
  display: block;
  content: '';
  width: 19px;
  height: 19px;
  border: 1px solid #2e3092;
  border-radius: 50%;
  margin-right: 12px;
}

.order-listing-page .add-new-address a .add-new-address__text {
  display: block;
}

.order-listing-page .add-new-address a .add-new-address__text::before {
  display: block;
  content: '';
  width: 11px;
  height: 1px;
  position: absolute;
  background-color: #2e3092;
  top: 9px;
  left: 4px;
}

.order-listing-page .add-new-address a .add-new-address__text::after {
  display: block;
  content: '';
  height: 11px;
  width: 1px;
  position: absolute;
  background-color: #2e3092;
  top: 4px;
  left: 9px;
}

.order-listing-page .page-information {
  padding: 16px;
  background-color: #fff;
  line-height: 20px;
}

.order-listing-page .page-information .title {
  color: #2e4057;
  font-size: 20px;
  margin-bottom: 20px;
}

.order-listing-page .page-information .btn-cta {
  height: 40px;
  width: 160px;
  border-radius: 10px;
  background-color: #ffb34a;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-weight: bold;
  margin: 20px auto;
}

.detail-order.detail-order-tracking {
  padding-bottom: 80px;
  background-color: #fff;
}

.detail-order .detail-order-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail-order .detail-order-item .img {
  width: 24px;
  display: block;
}

.detail-order .detail-order-item .link-view-more {
  text-decoration: none;
  color: #0d5cb6;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}

.detail-order .detail-order-item .inner {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0 0 8px;
}

.detail-order .detail-order-item .inner .title {
  margin: 3px 0px 0px;
  color: #242424;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
}

.detail-order .detail-order-item .inner .date {
  color: #787878;
  font-size: 14px;
  margin: 10px 0px;
}

.detail-order .detail-order-item .inner .status {
  font-size: 14px;
  color: #787878;
  font-weight: 600;
  margin: 0px;
}

.detail-order .detail-order-item .inner .name {
  font-size: 14px;
  color: #242424;
  margin: 10px 0px;
}

.detail-order .detail-order-item .inner .phone, .detail-order .detail-order-item .inner .address {
  color: #787878;
  font-size: 14px;
  margin: 10px 0px;
}

.detail-order .current-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
}

.detail-order .current-status .step-bar {
  width: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  margin-right: 12px;
  position: relative;
}

.detail-order .current-status .step-bar .step-bar__circle {
  margin-top: 6px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 13px;
  height: 13px;
  background-color: #009900;
  border-radius: 50%;
  position: relative;
  opacity: 1;
  border: none;
}

.detail-order .current-status .step-bar .step-bar__circle::before {
  display: block;
  content: "";
  width: 21px;
  height: 21px;
  opacity: 0.2;
  background-color: #009900;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  left: -4px;
}

.detail-order .current-status .step-bar .step-bar__line {
  margin-bottom: -12px;
  width: 1px;
  height: 100%;
  background-color: #eeeeee;
  opacity: 1;
  z-index: 0;
}

.detail-order .current-status .step-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

.detail-order .current-status .step-info .step-info__status-text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #242424;
  margin-bottom: 4px;
}

.detail-order .current-status .step-info .step-info__hint, .detail-order .current-status .step-info .step-info__substate-text, .detail-order .current-status .step-info .step-info__time {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #787878;
  margin-bottom: 4px;
}

.detail-order .lst-product-detail-order .inner-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eeeeee;
  padding: 15px 0px;
}

.detail-order .lst-product-detail-order .inner-product:last-child {
  padding-bottom: 0;
  border: none;
}

.detail-order .lst-product-detail-order .inner-product .img {
  display: block;
  width: 90px;
}

.detail-order .lst-product-detail-order .inner-product .item-inner {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.detail-order .lst-product-detail-order .name {
  font-size: 14px;
  color: #242424;
  text-decoration: none;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 16px;
  font-weight: 500;
}

.detail-order .lst-product-detail-order .seller {
  font-size: 11px;
  color: #787878;
  margin: 10px 0px;
  font-weight: 450;
}

.detail-order .lst-product-detail-order .prices {
  font-weight: 500;
  font-size: 15px;
}

.detail-order .lst-product-detail-order .prices, .detail-order .lst-product-detail-order .qty {
  display: inline-block;
  margin-right: 5px;
  color: #242424;
}

.detail-order .item-order-summary {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  color: #242424;
  margin: 0px;
  padding: 12px 0;
  border-bottom: 1px solid #eeeeee;
}

.detail-order .item-order-summary:first-child {
  padding-top: 0;
}

.detail-order .item-order-summary:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.detail-order .item-order-summary .summary-text {
  color: #787878;
}

.detail-order .item-order-summary .summary-value i {
  font-style: normal;
  font-size: 11px;
  display: block;
  margin: 5px 0px 0px;
  font-weight: normal;
}

.detail-order .item-order-summary.summary-total .summary-text {
  font-weight: 500;
  color: #242424;
}

.detail-order .item-order-summary.summary-total .summary-value {
  font-size: 17px;
  font-weight: 500;
  text-align: right;
}

.detail-order .top-product-tracking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 12px;
  background-color: #fafafa;
}

.detail-order .top-product-tracking img {
  width: 60px;
  height: 60px;
  margin-right: 8px;
}

.detail-order .top-product-tracking .order-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.detail-order .top-product-tracking .order-info .order-info__description {
  color: #242424;
  margin-bottom: 4px;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.detail-order .top-product-tracking .order-info .order-info__order-qty-total {
  color: #787878;
}

.detail-order .tracking-info {
  border-top: 1px solid #eeeeee;
  padding: 0px 12px;
  background-color: #fff;
}

.detail-order .tracking-info .delivery-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail-order .tracking-info .delivery-heading .delivery-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  color: #009900;
  padding: 16px 0px 0px;
}

.detail-order .tracking-info .delivery-heading .delivery-text img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.detail-order .tracking-info .list-tracking .item-tracking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail-order .tracking-info .list-tracking .item-tracking.item-tracking-first .step-info__status-text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;
  color: #242424;
  margin-bottom: 4px;
}

.detail-order .tracking-info .list-tracking .item-tracking.item-tracking-last .step-bar {
  margin-bottom: 17px;
}

.detail-order .tracking-info .list-tracking .item-tracking.item-tracking-last .step-info__divider {
  border-top: none;
}

.detail-order .tracking-info .list-tracking .item-tracking .step-bar {
  width: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  margin-right: 12px;
  position: relative;
}

.detail-order .tracking-info .list-tracking .item-tracking .step-bar.step-bar--first {
  margin-top: 24px;
}

.detail-order .tracking-info .list-tracking .item-tracking .step-bar.step-bar--first .step-bar__circle {
  opacity: 1;
}

.detail-order .tracking-info .list-tracking .item-tracking .step-bar.step-bar--first .step-bar__circle::before {
  display: block;
  content: "";
  width: 21px;
  height: 21px;
  opacity: 0.2;
  background-color: #009900;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  left: -4px;
}

.detail-order .tracking-info .list-tracking .item-tracking .step-bar .step-bar__circle {
  margin-top: 6px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 13px;
  height: 13px;
  background-color: #009900;
  border-radius: 50%;
  position: relative;
  opacity: 0.2;
  border: none;
}

.detail-order .tracking-info .list-tracking .item-tracking .step-bar .step-bar__line {
  margin-bottom: -6px;
  width: 1px;
  height: 100%;
  background-color: #009900;
  opacity: 0.2;
  z-index: 0;
}

.detail-order .tracking-info .list-tracking .item-tracking .step-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #787878;
  margin-bottom: 4px;
}

.detail-order .tracking-info .list-tracking .item-tracking .step-info__status-text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  color: #787878;
  margin-bottom: 4px;
}

.detail-order .tracking-info .list-tracking .item-tracking .step-info__hint {
  font-style: italic;
}

.detail-order .tracking-info .list-tracking .item-tracking .step-info__divider {
  margin: 12px 0px;
  border-top: 1px solid #eeeeee;
}

.sticky-footer {
  position: fixed;
  z-index: 9;
  bottom: 0px;
  left: 0;
  padding: 12px;
  background-color: white;
  border-top: 1px solid #eeeeee;
  width: 100%;
}

.sticky-footer a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  border: 1px solid #2e3092;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  padding: 10px 0px;
  color: #2e3092;
  background-color: white;
}

.sticky-footer .btn-save {
  background-color: #2e3092;
  color: #fff;
}

.main-account .group {
  margin: 0 0 8px;
}

.main-account .group .link {
  padding: 16px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  text-decoration: none;
  margin: 0px 0px 1px;
  background-color: white;
}

.main-account .group .link.avatar {
  padding: 16px;
}

.main-account .group .link img {
  margin: 0 10px 0 0;
  width: 24px;
  height: 24px;
}

.main-account .group .link__arrow {
  color: #a8a8a8;
}

.main-account .group .link__icon {
  color: #a8a8a8;
  margin: 0px 10px 0px 0px;
}

.main-account .group .link__char {
  background-color: #2e3092;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0px 16px 0px 0px;
  color: white;
  border-radius: 50%;
  overflow: hidden;
}

.main-account .group .link__char img {
  width: 100%;
}

.main-account .group .link__content {
  font-size: 14px;
  line-height: 22px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-account .group .link__content span {
  display: block;
  font-size: 12px;
  margin-top: -5px;
  color: #4d4d4d;
}

.main-account .group .link__email {
  color: #787878;
  font-size: 13px;
}

.main-account .group .link__created-date {
  color: #787878;
  font-size: 13px;
}

.main-account .wrap-btn {
  padding: 8px 16px;
  margin-top: 10px;
}

.main-account .wrap-btn__button {
  color: #2e3092;
  background: white;
  border: 1px solid #2e3092;
  height: 44px;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 15px;
  font-weight: 500;
  border-radius: 2px;
}

.box-search-order {
  padding: 0 0 16px;
  background-color: #fff;
}

.box-search-order .title-search-order {
  height: 72px;
  padding: 0 16px;
  background-color: #efefef;
  color: #2e3092;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-search-order .text-descript {
  color: #747474;
}

@media only screen and (max-width: 359px) {
  .box-search-order .title-search-order {
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .box-search-order .title-search-order {
    height: 120px;
    font-size: 20px;
  }
}

.main-search-order {
  padding: 16px;
}

.main-search-order .item-search .form-item {
  position: relative;
  margin-bottom: 15px;
}

.main-search-order .item-search .form-item input {
  display: block;
  width: 100%;
  height: 40px;
  background: transparent;
  border: solid 1px #ccc;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  padding: 0 15px;
}

.main-search-order .item-search .form-item input:focus {
  border-color: #2e3092;
  outline: none;
}

.main-search-order .item-search .form-item label {
  position: absolute;
  cursor: text;
  z-index: 2;
  top: 13px;
  left: 10px;
  font-size: 14px;
  background: #fff;
  padding: 0 10px;
  color: #999;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main-search-order .item-search .form-item input:focus + label,
.main-search-order .item-search .form-item input:valid + label {
  font-size: 11px;
  top: -5px;
  font-weight: bold;
  color: #2e3092;
}

.main-search-order .item-search .form-item input:focus + label span,
.main-search-order .item-search .form-item input:valid + label span {
  display: none;
}

.main-search-order .item-search .form-item input:focus + label {
  color: #2e3092;
}

.main-search-order .btn-search {
  padding: 0 32px;
  height: 36px;
  background-color: #ffb34a;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border: none;
}

.main-search-order .btn-search:focus {
  outline: none;
}

@media only screen and (min-width: 768px) {
  .main-search-order .main-search-order {
    border: 1px solid #ccc;
    margin-top: 32px;
    padding: 32px;
  }
}

.wrapper-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -999;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.wrapper-popup .inner-popup {
  padding: 0 10px;
  width: 100%;
  -webkit-transform: translateY(130%);
          transform: translateY(130%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.wrapper-popup .inner-popup a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  margin-bottom: 8px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
}

.wrapper-popup .inner-popup .btn-edit {
  color: #2e3092;
}

.wrapper-popup .inner-popup .btn-cancel {
  color: #ff424e;
}

.wrapper-popup.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
}

.wrapper-popup.show .inner-popup {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*# sourceMappingURL=style-order.css.map */