@import "common.scss";
@import "footer.scss";
@import "box-header-ads.scss";
@import "modal-511.scss";
.fixCen{
  width: 1366px;
  position: relative;
  height: 100%;
  margin: 0 auto;
}
img{
  height: auto;
}
.text-main1{
  color: $color_text_1;
  font-weight: bold;
}
.box-color-1{
  background-color: #fff;
}
.box-color-2{
  background-color: $color_main1;
}
.box-color-3{
  background-color: $color_text_1;
}
.box-color-4{
  background-color: #F8C9D0;
}
.mb-custom-box{
  margin-bottom: -37px;
}
.hide-desktop{
  display: none;
}
.swiper-button-prev, .swiper-button-next{
  display: none;
}
.wrapper-landing{
  width: 100%;
  overflow: hidden;
 font-family: "Myriad Pro Regular";
  color: $color_text_1;     
  line-height: 1.3;
  padding-top: 0;
  background-color: #0A1C5F;
  @media only screen and (max-width: 768px) {
    padding-top: 0;
  }
  &.show-header{
    padding-top: 80px;
    header{
      .header{
        display: block;
        &.hide-form{
          .form-order-top{
            display: none;
          }
        }
      }
    }
    .box-ads-header{
      display: none;
    }
    @media only screen and (max-width:1023px){
      padding-top: 0;
      header{
        .header{
          display: none;
          &.hide-form{
            .form-order-top{
              display: none;
            }
          }
        }
      }
      .box-ads-header{
        display: block;
      }
    }
  }
  header{
    .header{
      background-color: #ffffff;
      width: 100%;
      height: 80px;
      position: fixed;
      top: 0;
      z-index: 9;
      font-family: "SVN-Gilroy",sans-serif;
      display: none;
      .inner-header{
        width: 100%;
        @include flex_between;
      }
      .logo{
        display: block;
        width: 299px;
        height: 56px;
        img{
          width: 100%;
          height: auto;
        }
      }
      .box-support{
        @include flex_center;
        color: #0A1C5F;
        font-size: 24px;
        text-transform: uppercase;
        .btn-buy{
          @include flex_center;
          width: 202px;
          height: 51px;
          background-color: #A70C0C;
          color: $color_main2;
          font-size: 30px;
          font-weight: bold;
          text-transform: uppercase;
          margin-right: 16px;
          &:hover{
            color: #0A1C5F;
            background-color: #FFC600;
            letter-spacing: 1.2px;
          }
        }

        .hotline{
          @include flex_center;
          width: 260px;
          height: 51px;
          color: #0A1C5F;
          background-color: #FFC600;
          font-size: 30px;
          font-weight: bold;
          letter-spacing: 1.5px;
          margin: 0 0 0 15px;
          line-height: 1;
          position: relative;
          &:before{
            display: inline-block;
            content: '';
            margin-right: 15px;
            background: url("../images/phone-call.png") 50% 50% no-repeat;
            width: 32px;
            height: 32px;
            animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
          }
          &:hover{
            background-color: #0A1C5F;
            color: #ffffff;
            &:before{
              background: url("../images/phone-call-2.png") 50% 50% no-repeat;
            }
          }
        }
      }
      .form-order-top{
        display: flex;
        width: 80%;
        position: absolute;
        top: 100%;
        right: -10%;
        background-color: rgba(255,198,0,1);
        padding: 10px;
        .img-product{
          width: 10%;
          margin-left: 10px;
          margin-top: -5%;
        }
        .form-group{
          width: 35%;
          padding-right: 10px;
          input{
            width: 100%;
            height: 40px;
            padding: 10px;
          }
        }
        button{
          flex: 1;
          height: 40px;
          color: rgba(255,198,0,1);
          background-color: rgba(167,12,12,1);
          font-size: 24px;
          font-weight: bold;
        }
      }
    }
    .banner-header{
      position: relative;
      img{
        display: block;
        width: 100%;
        height: auto;
        max-width: 1920px;
        margin: 0 auto;
      }
      .main-banner{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 200px;
      }
    }
    @media only screen and (max-width: 1200px) {
      .header{
        .box-support{
          font-size: 20px;
          span{
            display: none;
          }
        }
        .form-order-top{
          right: 0;
          .img-product{
            margin-top: 0;
          }
        }
      }
    }
    @media screen and (max-width:1023px) {
      .header{
        .form-order-top{
            display: none;
        }
      }
    }
    @media only screen and(max-width: 768px) {
      .header{
        height: 65px;
        position: fixed;
        top: 0;
        z-index: 9;
        padding-top: 0;
        background-color: #ffffff;
        .box-support{
          display: none;
        }
        .inner-header{
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
        }
        .logo{
          width: 167px;
          height: 30px;
        }
      }
    }
  }
  main{
    .box-slogan-1{
      background-color: #FFC600;
      padding: 24px 0;
      font-size: 53px;
      font-family: "SVN-Gilroy Bold",sans-serif;
      span{
        display: inline-block;
        margin-right: 8px;
      }
      @media only screen and (max-width: 767px) {
        font-size: 32px;
      }
      @media only screen and (max-width: 576px) {
        padding: 7px 0;
        font-size: 20px;
        font-family: "Myriad Pro Regular";
        .row{
          flex-direction: column;
          align-items: center;
        }
        span{
          display: block;
          font-family: "SVN-Gilroy Bold",sans-serif;
          text-transform: uppercase;
          font-size: 22px;
        }
      }
    }
    .box-info-effect{
      background: url("../images/bg-effect.jpg") 50% 100% no-repeat #fefefe;
      background-size: auto 100%;
      padding:24px 0;
      .list-item-effect{
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
        padding: 0 1%;
        width: 100%;
      }
      .item-effect{
        width: 18%;
        min-height: 274px;
        background-color: #FFC600;
        position: relative;
        color: #0A1C5F;
        .descript-effect{
          display: flex;
          align-items: center;
          height: 85px;
          background-color: #0A1C5F;
          color: #FFC600;
          font-size: 28px;
          line-height: 1.2;
          margin: 0 0 12px;
          padding: 0 16px;
          font-family: "SVN-Gilroy Bold";
          text-transform: uppercase;
        }
        .content-effect{
          padding: 0 16px 20px;
          font-size: 18px;
          line-height: 1.3;
        }
      }
      .bottom-text-effect{
        font-size: 32px;
        line-height: 1.2;
        color: #0A1C5F;
        position: relative;
        text-align: center;
        width: 100%;
        span{
           font-family: "Myriad Pro Bold";
        }
      }
      .item-prize{
        display: flex;
        flex-direction: column;
        align-items: center;
        .img-prize{
          display: flex;
          align-items: flex-end;
          justify-content: center;
          width: 80%;
          img{
            max-width: 100%;
          }
        }
        .text-prize{
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          background-color: #FFC600;
          color: #0A1C5F;
          font-size: 24px;
          width: 100%;
           font-family: "Myriad Pro SemiBold";
          height: 102px;
          padding: 0 20px;
        }
      }
      @media only screen and (max-width: 1200px) {
        .item-effect{
          .descript-effect{
            font-size: 22px;
          }
          .content-effect{
            padding: 0 15px 15px;
            font-size: 16px;
          }
        }
        .item-prize{
          .text-prize{
            font-size: 24px;
          }
        }
      }
      @media only screen and (max-width: 1023px) {
        .item-effect{
          .descript-effect{
            font-size: 14px;
            height: 65px;
          }
          .content-effect{
            font-size: 15px;
          }
        }
        .bottom-text-effect{
          font-size: 24px;
        }
      }
      @media only screen and (max-width: 767px) {
        background: #ffffff;
        padding: 0;
        .list-item-effect{
          flex-wrap: wrap;
          margin-bottom: 0;
          padding: 0;
        }
        .item-effect{
          width: 100%;
          min-height: auto;
          background-color: #ffffff;
          .top-effect{
            font-size: 24px;
          }
          .descript-effect{
            font-size: 20px;
            height: 40px;
             font-family: "Myriad Pro Bold";
            line-height: 40px;
            padding: 0 30px;
            &:before{
              display: block;
              content: '';
              background: url("../images/tick-01.png") 0/100% no-repeat;
              width: 24px;
              height: 24px;
              margin-right: 12px;
            }
            br{
              display: none;
            }
          }
          .content-effect{
            font-size: 18px;
            padding: 0 30px 16px;
          }
        }
        .bottom-text-effect{
          padding: 12px 12px 0;
          font-size: 20px;
          background-color: #FFC600;
          text-align: left;
          p{
            background-color: #0A1C5F;
            color: #FFC600;
            padding: 0 20px;
            &:first-child{
              padding-top: 20px;
            }
            &:last-child{
              padding-bottom: 20px;
            }
          }
        }
        .item-prize{
          padding: 0;
          .text-prize{
            font-size: 20px;
            height: 91px;
          }
        }
      }
    }
    .box-slogan-2{
      background-color: #FFC600;
      color: #0A1C5F;
      font-size: 32px;
      line-height: 1.3;
      padding: 15px 100px;
      position: relative;
     span{
      font-family: "Myriad Pro Bold";
      line-height: 1;
     }
      .row{
       display: block;
      }
      &:before{
        display: block;
        content: '';
        background: url("../images/quotation-mark-02.png") 0/100% no-repeat;
        width: 62px;
        height: 52px;
        position: absolute;
        top: 5px;
        left: 15px;
      }
      &:after{
        display: block;
        content: '';
        background: url("../images/quotation-mark-02.png") 0/100% no-repeat;
        transform: rotate(180deg);
        width: 62px;
        height: 52px;
        position: absolute;
        bottom: 5px;
        right: 15px;
      }
      @media only screen and (max-width: 1199px) {
        font-size: 32px;
      }
      @media only screen and (max-width: 1023px) {
        font-size: 24px;
        padding: 15px 80px;
        &:before{
          width: 42px;
          height: 32px;
        }
        &:after{
          width: 42px;
          height: 32px;
        }
      }
      @media only screen and (max-width: 767px) {
        background-color: #0A1C5F;
        font-size: 20px;
        padding: 0 0 16px;
        font-family: "Myriad Pro SemiBold";
        .row{
          background-color: #FFC600;
          margin: 0 12px;
          padding: 15px 20px;
          display: block;
          text-align: left;
        }
        &:before{
          width: 18px;
          height: 20px;
          top: 3px;
          left: 13px;
        }
        &:after{
          width: 18px;
          height: 20px;
          bottom: 20px;
        }
      }
    }
    .box-info-2{
      background: url('../images/bg-info-2.jpg') 50% 0 no-repeat #aeecf8;
      min-height: 660px;
      height: auto;
      line-height: 1.4;
      padding: 20px 0;
      .detail-info{
        display: flex;
       justify-content: flex-end;
      }
      .box-list-detail{
        justify-content: flex-end;
        display: flex;
        flex-wrap: wrap;
        width: 536px;
        max-width: 100%;
        background-color: #ffffff;
      }
      .lst-detail-info{
        padding: 20px 20px 0;
        width: 100%;
        p{
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 50px;
          background-color: #ffffff;
          margin-bottom: 10px;
          border: 1px solid #707070;
          color: #636363;
          font-size: 24px;
          cursor: pointer;
          label{
            margin-bottom: 0;
            padding-left: 20px;
            flex: 1;
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
          }
          &:hover,&.active{
            background-color: #FFC600;
            color: #0A1C5F;
             font-family: "Myriad Pro Bold";
          }
          input[type=checkbox]{
            display: block;
            content: '';
            border-radius: 50%;
            border: 2px solid #636363;
            width: 29px;
            height: 29px;
            -webkit-appearance: none;
            margin-right: 24px;
            cursor: pointer;

          }
          input[type=checkbox]:checked{
            background: url("../images/like-2.png") 0/100% no-repeat;
            width: 38px;
            height: 38px;
            border: none;
            border-radius: 0;
            margin-right: 20px;
          }
        }
      }
      .btn-muangay{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 238px;
        height: 50px;
        background-color: #A70C0C;
        color: #FFC600;
        text-transform: uppercase;
        font-size: 30px;
        font-family: "SVN-Gilroy Bold";
        line-height: 1;
        margin: 20px 0;
      }
      .text-info-bottom{
        padding: 20px;
        line-height: 1;
        font-size: 28px;
        font-weight: 500;
        background-color: #27309A;
        border-radius: 39px;
        color: #ffffff;
        text-align: center;
        display: block;
        margin: 60px auto 0;
        br{
          display: none;
        }
      }
      .top-ticket{
        background-color: #0A1C5F;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 82px;
        font-size: 26px;
        line-height: 1.1;
        span{
           font-family: "Myriad Pro Bold";
        }
        .text-bottom{
          font-size: 20px;
          font-family: "Myriad Pro Regular";
        }
      }
      .form-ticket{
        padding: 0 20px;
        border-bottom: 9px solid #0A1C5F;
        h4{
          font-size: 30px;
           font-family: "Myriad Pro Bold";
          padding-left: 20px;
          text-transform: uppercase;
        }
        input{
          width: 100%;
          height: 40px;
          border: 1px solid #707070;
          padding: 0 20px;
          font-size: 24px;
        }

      }
      @media only screen and (max-width: 1366px) {
        .text-info-bottom{
          font-size: 22px;
          margin: 30px auto 0;
        }
      }
      @media only screen and (max-width: 1024px) {
        .top-ticket{
          font-size: 20px;
          .text-bottom{
            font-size: 18px;
          }
        }
        .form-ticket{
          h4{
            font-size: 20px;
          }
        }
      }
      @media only screen and (max-width: 767px) {
        .box-list-detail{
          justify-content: center;
          background-color: transparent;
        }
        .text-info-bottom{
          width: 100%;
          font-size: 14px;
          padding: 10px;
          border-radius: 0;
          line-height: 1.3;
          br{
            display: block;
          }
        }
        .form-ticket{
          border-bottom: none;
          h4{
            padding-left: 0;
          }
        }
      }
      @media only screen and (max-width: 576px) {
        background-position-x: 65%;
        min-height: auto;
        padding: 10px 0;
        .btn-muangay{
          width: 170px;
          height: 34px;
          font-size: 24px;
          // font-family: "Myriad Pro Bold";
        }
        .lst-detail-info{
          padding: 20px 30px 0;
          p{
            height: 30px;
            margin-bottom: 8px;
            font-size: 20px;
            label{
              padding-left: 10px;
            }
            input[type=checkbox]{
              width: 14px;
              height: 14px;
              margin-right: 8px;
              border:1px solid #636363;
             
            }
            input[type=checkbox]:checked{
              width: 19px;
              height: 19px;
              margin-right: 6px;
            }
          }
        }
        .top-ticket{
          height: 62px;
        }
        .form-ticket{
          padding: 0 30px;
          input{
            height: 30px;
            font-size: 20px;
          }
        }
      }
    }
    .box-reason{
      background: url("../images/bg-des.jpg") 50% 0 no-repeat #afe7fa;
      min-height: 645px;
      padding: 20px 0;
      flex-direction: column;
      .title{
        display: block;
        text-align: center;
        font-size: 53px;
        font-family: 'SVN-Gilroy',sans-serif;
        line-height: 1.2;
        width: 1088px;
        max-width: 100%;
        margin: 0 auto;
        color: #ffffff;
        span{
          font-family: "SVN-Gilroy Bold",sans-serif;
          color: #FFC600;

        }
      }
      .box-detail-reason{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        width: 1088px;
        max-width: 100%;
        padding: 20px 0;
        color: #050B5A;
        font-size: 28px;
        margin: 0 auto;
        line-height: 1.3;
        border-bottom: 2px solid #FFFFFF;
        .item-reason{
          padding: 0 15px;
        }
        .title{
          width: 100%;
          line-height: 1.2;
          color: #0A1C5F;
          text-align: right;
          font-size: 30px;
          font-family: 'SVN-Gilroy Bold',sans-serif;
          text-transform: uppercase;
          background-color: #FFC600;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 63px;

        }
        .img-reason{
          display: block;
          margin: 20px auto;
        }
        .des-reason{
          display: block;
          width: 100%;
          text-align: justify;
          padding: 0 20px;
          font-size: 20px;
          margin: 0;
          color: #ffffff;
        }
      }
      .descript-reason{
        font-size: 26px;
        color: #ffffff;
        line-height: 1.2;
        text-align: center;
        padding-top: 20px;
        p{
          margin-top: 10px;
        }
        span{
          color: #FFC600;
          font-family: "Myriad Pro Bold",sans-serif;
        }
      }
      @media only screen and (max-width: 1200px) {
        .title{
          font-size: 40px;
        }
      }
      @media only screen and (max-width: 1023px) {
        min-height: auto;
        .title{
          font-size: 30px;
        }
        .box-detail-reason{
          font-size: 20px;
          .title{
            font-size: 22px;
          }
          .des-reason{
            font-size: 18px;
          }
        }
        .descript-reason{
          font-size: 20px;
          p{
            margin-top: 6px;
          }
        }
      }
      @media only screen and (max-width: 767px) {
        background: #0A1C5F;
        height: auto;
        .title{
          font-size: 20px;
          padding: 0;

        }
        .box-detail-reason{
          padding: 20px 0;
          .item-reason{
            margin: 0 -30px 20px;
          }
          .img-reason{
            width: 76px;
            height: 76px;
            img{
              width: 100%;
              
            }
          }
          .title{
            text-align: center;
            height: 40px;
            font-size: 20px;
          }
          .des-reason{
            font-size: 20px;
            text-align: left;
            padding: 0 30px;
          }
        }
        .descript-reason{
          padding: 20px 30px 10px;
          text-align: left;
          br{
            display: none;
          }
          p{
            margin-top: 12px;
          }
        }
      }
    }
    .box-symptom{
      background: url("../images/banner-7.jpg")50% 0 no-repeat;
      height: auto;
      padding-bottom: 20px;
      .row-1{
        align-items: center;
        padding: 50px 0;
      }
      .lst-symptom{
        counter-reset: section;
        li{
          display: flex;
          align-items: center;
          font-family: "Myriad Pro SemiBold",sans-serif;
          line-height: 1.1;
          margin-bottom: 20px;
          &:before{
            counter-increment: section;
            content: counter(section);
            width: 53px;
            height: 53px;
            background-color: #FFC600;
            border-radius: 50%;
            margin-right: 12px;
            color: #0A1C5F;
            font-size: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 50px;
          }
          span{
            color: #ffffff;
            font-size: 24px;
            flex: 1;
          }
          &.active{
            &:before{
              background: url("../images/tick-07.png") 0/100% no-repeat;
              content: '';
            }
            span{
              color: #FFC600;
            }
          }
        }
      }
      .row-2{
        .input-1{
          padding-left: 10%;
        }
        input{
          background-color: #FFC600;
          font-size: 30px;
          color: #0A1C5F;
          &::placeholder{
            color: #0A1C5F;
          }
        }
        .btn-row2{
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #A70C0C;
          color: #FFC600;
          text-transform: uppercase;
          font-size: 30px;
          font-family: "SVN-Gilroy Bold",sans-serif;
          margin: 0 auto;
          width: 260px;
          max-width: 92%;
        }
      }
      @media only screen and (max-width: 1023px) {
        .row-2{
          input{
            font-size: 20px;
          }
          .btn-row2{
            font-size: 20px;
          }
        }
      }
      @media only screen and (max-width: 767px) {
        background: #0A1C5F;
        .row-1{
          padding: 20px 30px;
          .img-fluid{
            //max-width: 80%;
            display: block;
            margin: 0 auto 20px;
          }
        }
        .lst-symptom{
          li{
            &:before{
              width: 47px;
              height: 47px;
              margin-right: 8px;
              font-size: 31px;
              line-height: 47px;
            }
            span{
              font-size: 20px;
            }
          }
        }
        .row-2{
          .input-1{
            padding: 0 30px;
          }
          input{
            font-size: 14px;
          }
          .w-50{
            padding: 0 5px 0 15px;
            margin-bottom: 0;
            &:last-child{
              padding: 0 15px 0 5px;
            }
          }
          .btn-row2{
            max-width: 100%;
            font-size: 24px;
          }
        }
      }
      @media only screen and(max-width:374px) {
        .row-2{
          .btn-row2{
            font-size: 20px;
          }
        }
      }
    }

    .box-product-2{
      background: url("../images/bg-product-2.jpg") 50% 0 no-repeat #eee;
      padding-top: 30px;
      padding-bottom: 30px;
      .title-product{
        text-align: center;
        font-family: 'SVN-Gilroy',sans-serif;
        line-height: 1.2;
        color: #2E3190;
        font-size: 53px;
        margin-bottom: 20px;
        .top-title{
          font-family: 'SVN-Gilroy Bold',sans-serif;
          text-transform: uppercase;
        }
      }
      .owl-stage {
        display: flex;
      }
      .swiper-container{
        margin: 24px 0;
      }
      .owl-carousel{
        margin: 0 20px;
        overflow: hidden;
      }
      .article-box {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
      }
      .swiper-slide{
        position: relative;
        background-color: #FFC600;
        display: flex;
        flex: 1 0 auto;
        height: 100%;
        img{
          width: 100%;
        }
        .content-product-2{
          width: 100%;
          height: 50%;
          padding: 16px;
          color: #0A1C5F;
          font-size: 20px;
          line-height: 1.2;
          text-align: center;
          font-family: "Myriad Pro Condensed Bold",sans-serif;
        }
      }
      @media only screen and(width: 1024px) {
        .swiper-slide {
          .content-product-2 {
            padding: 30px;
          }
        }
      }
      @media only screen and(max-width: 1023px) {
        .title-product{
          font-size: 34px;
        }
        .swiper-slide{
          .content-product-2{
            font-size: 20px;
          }
        }
      }
      @media only screen and(max-width: 767px) {
        .title-product{
          .top-title{
            font-size: 24px;
          }
        }
        .swiper-slide{
          .content-product-2{
            font-size: 15px;
            padding: 20px;
          }
        }
      }
      @media only screen and(max-width: 576px) {
        padding: 10px 30px;
        .title-product{
          font-size: 20px;
        }
        .owl-carousel{
          margin: 0 15px;
        }
        .swiper-slide{
          .content-product-2{
            font-size: 20px;
            padding: 16px 30px;
          }
        }
      }
    }
    .box-info-user{
      display: flex;
      align-items: center;
      padding: 30px 0;
      .form-info-order{
        background: url("../images/bg-info-user.jpg") 100% 100% no-repeat;
        padding: 10px 15px 0 45px;
      }
      .btn-send-info{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 229px;
        max-width: 100%;
        height: 50px;
        background-color: #A70C0C;
        font-family: "SVN-Gilroy Bold";
        color: #FFC600;
        text-transform: uppercase;
        font-size: 30px;
        line-height: 1;
        margin-top: 9px;
        animation: zoom 1s infinite;
      }
      .lst-info-product{
        padding: 0;
        counter-reset: section;
        li{
          display: flex;
          align-items: center;
          background-color: #fff;
          height: 54px;
          border-radius: 40px;
          margin-bottom: 15px;
          padding: 0;
           font-family: "Myriad Pro SemiBold";
          &:before{
            counter-increment: section;
            content: counter(section);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 54px;
            height: 54px;
            border-radius: 50%;
            background-color: #FFC600;
            color: #0A1C5F;
            font-size: 30px;
            margin-right: 8px;
          }
          span{
            flex: 1;
            display: block;
            color: #0A1C5F;
            font-size: 20px;
            line-height: 1.1;
            padding-right: 15px;
          }
          
        }
      }
      .box-price-product{
        display: flex;
        align-items: center;
        .img-product{
          display: block;
          width: 55%;
          img{
            width: 100%;
            height: auto;
          }
        }
        .info-product{
          width: 45%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;
          color: #FFC600;
          .text-price-1{
            font-family: "SVN-Gilroy Bold";
            font-size: 64px;
            line-height: 1;
          }
          .text-price-2{
            font-family: "SVN-Gilroy";
            font-size: 30px;
          }
        }
      }
      .info-bottom-product{
        width: 355px;
        max-width: 100%;
        height: 55px;
        background-color: #0A1C5F;
        color: #FFC600;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .top-title{
       height: 130px;
        p{
          display: flex;
          align-items: flex-end;
          line-height: 1;
        }
        .left{
          display: inline-block;
          font-size: 40px;
          color: #fff;
          width: 35%;
          text-align: right;
        }
        .right{
          display: inline-block;
          font-size: 49px;
          line-height: 1.2;
          color: #FFC600;
           font-family: "Myriad Pro Bold";
          margin-left: 6px;
          width: 65%;
        }
      }
      .top-label{
        display: block;
        font-size: 24px;
        color: #ffffff8c;
        margin-left: -30px;
        margin-bottom: 15px;
      }
      .bottom-freeship{
        height: 88px;
        background-color: #0A1C5F;
        color: #FFD500;
        font-size: 30px;
        padding: 0 30px;
        line-height: 1;
        display: flex;
        align-items: center;
        span{
          display: block;
          font-size: 34px;
          font-family: "Myriad Pro SemiBold";
        }
        .left-text{
          flex:1
        }
        .right-text{
            text-align: center;
        }
      }
      @media only screen and (max-width: 1365px) {
        .box-price-product{
          .info-product{
            .text-price-1{
              font-size: 5vw;
              margin-bottom: 0;
            }
            .text-price-2{
              font-size: 3vw;
            }
          }
        }
        .top-label{
          margin-left: 0;
        }
        .top-title{
           .left{
             font-size: 30px;
           }
           .right{
             font-size: 40px;
           }
         }
        .form-info-order{
          padding: 10px 15px 0;
        }
        .info-bottom-product{
          font-size: 12px;
        }
        .bottom-freeship{
          font-size: 20px;
          span{
            font-size: 30px;
          }
        }
      }
      @media only screen and (max-width: 1023px) {
        .btn-send-info{
          width: 100%;
          font-size: 24px;
          margin-top: 9px;
        }
        .lst-info-product{
          li{
            &:before{
              font-size: 32px;
              margin-right: 8px;
            }
            span{
              font-size: 13px;
              line-height: 20px;
            }
          }
        }
        .info-bottom-product{
          font-size: 20px;
        }
        .form-info-order{
          padding: 10px 15px 0 15px;
          *{
            max-width: 100%;
          }
        }
        .top-title{
         height: 100px;
          .left{
            font-size: 26px;
          }
          .right{
            font-size: 30px;
          }
        }
        .top-label{
          margin-left: 0;
        }
        .info-bottom-product{
          height: 40px;
          font-size: 9px;
          line-height: 16px;
        }
        .bottom-freeship{
          height: 58px;
          font-size: 16px;
          padding: 0 15px;
          span{
            font-size: 20px;
          }
        }
      }
      @media only screen and (max-width: 767px) {
        padding: 0;
          .form-info-order{
            margin: 0 -15px;
            padding: 10px 0 0;
          }
          .btn-send-info{
            width: 124px;
            height: 32px;
            font-size: 16px;
          }
          .lst-info-product{
            padding: 0 15px;
            li{
              background-color: transparent;
              height: auto;
              border-radius: 9px;
              align-items: flex-start;
              margin-bottom: 8px;
              padding: 5px;
              &:before{
                width: 38px;
                height: 38px;
                font-size: 24px;
                margin-right: 8px;
              }
              span{
                font-size: 18px;
                line-height: 23px;
                color: #fff;
              }
              &:last-child{
                background-color: transparent;
              }
            }
          }
          .box-price-product{
            padding: 0 15px;
            .img-product{
              width: 45%;
            }
            .info-product{
              width: 55%;
              color: #ffc600;
              .text-price-1{
                font-size: 40px;
                margin-bottom: -3px;
                border-bottom: 2px solid #ffc600;
                padding-bottom: 5px;
                margin-bottom: 4px;
              }
              .text-price-2{
                font-size: 18px;
                small{
                  font-size: 16px
                }
              }
            }
          }
          .info-bottom-product{
            background-color: transparent;
            width: 100%;
            border-radius: 20px 20px 0 0;
            height: 57px;
            font-size: 11px;
            line-height: 16px;
          }
          .top-label{
            margin-left: 15px;
            font-size: 10px;
          }
      }
    }
    .box-progress{
      background-color: #fff;
      padding: 50px 20px;
      .title{
        font-weight: bold;
        font-size:53px;
        color: #0A1C5F;
        text-align: center;
        font-family: "SVN-Gilroy Bold";
        margin-bottom: 24px;
        text-transform: uppercase;
      }
      .list-progress{
        .item-progress{
          margin: 0 -3px;
          background-color: #0A1C5F;
          height: 100%;
          flex-direction: column;
          font-family: "Myriad Pro SemiBold";
          .detail-progress{
            font-size: 20px;
            line-height: 1.4;
            width: 100%;
            .text-top{
              padding: 15px;
              color: #FFC600;
              display: flex;
              flex-direction: column;
              justify-content: center;
              font-size: 26px;
              border-bottom: 1px solid #FFC600;
              font-family: "Myriad Pro SemiBold";
              span{
                display: block;
                font-size: 28px;
                font-family: "Myriad Pro Bold";
              }
            }
            .text-descript{
              padding: 10px  15px;
              height: 110px;
              color: #fff;
              border-bottom: 1px solid #00429B;
              ul{
                padding-left: 16px;
                margin-bottom: 0;
               li{
                 margin-bottom: 8px;
                 list-style: disc;
                 &:last-child{
                   margin-bottom: 0;
                 }
               }
              }
            }
            .text-bottom{
              padding: 10px 15px;
              background-color: #FFC600;
              color: #0A1C5F;
              height: 130px;
            }
            .btn-order{
              display: flex;
              align-items: center;
              justify-content: center;
              width: 288px;
              max-width: 100%;
              height: 50px;
              background-color: #A70C0C;
              color: #FFC600;
              text-transform: uppercase;
              font-size: 30px;
              line-height: 1;
              cursor: pointer;
              transition: all .3s ease;
              margin: 15px 0;
              &:hover{
                background-color: #FFC600;
                color: #A70C0C;
              }
            }
          }
        }
      }
      @media only screen and(max-width:1365px) {
        .list-progress{
          .item-progress{
            .detail-progress{
              font-size: 17px;
            }
          }
        }
      }
      @media only screen and (max-width: 1023px) {
        padding: 50px 15px;
        .list-progress{
          .item-progress{
            margin: 0 -10px;
            .detail-progress{
              font-size: 16px;
              .text-top{
                font-size: 20px;
                span{
                  font-size: 22px;
                }
              }
              .btn-order{
                font-size: 24px;
              }
            }
          }
        }
      }
      @media only screen and (max-width: 767px) {
        padding: 30px 0;
        .title{
          font-size: 20px;
        }
        .list-progress{
          flex-direction: column;
          padding: 0 40px;
          .item-progress{
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;
            padding: 0;
            .detail-progress{
              position: relative;
              flex:1;
              font-size: 18px;
              .text-top{
                padding: 8px 15px;
                font-size: 20px;
                span{
                  font-size: 20px;
                }
               
              }
              .text-descript{
                height: auto;
              }
              .text-bottom{
                height: auto;
              }
              .btn-order{
                width: 156px;
                font-size: 20px;
                height: 34px;
                margin: 15px 0 -15px;
              }
            }
          }
        }
        .mb-line-1{
          position: relative;
          &::before{
            display: block;
            content: '';
            position: absolute;
            width: 16px;
            height: 2px;
            background-color: #0A1C5F;
            left: -16px;
            top: -1px;
          }
          &::after{
            display: block;
            content: '';
            background: url("../images/line-arrow.png") repeat-y;
            width: 16px;
            height: 298px;
            position: absolute;
            top: 0;
            left: -16px;
          }
        }
        .mb-line-2{
          position: relative;
          &::before{
            display: block;
            content: '';
            position: absolute;
            width: 16px;
            height: 2px;
            background-color: #0A1C5F;
            left: -16px;
            bottom: -1px;
          }
          &::after{
            display: block;
            content: '';
            background: url("../images/line-arrow.png") repeat-y;
            width: 16px;
            height: 298px;
            position: absolute;
            top: 100%;
            left: -16px;
          }
        }
      }
    }
    .box-comment{
      background-color: #fff;
      padding: 30px 77px;
      .box-comment-mb{
        display: none;
      }
      .title-comment{
        display: block;
        color: #0A1C5F;
        font-size: 46px;
        text-align: center;
        margin-bottom: 25px;
        font-family: "SVN-Gilroy";
        br{display:none;}
        span{
          display:inline-block;
          font-family: "SVN-Gilroy Bold";
        }
      }
      .item-comment{
        display: flex;
        margin-bottom: 46px;
        position: relative;
        .info-user{
          color: #0A1C5F;
          font-size: 30px;
          span{
             font-family: "Myriad Pro Bold";
          }
        }
        .content-comment{
          margin: 8px 0;
          color: #000000;
          span{
            font-family: "Myriad Pro Bold";
          }
        }
        .avatar-user{
          display: block;
          width: 122px;
          height: 122px;
          overflow: hidden;
          margin-right: 28px;
          position: absolute;
          top: 0;
          left: -61px;
          z-index: 2;
        }
        .detail-comment{
          flex: 1;
          padding: 0 45px 27px 150px;
          color: #050B5A;
          font-size: 20px;
          line-height: 1.25;
          border-left: 1px solid #2E3191;
          border-bottom: 1px solid #2E3191;
          position: relative;
          &:before{
            content: '';
            display: block;
            background: url("../images/quotation-mark-02.png") 0/100% no-repeat #ffffff;
            width: 47px;
            height: 44px;
            position: absolute;
            top: 0;
            left: 80px;
          }
          &:after{
            content: '';
            display: block;
            background: url("../images/quotation-mark-02.png") 0/100% no-repeat #ffffff;
            transform: rotate(180deg);
            width: 47px;
            height: 44px;
            position: absolute;
            bottom: 26px;
            right: 0;
          }
        }
        &:nth-child(even){
          .avatar-user{
            right: -61px;
            left: auto;
            top: 0;
          }
          .detail-comment{
            order: 1;
            border-left: 0;
            border-right: 1px solid #2E3191;
            padding: 0 100px 27px;
            margin-right: 28px;
            &:before{
              top: 0;
              left: 0;
            }
            &:after{
              bottom: 25px;
              right: 50px;
            }
          }

        }
      }
      @media only screen and (max-width: 1023px) {
        .item-comment{
          .detail-comment{
            padding: 0 50px 27px 115px;
            &:before{
              left: 60px;
            }
          }
          &:nth-child(even){
            .detail-comment{
              padding: 0 115px 27px 50px;
            }
          }
        }
      }
      @media only screen and (max-width: 767px) {
        padding: 0 30px;
        .box-comment-desktop{
          display: none;
        }
        .box-comment-mb{
          display: block;
          padding-top: 25px;
        }
        .title-comment{
          font-size: 20px;
          margin-bottom: 0;
          br{
            display: block;
          }
        }
        .owl-stage-outer{
          overflow: visible;
        }
        .item-comment{
          padding: 0;
          position: relative;
          margin-bottom: 0;
          .avatar-user{
            display: none;
            width: 55px;
            height: 55px;
            position: absolute;
            top: 5px;
            left: 15px;
            z-index: 2;
          }
          .detail-comment{
            padding: 15px 15px 0 35px;
            font-size: 16px;
            line-height: 26px;
            .info-user{
              margin-bottom: 30px;
              font-size: 24px;
            }
            &:before{
              width: 20px;
              height: 20px;
              left: -10px;
              top: 0px;
            }
            &:after{
              width: 20px;
              height: 20px;
              bottom: 0;
              right: 10px;
            }
          }
          &:nth-child(even){
            .avatar-user{
              width: 55px;
              height: 55px;
              position: absolute;
              top: 5px;
              left: 15px;
              z-index: 2;
            }
            .detail-comment{
              padding: 15px 15px 27px;
              border: 1px solid #2A338B;
              margin-right: 0;
              margin-left: 0;

              &:after{
                width: 33px;
                height: 33px;
                bottom: 0px;
                right: 10px;
              }
            }
          }

        }
      }
    }
    .box-slogan-bottom{
      background-color: #0A1C5F;
      font-family: "Myriad Pro Regular";
      color: #ffffff;
      line-height: 1;
      padding: 20px 0;
      font-size: 32px;
      text-align: center;
      span{
        display: inline-block;
       margin: 0 4px;
        font-family: "Myriad Pro Bold";
       font-size: 40px;
       color: #FFC600;
      }
      .text-up-web{
        text-transform: uppercase;
      }
      br{display: none;}
      @media only screen and (max-width: 1365px) {
        font-size: 24px;
        span{
          font-size: 30px;
        }
      }
      @media only screen and (max-width: 767px) {
        padding: 10px 0;
        font-size: 20px;
        br{display: block;}
        .text-up-web{
          text-transform: inherit;
        }
        span{
          font-size: 26px;
        }
        .text-under-bottom{
          font-size: 15px;
          text-align: left;
          margin-top: 8px;
          display: inline-block;
          line-height: 1.2;
          span{
            color: #fff;
            font-size: 19px;
            font-family: "Myriad Pro SemiBold";
          }
        }
      }
    }
  }
}
.box-info-order{
  background-color: #0A1C5F;
  .container{
    background: url("../images/bg-order.jpg") 50% 100% #f3f4f4 no-repeat;
  }
  .main-order{
    padding: 0 50px;
  }
  .form-order{
    padding: 45px 30px 45px 0;
    h4, label{
      color: #0A1C5F;
      margin: 0;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
    }
    .title{
      font-size: 36px;
      margin-bottom: 12px;
      font-family: "SVN-Gilroy Bold";
    }
    input{
      width: 100%;
      margin-bottom: 5px;
      background-color: #FFC600;
      color: #0A1C5F;
      padding: 0 23px;
      font-size: 27px;
      border: none;
      height: 53px;
       font-family: "Myriad Pro Bold";
      &::placeholder{
        color: #0A1C5F;
      }
    }
    .btn-order{
      width: 240px;
      height: 52px;
      background-color: #A70C0C;
      color: #FFC600;
      text-transform: uppercase;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      cursor: pointer;
      font-family: "SVN-Gilroy Bold";
      &:hover{
        letter-spacing: 1.2px;
      }
    }
    .box-counter{
      display: flex;
      align-items: center;
      margin: 5px 0 0;
      position: relative;
      label{
        font-size: 29px;
        font-family: "SVN-Gilroy";
      }
      .box-cell-price{
        flex: 1;
        background-color:  #E74522;
      }
      .counter-main{
          @include flex_center;
        .btn-action{
          background-color: transparent;
          width: auto;
          color: #0A1C5F;
          font-size: 23px;
          font-weight: bold;
          cursor: pointer;
          &:hover, &:focus{
            color: #E74522;
          }

        }
        .input-number{
          width: 40px;
          height: 40px;
          font-size: 26px;
          color: #0A1C5F;
          padding: 0;
          text-align: center;
        }
      }
    }
    .counter-bottom{
      display: flex;
      align-items: center;
      label{
        width: 50%;
        height: 53px;
        background-color: #0A1C5F;
        color: #ffffff;
        display: flex;
        font-size: 29px;
        align-items: center;
        justify-content: center;
      }
      input{
        width: 50%;
        margin-bottom: 0;
        background-color:  #FFC600;
      }
    }
  }
  .form-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
    .box-price{
      color: #0A1C5F;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      line-height: 1.2;
      span{
        display: inline-block;
        font-size: 55px;
        font-family: "Myriad Pro Bold";
        border-bottom: 2px solid #0A1C5F;
        position: relative;
        &::after{
          content: '';
          display: none;
          width: 19px;
          height: 19px;
          background-color: #0A1C5F;
          border-radius: 50%;
          position: absolute;
          bottom: -10px;
          right: 0;
        }
      }
      label{
        font-size: 26px;
        display: block;
        width: 100%;
        font-weight: 900;
        text-align: right;
        margin-bottom: 15px;
        font-family: "Myriad Pro Regular";
        text-transform: inherit;
      }
    }
  }
  .box-product-order{
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   
  }
  .bottom-freeship{
    border-bottom: 10px solid #fff;
    background-color: #0A1C5F;
    color: #FFD500;
    font-size: 29px;
    padding: 10px 50px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    span{
      font-size: 40px;
      font-family: "Myriad Pro SemiBold";
    }
   
    .right-text{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }
  @media only screen and (max-width: 1199px) {
    .main-order{
      padding: 0;
    }
    .form-order{
      .title{
        font-size: 32px;
      }
      input{
        font-size: 24px;
      }
      .box-counter{
        label{
          font-size: 18px;
        }
      }
      .counter-bottom{
        label{
          font-size: 22px;
        }
      }
    }
    .box-product-order{
      width: 53%;
    }
    .bottom-freeship{
      span{
        display: block;
      }
    }
  }
  @media only screen and (max-width: 1023px) {
    background: none;
    .container{
      background: none;
    }
    .main-order{
      .box-order-mb{
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
      }
    }
    .form-order{
      .title{
        font-size: 28px;
      }
      input{
        font-size: 22px;
      }
      .box-counter{
        label{
          font-size: 18px;
        }
      }
      .counter-bottom{
        label{
          font-size: 18px;
        }
      }
      .btn-order{
        font-size: 30px;
      }
    }
    .box-product-order{
      width: 100%;
    }
    .col-md-6{
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 767px) {
    padding: 0;
  
    .main-order{
      .box-order-mb{
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
      }
    }
    .form-order{
      padding: 15px;
      .title{
        font-size: 20px;
        text-align: left;
      }
      input{
        font-size: 20px;
        height: 32px;
        padding: 0 15px;
      }
      .box-counter{
        label{
          font-size: 20px;
        }
        .counter-main{
          .input-number{
            width: 32px;
            height: 32px;
            font-size: 20px;
          }
        }
      }
      .counter-bottom{
        label{
          font-size: 18px;
        }
      }
      .btn-order{
        width: 170px;
        height: 32px;
        font-size: 24px;
      }
    }
    .img-product{
      width: 60%;
    }
    .form-price{
      position: relative;
      justify-content: flex-end;
      margin: 0;
      .box-price{
        position: absolute;
        bottom: -150px;
        right: 0;
        span{
          font-size: 32px;
          border-bottom: none;
        }
        label{
          font-size: 22px;
        }
      }
    }
    .bottom-freeship{
      font-size: 16px;
      justify-content: space-between;
      padding: 10px 15px;
      border-bottom: 5px solid #fff;
      span{
        font-size: 20px;
      }
    }
  }
}

