.post-related{
    padding-top: 70px;
}
.related-products{
    padding-top: 70px;
}
@media only screen and (max-width: 767px) {
    .post-related{
        padding: 30px 1rem 0;
    }
    .related-products{
        padding-top: 30px!important;
    }
}