.box-radio-button{
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #666;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #fff;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 10px;
        height: 10px;
        background: #2e3092;
        position: absolute;
        top: 4px;
        left: 4px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="radio"]:checked + label::before{
        border: 1px solid #2e3092;
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    .inner-otp{
        padding-left: 17rem;
        .btn_send_email_password{
            background-color: #fff;
            color: #ffb34a;
            font-weight: normal;
            &.btn-disable{
                background-color: #efefef;
                border: 1px solid #efefef;
                color: #a19c9c;
            }
        }
    }
}
.name-tel{
    flex: 1;
}
.cart-list{
    padding: 0;
}
.qty-quick-cart{
    align-items: flex-end;
    .btn-text{
        display: block;
        color: #1667d2;
        text-align: right;
        background: url("../images/trash.svg") 0/100% no-repeat;
        background-size: 18px!important;
        background-position:  100% 50%;
        width: 30px!important;
        height: 30px!important;
        padding: 6px 0 6px 12px;
        text-indent: -999em;
        font-size: 0;
        margin-right: 10px;
        &:hover{
            transform: scale(1);
        }
    }
}

@media  only screen and (max-width:767px) {
    
    .cart-section{
        padding-top: 0;
        .cart-list{
            margin-left: -10px;
            margin-right: -10px;
            padding-top: 0;
            .ul-cart{
                padding-right: 16px!important;
                padding: 16px;
                margin-left: -10px;
                margin-right: -10px;
                width: auto!important;
                margin-bottom: 10px;
            }
            .product-cart{
                .lead{
                    display: none;
                }
            }
            .right-qc{
                padding-right: 0;
            }
            .img-product-qc{
                padding-right: 0;
                margin-right: 12px;
            }
           
            .qty-quick-cart{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                .inline-add-cart{
                    max-width: 120px;
                    order: 2;
                }
                .btn-text{
                    position: static;
                    width: auto;
                    height: auto;
                    color: #1667d2;
                    order: 3;
                    margin-right: 0;
                   
                }
                .product-money{
                    margin-top: 0;
                    margin-bottom: 10px;
                    color: #ffb34a;
                    order:1;
                    width: 100%;
                }
            }
            .before-payment-form{
                margin-left: -10px;
                margin-right: -10px;
                padding: 16px;
                margin-bottom: 10px;
                .total-price.total-temp{
                    margin-bottom: 0;
                }
            }
        }
    }
    .cart-cta{
        a{
            width: 47%;
            margin: 0 1%;
        }
    }
    .nav-tab-line .nav-item .nav-link{
        padding: 1rem 1rem 1rem 0;
        font-size: 14px;
    }
}
@media screen and (max-width: 359px) {
    .nav-tab-line .nav-item .nav-link{
        font-size: 13px;
    }
}
@media only screen and (max-width:374px) {
    .cart-cta{
        a{
            font-size: 13px;
        }
    }
}

// update css title sản phẩm
.heading-section{
    h1, .title{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px!important;
    }
    @media only screen and (max-width: 767px) {
        h1, .title{
            font-size: 14px!important;
            margin-bottom: 10px!important;
            padding: 0!important;
            line-height: normal!important;
        }
        .heading-right {
            align-items: flex-start;
            .link-view-more{
                text-indent: -999em!important;
                margin-bottom: 0!important;
            }
        }
    }
}
