.box-search-mb {
  display: none;
}

.info-header {
  padding-left: 0;
}

.info-header .logo {
  display: none;
}

@media only screen and (max-width: 991px) {
  .new-header .up-header {
    padding: 10px 20px;
    height: 85px;
    background-color: #2e3092;
  }
  .new-header .up-header .container {
    padding: 0;
  }
  .new-header .up-header .up-header-in img {
    vertical-align: middle;
    width: 100%;
  }
  .new-header .up-header .up-header-in .up-right-header {
    margin: 0;
    height: 23px;
    line-height: 1;
  }
  .new-header .up-header .up-header-in .wrap-logo {
    display: none;
  }
  .new-header .up-header .up-header-in .nav-mobile {
    padding: 0;
  }
  .new-header .up-header .up-header-in .nav-mobile .nav-open {
    width: 20px;
    height: 20px;
  }
  .new-header .up-header .up-header-in .info-header {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 10px;
  }
  .new-header .up-header .up-header-in .info-header .logo {
    display: block;
    padding: 0;
    margin: 0;
    width: 126px;
  }
  .new-header .up-header .up-header-in .user-setting {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .new-header .link-reg-login .img-account {
    display: block;
    height: auto;
  }
  .new-header .link-reg-login .img-account label {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 0;
    display: block;
    max-width: 86px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .new-header .dropdown-toggle::after {
    display: none;
  }
  .new-header .main-cart {
    background: transparent;
  }
  .new-header .user-setting {
    border-right: none;
  }
  .new-header .user-setting .icon-user {
    width: 23px;
    height: 23px;
    margin: 0 10px 0 8px;
  }
  .new-header .user-setting .icon-user img {
    color: #fff;
  }
  .new-header .cart-div {
    width: 23px;
  }
  .new-header .main-cart {
    width: 23px;
    height: 23px;
  }
  .box-search-mb {
    display: block;
    height: 35px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 8px;
  }
  .box-search-mb button {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background: url("../images/img-company/icon-search.png") 50% 50% no-repeat #ffb34a;
    background-size: 20px;
  }
  .box-search-mb input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 35px;
    padding: 0 25px;
    border: none;
    font-size: 16px;
  }
  .box-search-mb input:focus {
    outline: none;
  }
}

@media only screen and (max-width: 768px) {
  .hero-dashboard {
    padding-top: 85px !important;
  }
  .breadcrumb-section {
    padding-top: 85px;
  }
  .new-header .mobile-nav {
    top: 85px;
  }
  .up-header-in .nav-mobile.cancel-nav-mobile .nav-close {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (max-width: 359px) {
  .new-header .up-header {
    padding: 10px;
  }
  .new-header .link-reg-login .img-account label {
    max-width: 70px;
  }
}
/*# sourceMappingURL=style-header-bar-fixbottom.css.map */