// popup đăng nhập
#register-popup{
    .modal-header{
        padding: 15px!important;
        h5{
            margin: 0!important;
            font-size: 20px;
        }
    }
    a.btn_zalo{
        background-color: transparent!important;
    }
    .tab-reg{
        border-bottom: none;
        .list-social-reg{
            display: flex;
            justify-content: center;
            padding-top: 20px;
            margin-top: 20px;
            padding-bottom: 0;
            border-bottom: none;
            border-top: 1px solid rgba(151,151,151,.4);
            &::after{
                content: "Hoặc đăng nhập bằng";
                top: -22px;
                padding: 0 10px;
                width: 205px;
                text-align: center;
            }
            .reg-item{
                width: 40px;
                text-indent: -999em;
                padding: 0;
                margin: 0 10px;
                a{
                    background: none!important;
                    border-color: transparent!important;
                    padding: 0;
                    
                }
            }
        }
    }
    .btn-text-link-login{
        color: blue;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    .modal-body{
        .btn-back-step{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            position: absolute;
            top: -55px;
            left: 20px;
            z-index: 2;
            &::before{
                display: block;
                content: '';
                background: url(../images/btn-back.svg) 0/100% no-repeat;
                width: 20px;
                height: 20px;
            }
        }
    }
    .sub-ct-form{
        .col-3{
            position: static;
            .btn_back__sub-ct-form{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                position: absolute;
                top: -55px;
                left: 20px;
                z-index: 3;
                img{
                    display: none;
                }
                &::before{
                    display: block;
                    content: '';
                    background: url(../images/btn-back.svg) 0/100% no-repeat;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}
@media only screen and (max-width:767px) {
    #register-popup{
        a.btn_zalo{
            background-color: transparent!important;
        }
        &.modal-dialog{
            height: 100%;
        }
        .modal-header{
            padding: 0 20px!important;
            height: 85px;
            position: relative;
            h5{
                margin: 0!important;
            }
        }
        .modal-body{
            height: calc(100% - 85px);
            padding: 20px!important;
            .btn-back-step{
                width: 40px;
                height: 40px;
                top: -63px;
                left: 0px;
            }
        }
        .modal-content{
            margin: 0!important;
            height: 100%;
            .close-modal{
                top: 22px;
                left: 0;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                &::before{
                    display: block;
                    content: '';
                    background: url("../images/btn-back.svg") 0/100% no-repeat;
                    width: 20px;
                    height: 20px;
                }
                img{
                  display: none;  
                }
            }
        }
        .sub-ct-form{
            padding: 0!important;
            .col-3{
                position: static;
                .btn_back__sub-ct-form{
                    width: 40px;
                    height: 40px;
                    top: -63px;
                    left: 0px;
                }
            }
        }
    }
}
