@font-face {
  font-family: "Myriad Pro Regular";
  src: url("../font/MYRIADPRO-REGULAR.OTF") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Myriad Pro SemiBold";
  src: url("../font/MYRIADPRO-SEMIBOLD.OTF") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Myriad Pro Bold";
  src: url("../font/MYRIADPRO-BOLD.OTF") format("opentype");
  font-display: swap;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.box-header-fixbottom {
  width: 100%;
  height: 80px;
  background-color: #2F3082;
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Myriad Pro Regular";
  color: #2F3082;
  line-height: 1;
}

@media only screen and (max-width: 359px) {
  .box-header-fixbottom {
    padding: 0 4px;
  }
}

.box-header-fixbottom .box-product {
  width: 81px;
}

.box-header-fixbottom .box-product .img-form {
  margin-top: -18px;
  width: 81px;
  height: 80px;
  display: block;
}

.box-header-fixbottom .box-product .img-form img {
  max-width: 100%;
}

.box-header-fixbottom .box-product .price-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 16px;
  color: #FFC600;
  font-family: "Myriad Pro Bold";
}

.box-header-fixbottom .box-product .price-form small {
  font-size: 10px;
  line-height: 1.2;
  margin-left: 2px;
}

.box-header-fixbottom .box-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.box-header-fixbottom .box-info .freeship {
  display: block;
  background: url("../images/img-freeship.png") 0/100% no-repeat;
  width: 92px;
  height: 25px;
}

.box-header-fixbottom .box-info .main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 10px;
}

.box-header-fixbottom .box-info .main-info .detail-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 30px;
  background-color: #FFC600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-family: "Myriad Pro SemiBold";
  color: #2F3082;
}

.box-header-fixbottom .box-info .main-info .detail-text small {
  display: block;
  font-family: "Myriad Pro Bold";
  font-size: 8px;
}

@media only screen and (max-width: 359px) {
  .box-header-fixbottom .box-info .main-info .detail-text {
    font-size: 13px;
  }
  .box-header-fixbottom .box-info .main-info .detail-text small {
    font-size: 8px;
  }
}

.box-header-fixbottom .box-info .btn-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  background-color: #fff;
  text-transform: uppercase;
  border: none;
  color: #2F3082;
  font-family: "Myriad Pro Bold";
  padding: 0 6px;
}

.wrapper-form-inner {
  margin: 0.5rem;
}

.wrapper-form-inner .banner-form {
  display: block;
  width: 100%;
}

.wrapper-form-inner .banner-form img {
  width: 100%;
}

.wrapper-form-inner .form-order {
  font-family: "Myriad Pro Bold";
  font-size: 12px;
  padding: 20px;
}

.wrapper-form-inner .form-order .box-form-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.wrapper-form-inner .form-order .box-form-bottom .form-group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper-form-inner .form-order input {
  width: 100%;
  height: 30px;
  border: 1px solid #021752;
  padding: 0 10px;
  color: #393939;
  border-radius: 0;
}

.wrapper-form-inner .form-order input::-webkit-input-placeholder {
  color: #393939;
}

.wrapper-form-inner .form-order input:-ms-input-placeholder {
  color: #393939;
}

.wrapper-form-inner .form-order input::-ms-input-placeholder {
  color: #393939;
}

.wrapper-form-inner .form-order input::placeholder {
  color: #393939;
}

.wrapper-form-inner .form-order button {
  width: 127px;
  height: 30px;
  font-size: 16px;
  background-color: #021752;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
}

.back-to-top {
  bottom: 85px !important;
}
/*# sourceMappingURL=style-header-fixbottom.css.map */