.fixCen{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    max-width: 100%;
    @media  only screen and (max-width:1119px) {
        width: 100%;
        // padding-left: 15px;
        // padding-right: 15px;
        >div{
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    @media  only screen and (max-width: 767px) {
        >div{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
.rs{
    list-style: none;
    padding: 0;
    margin: 0;
}
.mb-16{
    margin-bottom: 16px!important;
}
.title-1{
    font-size: 34px;
    color: #2E4057;
    line-height: 1.3;
    margin-bottom: 25px;
    letter-spacing: -1px;
    @media  only screen and (max-width: 1023px) {
        font-size: 30px;
        br{
            display: none;
        }
    }
    @media  only screen and (max-width: 767px) {
        font-size: 20px;
        text-align: center;
        span{
            display: block;
        }
    }
}
.title-2{
    font-size: 24px;
    color: #2E4057;
    line-height: 1.3;
    margin: 15px 0;
    @media screen and (max-width: 1023px) {
        font-size: 20px;
    }
    @media screen and (max-width: 767px) {
        font-size: 18px;
    }
}
.box-quote{
    position: relative;
    &::before{
        display: block;
        content: '';
        background: url("../images/img-company/icon-quote.png") 0/100% no-repeat;
        width: 27px;
        height: 19px;
        position: absolute;
        top: 0;
        left: 15px;
    }
    &::after{
        display: block;
        content: '';
        background: url("../images/img-company/icon-quote.png") 0/100% no-repeat;
        transform: rotate(180deg);
        width: 27px;
        height: 19px;
        position: absolute;
        bottom: 0;
        right: 15px;
    }
}
.main-company-content{
    color: #2E4057;
    font-size: 18px;
    line-height: 1.5;
    max-width: 1920px;
    margin: 0 auto;
    .img-banner{
        display: none;
        &.active{
            display: block;
        }
    }
    
    
    figure{
        figcaption{
            margin-top: 4px;
            font-size: 18px;
            font-style: italic;
        }
    }
    p{
        margin-bottom: 35px;
    }
   @media only screen and (max-width:767px) {
       font-size: 16px;
       p{
           margin-bottom: 16px;
       }
       figure{
        figcaption{
            font-size: 12px;
        }
    }
   }
    .menu-nav{
        .lst-menu{
            display: flex;
            border-bottom: 1px solid #A2A2A2;
            margin: 15px 0 50px;
            li{
                width: 25%;
                a{
                    display: block;
                    font-weight: bold;
                    font-size: 20px;
                    color: #2E4057;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 10px 0;
                    border-bottom: 10px solid transparent;
                    br{
                        display: none;
                    }
                    &:hover, &.active{
                        border-bottom: 10px solid #2E3092;
                    }
                }
               
            }
        }
        @media only screen and (max-width: 1023px) {
            .lst-menu{
                margin: 15px 0 35px;
                li{
                    a{
                        font-size: 16px;
                        border-bottom: 4px solid transparent;
                        br{
                            display: block;
                        }
                        &:hover, &.active{
                            border-bottom: 4px solid #2E3092;
                        }
                    }
                    
                }
            }
        }
        @media only screen and (max-width: 767px) {
            .lst-menu{
                margin: 5px 0 20px;
                li{
                    a{
                        font-size: 8px;
                        padding: 4px 0;
                    }
                }
            }
        }
    }
    .box-info-top{
        display: flex;
        .info-detail-1{
            width: 475px;
            margin-right: 20px;
            p{
                margin-bottom: 35px;
            }
        }
        .info-detail-2{
            flex: 1;
            background-color: #F8F8F8;
            padding-top: 15px;
            .top-info-2{
                padding-left: 10% ;
               
            }
            .lst-group{
                li{
                    display: flex;
                    margin-bottom: 35px;
                }
                .icon{
                    display: block;
                    width: 77px;
                    height: 76px;
                    margin-right: 20px;
                }
                .icon-1{
                    background: url("../images/img-company/icon-1.png") 0/100% no-repeat;
                }
                .icon-2{
                    background: url("../images/img-company/icon-2.png") 0/100% no-repeat;
                }
                .icon-3{
                    background: url("../images/img-company/icon-3.png") 0/100% no-repeat;
                }
                h4{
                    font-size: 20px;
                    font-weight: bold;
                }
                .info-group{
                    flex: 1;
                }
            }
            .tex-bottom-info{
                padding: 30px 10%;
                background-color: #E3E3E3;
                font-weight: bold;
            }
        }
        @media only screen and (max-width: 1023px) {
            flex-wrap: wrap;
            .info-detail-1{
                width: 100%;
                margin-right: 0;
                p{
                    margin-bottom: 16px;
                }
            }
            .info-detail-2{
                width: 100%;
                padding: 35px 0 0;
                .top-info-2{
                    padding-left: 35px ;
                    padding-right: 35px ;
                }
                .tex-bottom-info{
                    padding: 30px 35px;
                }
            }
        }
        @media only screen and (max-width: 767px) {
            .info-detail-2{
                .lst-group{
                    .icon{
                        width: 30px;
                        height: 30px;
                        margin-right: 5px;
                    }
                    h4{
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                    p{
                        margin-left: -35px;
                    }
                }
            }
        }
    }
    .detail-content-company{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 25px 0;
        .detail-col{
            width: 32%;
        }
        img{
            margin: 15px 0;
        }
        p{
            margin-bottom: 25px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        @media screen and (max-width: 1023px) {
            .detail-col{
                width: 100%;
                img{
                    max-width: 500px;
                    margin: 15px auto;
                    display: block;
                }
            }
            .detail-1{
                order: 2;
                display: flex;
                flex-direction: column-reverse;
            }
            .detail-2{
                order: 1;
            }
            .detail-3{
                order: 3;
                display: flex;
                flex-direction: column-reverse;
            }
            p{
                margin-bottom: 16px;
            }
        }
    }

    .box-info-2{
        display: flex;
        justify-content: space-between;
        .item-info-2{
            width: 49%;
            .text-slogan{
                padding: 15px 35px;
                background-color: #E3E3E3;
                font-size: 30px;
                font-weight: bold;
                text-align: center;
                .text-small{
                    font-size: 26px;
                }
            }
        }
        @media only screen and (max-width: 1023px) {
            flex-wrap: wrap;
            padding-bottom: 35px;
            .item-info-2{
                width: 100%;
                .text-slogan{
                    font-size: 16px;
                    padding: 8px 35px;
                    margin-left: -35px;
                    margin-right: -35px;
                    .text-small{
                        font-size: 16px;
                    }
                }
            }
        }
        @media only screen and (max-width: 767px) {
            padding-bottom: 20px;
            .box-video{
                margin-left: -35px;
                margin-right: -35px;
            }
        }
    }

    .box-lst-benefit{
        background-color: #383CA4;
        .lst-benefit{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 16px 0;
            li{
                width: 48%;
                color: #fff;
                padding: 8px 0;
                display: flex;
                align-items: center;
            }
            .icon{
                display: block;
                width: 84px;
                height: 84px;
                margin-right: 12px;
            }
            .icon-1{
                background: url("../images/img-company/icon-be-1.jpg") 0/100% no-repeat;
            }
            .icon-2{
                background: url("../images/img-company/icon-be-2.jpg") 0/100% no-repeat;
            }
            .icon-3{
                background: url("../images/img-company/icon-be-3.jpg") 0/100% no-repeat;
            }
            .icon-4{
                background: url("../images/img-company/icon-be-4.jpg") 0/100% no-repeat;
            }
            .content{
                flex:1;
            }
        }
        @media only screen and (max-width: 1023px) {
            .lst-benefit{
                padding: 16px 20px;
                li{
                    width: 100%;
                }
            }
        }
        @media only screen and (max-width: 767px) {
            .lst-benefit{
                li{
                    align-items: flex-start;
                    &:last-child{
                        .content{
                            border-bottom: none;
                        }
                    }
                }
                .icon{
                    width: 18px;
                    height: 16px;
                    background: url("../images/img-company/icon-09.png") 0/100% no-repeat!important;
                    margin-top: 5px;
                }
                .content{
                    border-bottom: 1px solid #ffffff80;
                    padding-bottom: 16px;
                }
            }
            
        }
    }

    .box-info-3{
        padding: 35px 0;
        .lst-info-3{
            li{
                margin-bottom: 35px;
                &:last-child{
                    margin-bottom: 0;
                }
                &::before{
                    display: inline-block;
                    content: '';
                    background: url("../images/img-company/icon-05.png") 0/100% no-repeat;
                    width: 18px;
                    height: 22px;
                    margin-right: 6px;
                    margin-bottom: -6px;
                }
            }
        }
        @media screen and (max-width: 1023px) {
            .lst-info-3{
                padding: 0 20px;
                li{
                    margin-bottom: 16px;
                }
            }
        }
    }

    .box-business{
        padding: 30px 0;
        .lst-business{
            display: flex;
            justify-content: space-between;
            li{
                width: 32%;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #fff;
                box-shadow: 5px 4px 9px #00000029;
                padding: 30px;
                text-align: center;
            }
            .icon-business{
                display: block;
                width: 79px;
                height: 61px;
                margin-bottom: 15px;
            }
            .icon-star{
                background: url("../images/img-company/icon-bs1.png") 0/100% no-repeat ;
            }
            .icon-heart{
                background: url("../images/img-company/icon-bs-2.png") 0/100% no-repeat ;
            }
            .icon-member{
                background: url("../images/img-company/icon-bs-3.png") 0/100% no-repeat ;
            }
        }
        @media only screen and (max-width: 767px) {
            .lst-business{
                padding: 0 20px;
                flex-wrap: wrap;
                li{
                    width: 100%;
                    margin-bottom: 16px;
                    padding: 10px;
                    flex-direction: row;
                    align-items: flex-start;
                    text-align: left;
                    .icon-business{
                        width: 41px;
                        height: 31px;
                    }
                    p{
                        flex: 1;
                    }
                }
            }
        }
    }

    .box-info-4{
        display: flex;
        .box-detail-4{
            width: 375px;
            margin-right: 15px;
            .lst-detail-4{
                li{
                    margin-bottom: 24px;
                    list-style: disc;
                }
            }
        }
        .box-img-4{
            flex: 1;
        }
        @media screen and (max-width:767px) {
            flex-wrap: wrap;
            padding-bottom: 35px;
            .box-detail-4{
                width: 100%;
                margin-right: 0;
                ul{
                    padding-left: 20px;
                }
            }
        }
    }
    .box-text-content{
        @media screen and (max-width: 1119px) {
            padding: 0 15px;
        }
        @media screen and (max-width: 767px) {
            padding: 0 20px;
        }
    }
    .box-advantage{
        .title-1{
            font-size: 30px;
            text-transform: capitalize;
        }
        .title{
            display: flex;
            height: 58px;
            span{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                font-size: 20px;
                font-weight: bold;
                &:nth-child(1){
                    background-color: #E4E4E4;
                    color: #2E4064;
                }
                &:nth-child(2){
                    background-color: #2E4064;
                    color: #fff;
                }
            }
        }
        .lst-item-advan{
            padding: 16px;
            border-bottom: 1px solid #E4E4E4;
            margin-bottom: 35px;
            position: relative;
            &::before{
                content: '';
                display: block;
                width: 1px;
                height: 100%;
                background-color: #E4E4E4;
                position: absolute;
                left: 50%;
                top: 0;
            }
            .item-advan{
                display: flex;
                align-items: center;
                margin-bottom: 16px;
                position: relative;
                z-index: 2;
                &:last-child{
                    margin-bottom: 0;
                }
                .number{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 58px;
                    height: 58px;
                    background-color: #2E4064;
                    color: #fff;
                    font-size: 36px;
                    font-weight: bold;
                    margin: 0 12px;
                }
                p{
                    width: calc((100% - 82px)/2);
                    margin-bottom: 0;
                    &:nth-child(1){
                        text-align: right;
                    }
                }
            }
        }
        @media only screen and (max-width: 767px) {
            .title-1{
                font-size: 20px;
                text-align: left;
                text-transform: inherit;
            }
            .title{
                margin-left: -35px;
                margin-right: -35px;
                font-size: 16px;
                span{
                    padding: 0 10px;
                    &:nth-child(1){
                        text-align: right;
                    }
                    &:nth-child(2){
                        justify-content: flex-start;
                    }
                }
            }    
            .lst-item-advan{
                margin-left: -35px;
                margin-right: -35px;
                padding: 16px 0;
                .item-advan{
                    border-bottom: 1px solid #E4E4E4;
                    padding: 0 16px 16px;
                    &:last-child{
                        border-bottom: none;
                    }
                    .number{
                        width: 32px;
                        height: 32px;
                        font-size: 19px;
                        margin: 8px;
                    }
                    p{
                        width: calc((100% - 48px)/2);
                    }
                }
            }
        }
    }
    .lst-nhamay{
        margin-bottom: 24px;
        ul{
            padding-left: 20px;
            li{
                list-style: disc;
            }
        }
        @media screen and (max-width: 767px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

